[2019-03-04 18:47] paytonrules commented on #331
I'm currently using the release @juergenhoetzel made this morning and it's working great. I had given up trying to self-build (which is why I never got back to you @enricosada ).

I suspect I wasn't including all the necessary assemblies when moving fsautocomplete in with the emacs plugin.

[2019-03-04 18:51] enricosada commented on #331
Np :)

I’ll check later with editor maintainers about how to allow easier testing of new FSAC builds

My idea is like:
- get zip from ci/localbuild (both net/net core)
- unzip in a dir and set an config/envvar to enable it

[2019-03-05 21:39] enricosada opened #349 "support for .NET Template Engine (`dotnet new`)"
Allow FsAutocomplete to support .NET Template Engine ( https://github.com/dotnet/templating )
.NET Template Engine specify the format for .NET templates used by `dotnet new` and packaged as nupkg files (more info in https://github.com/dotnet/templating/wiki ).
The integration should allow FsAutocomplete client at least to:

- list all installed templates
- gather info about a template (options/par

[2019-03-05 22:20] Krzysztof-Cieslak commented on #349
I don’t think it’s a job for FSAC to be fair. I’d rather see those features in scope of Forge ( and yes, it needs some love)

[2019-03-06 00:09] enricosada commented on #349
FSAC can do the shared wrappers/helpers needed so is easy to add to vim/emacs/vscode, so these don’t need to repeat the same, also because maybe a .NET lib is needed ( so hard client side).

About forge, yes, it’s a similar wrapper, i’ll open another issue.

[2019-03-06 01:00] aniebietudoh commented on #210
Hi @enricosada , I'm an applicant from Outreachy, and I would like to work on this feature with your guide. Please I would appreciate all relevant information to begin work on this.
Thanks.

[2019-03-20 23:44] enricosada opened #354 "missing `default.win32manifest` in `bin/release_netcore`"
added in ionide

[code]

ref https://github.com/ionide/ionide-vscode-fsharp/blob/f6209ff1df1541657e5d92ecdbc8452fc5d9e09f/build.fsx#L116-L128

[2019-03-20 23:49] enricosada opened #355 "missing `FsAutoComplete.SymbolCache*.json` in `bin/release_netcore`"
added in ionide

[code]

It add

![image](https://user-images.githubusercontent.com/147243/54726368-2f654900-4b73-11e9-819a-aafee8223ad0.png)

ref https://github.com/ionide/ionide-vscode-fsharp/blob/f6209ff1df1541657e5d92ecdbc8452fc5d9e09f/build.fsx#L114

[2019-03-21 11:26] enricosada opened #356 "dotnet crash on macOS"
from @dustinmoris:

F# Intellisense stops working, etc.

ref https://github.com/ionide/ionide-vscode-fsharp/issues/1039

Ionide v3.33.0 => FSAC b692de86d63f8bc3d70763805da80a624cb6920b
Ionide v3.34.0 => FSAC bd342d22d5088a45929c87e443db4494859eaff4

[2019-03-24 10:21] #354 closed, assigned to enricosada

[2019-03-24 11:11] enricosada commented on #355
the `runtimeconfig.dev.json` is not needed, that's a development only artifact

[2019-03-24 14:39] #355 closed, assigned to enricosada

[2019-03-28 12:28] alfonsogarciacaro commented on #356
This is affecting Fable too 😞

[2019-03-28 12:30] enricosada commented on #356
I’ll generate a test version with don’s fix and we’ll try if I’d enough.
Otherwise we need to use previous FCS

[2019-03-28 12:43] alfonsogarciacaro commented on #356
Which fix? This? https://github.com/Microsoft/visualfsharp/pull/6380

[2019-03-28 12:45] baronfel commented on #356
https://github.com/Microsoft/visualfsharp/pull/6355 this is the interesting one. I'm ready to merge it into FCS and do a release as soon as it lands in master, though I suppose I could cherry pick it as it is and do a prerelease.

[2019-03-28 12:47] enricosada commented on #356
Yes, i want to use a FCS with that cherry picked.
I didn’t yet got a way to get the stack trace of the stackoverflow on Mac, to see is the same error

[2019-03-28 13:08] alfonsogarciacaro commented on #356
Damn, I tried cherry-picking https://github.com/Microsoft/visualfsharp/pull/6355/commits/e5fcd480db2505be326e389c105f40f2167c1378 into the FCS fork we're using, rebuilt and copied to assembly to Fable, but I'm still getting the SO exception :/

[2019-03-28 14:50] alfonsogarciacaro commented on #356
I noticed the cherry-pick hasn't updated the file timestamps and the CallFsYacc and CallFsLex targets were being skipped. This brought some hope, I run `git clean -xfd` and then built again, but still getting SO exceptions on macOS 😭

[2019-03-28 15:35] alfonsogarciacaro commented on #356
Anyways, I tried pushing a new `fable-compiler` with the updated FCS and @MangelMaxime reports it's now working for his project that used to crash before, so maybe it's an improvement at the end (I'm still getting the SO exception when trying to compile Fable itself on macOS). cc @ncave

[2019-03-28 15:50] baronfel commented on #356
My crashes were all related to lexing, so I'm hopeful that the fix solves my particular issue as well. I found that out by configuring my environment to take a core dump when the process crashed and loading the dump into lldb with the `libsosplugin.dylib` for macos.

[2019-03-29 16:31] enricosada opened #359 "upgrade to FCS 28"

[2019-03-29 17:02] enricosada commented on #356
@baronfel 	can you document in a gist or somewhere the process to get the dump + lldb? will be really useful

I'll push a new FSAC with update FCS ( ref #359 )

[2019-04-01 01:14] georgewfraser opened #361 "Consider using fsprojects/fsharp-language-server as a starting point for LSP"
I recently read on @Krzysztof-Cieslak twitter that he'll be working full-time on contract with MS for the next few months, and that one of the major focuses will be finishing the LSP implementation of FSAC. Congrats!

For one moment, let me try to convince you (@Krzysztof-Cieslak) to use https://github.com/fsprojects/fsharp-language-server as a starting point for your efforts:
- Because of FSAC's

[2019-04-01 13:21] enricosada opened #362 "Add fsdn integration"
The website https://fsdn.azurewebsites.net/ allow to query for the signature of a function, and return the list of matching functions.

For example if i search for

[code]

i get as result

![image](https://user-images.githubusercontent.com/147243/55330304-f9886480-5490-11e9-8f5a-e7aca9022883.png)

who contains `List.map` for example.

The query does a GET request (like [this](https://fsdn.azurewe

[2019-04-01 17:00] #322 closed, assigned to nobody

[2019-04-01 18:31] Krzysztof-Cieslak commented on #361
TLDR; Thanks for the suggestion, but no, we won't do this.

### Longer explanation

While I appreciate that https://github.com/fsprojects/fsharp-language-server exists and I welcome anyone wanting to work on the F# tooling, I don't think it provides advantages outweighing potential costs of such move. FSAC is a long-standing project (7 years old) that has been battle-tested by thousands of users o

[2019-04-01 18:40] Krzysztof-Cieslak commented on #362
The more interesting variation of this feature would be querying against assembly entity cache rather than against the external service. This would enable us to get suggestions from current projects and assemblies we reference

[2019-04-02 01:22] georgewfraser commented on #361
Thanks for writing such a detailed response! For what it’s worth, based on my experience traipsing through FSharp.Compiler.Service and the FSAC code about a year ago, I think you will be able to get the same performance with FSAC, even with all its features. My experience was that it’s a matter of calling FSharp.Compiler.Service in just the right order that makes its internal caches happy and then

[2019-04-02 01:22] #361 closed, assigned to nobody

[2019-04-02 08:54] enricosada commented on #361
Thanks a lot @georgewfraser for the suggestion.
If you want to chat to share ideas or explain your solution or want a quick overview of FSAC, i am really happy to do it anytime, just ping me or we can schedule it.

If we can share knowledge will be awesome, also if the two projects continue to exists as separate entities, because the issues are shared.

I think @Krzysztof-Cieslak has already expla

[2019-04-02 08:56] #359 closed, assigned to enricosada

[2019-04-02 09:23] enricosada opened #364 "fsautocomplete .net core doesnt run with just .net core 3 runtime installed"
fsautocomplete require a .net core runtime v2 installed.

Otherwise runnning `dotnet fsautocomplete.dll` results in:

[code]

That's expected by .NET Core apps, because was compiled targeting 2.1 runtime, so by default as FDD will require `>= 2.1 < 3` (minor and path version upgrade allowed)

A workaround can be setting the runtime option `"rollForwardOnNoCandidateFx": 2` ( more info in  https://n

[2019-04-02 09:24] enricosada commented on #364
ref https://github.com/ionide/ionide-vscode-fsharp/issues/1057

[2019-04-02 10:07] 7sharp9 commented on #361
I actually agree with @georgewfraser this is the approach we took with the tooling in Visual Studio for Mac.   _(back in the day it was xamarin studio)_ Some of the first work I did was to strip away some incidental complexity from FSAC originally 80% of the internals were also used by xamarin studio, rip out the parser, remove the cracker, remove json encoding etc.  Basically remove all the bits

[2019-04-02 15:04] cartermp commented on #361
We're considering cleanup and perf work as a part of the deliverables in our contract with @Krzysztof-Cieslak. However, we want to rebaseline performance and measurements _after_ LSP support is in. Among other things, it changes how data is serialized to/from the FSAC process and VSCode, which means issues like #324 will now be different. How that shapes up is TBD, but it will be based on measurem

[2019-04-02 17:51] #364 closed, assigned to enricosada

[2019-04-02 18:25] baronfel commented on #356
I'm getting the same as @alfonsogarciacaro, my largeish work solution still stackoverflows on FCS 28 one the netcore runtime

[2019-04-09 17:27] tforkmann commented on #348
Got the problem with the sqlprovider today.

[2019-04-10 08:47] enricosada opened #371 "Move KeywordList in FCS"
Move [src/FsAutoComplete.Core/KeywordList.fs](https://github.com/fsharp/FsAutoComplete/blob/f19b23d41b3e7fffe3d7ba947c27ff5ce15f1dc5/src/FsAutoComplete.Core/KeywordList.fs#L3-L13) data in FCS

- `KeywordList.modifiers`
- `KeywordList.keywordDescriptions`

The data contains the description of keywords and modifiers

[code]

[2019-04-10 08:52] enricosada commented on #371
/cc @baronfel

[2019-04-10 16:16] baronfel commented on #371
out of curiosity, where did this data come from in the first place? is this something that can be derived instead of hardcoded?

[2019-04-10 16:36] Krzysztof-Cieslak commented on #371
I believe this is (or similar list) somewhere in FCS already

[2019-04-10 18:09] baronfel commented on #371
@enricosada can we switch to using the `FSharp.Compiler.SourceCodeServices.Keywords.KeywordsWithDescription` member from FCS?

https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/service/ServiceLexing.fs#L783

delegates to

https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/lexhelp.fs#L363-L440

[2019-04-10 18:12] Krzysztof-Cieslak commented on #371
Yeah, that's the list. I think we should use it instead of our custom list

[2019-04-14 21:04] enricosada commented on #371
nice, i'll use that so.

i checked the content of the list, just to be sure we arent missing something

[code]

so

[code]

so in FCS is missing `=`, in FSAC is missing `match!`

[2019-04-16 00:32] TOTBWF opened #373 "Include 'runtimes' folder in netcore release archive"
After downloading the netcore release archive and trying to run it on OSX, `dotnet` complains with
[code]
However, the version compiled from source runs just fine because of the presence of the assembly.

[2019-04-16 09:33] Krzysztof-Cieslak commented on #373
CC: @enricosada

[2019-04-16 17:07] TheAngryByrd opened #374 "Using ionide-experimental, getting errors from connection"
I'm using ionide-experimental, after opening one of my projects a got flooded with this response in the logs.

[code]

I currently don't have a repro for this.

[2019-04-16 17:18] baronfel opened #375 "[experimental] Project files are not found after project cracking is completed"
FSAC doesn't seem to crack my projects correctly, specifically no files are listed in the json payload returned:

<details>
<summary>fsproj data</summary>

[code]
</details>

<details>
<summary>json payload for one of my projects</summary>

[code]
</details>

[2019-04-16 19:50] Krzysztof-Cieslak commented on #374
It seems like a total crash of FSAC. Can you check the log in `F# Language Service (server)` output tab?

(Also it still may be connected with https://github.com/fsharp/FsAutoComplete/issues/356)

[2019-04-16 20:08] #373 closed, assigned to enricosada

[2019-04-17 17:46] #371 closed, assigned to nobody

[2019-04-19 00:24] TOTBWF commented on #331
I'm trying to build from master, also using emacs-fsharp-mode, and I'm getting the same error.

I'm using
- OSX
- mono 5.20

[2019-04-19 13:01] enricosada commented on #331
@TOTBWF let me reopen this so.

I'll add now mono 5.20 to travis build matrix to check

@TOTBWF can you try run it in debug to check what is the issues? seems a file watcher failure, so dunno if will repro in ci

[2019-04-19 17:24] TOTBWF commented on #331
I think this may have to do with the difference in-between the version of emacs-fsharp-mode on elpa (which comes from https://github.com/rneatherway/emacs-fsharp-mode-bin) and what building from source results in.

[2019-04-19 17:27] enricosada commented on #331
that's strange, ideally emacs should:
- or use FSAC as paket repo, and `build LocalRelease` and bundle built binaries
- or use new releases. i think is fixed now after your PR

[2019-04-19 17:39] juergenhoetzel commented on #331
You are trying to build `fsautocomplete.exe` (i.e. this project) and get an build error?

Or you can successfully build but get the same  `runtime-exception`  as the *OP* when using it from within `Emacs/fsharp-mode` ?

I suspect you mean `melpa`? `fsharp-mode` isn't on `elpa`.

Coul'd you verify `fsharp-mode` is using the correct version of `fsautocomplete.exe` via `flycheck-verify-setup`?

`fsha

[2019-04-19 17:45] TOTBWF commented on #331
I was working on `emacs-fsharp-mode`, using the `ac_from_src` option in the makefile. However, I tried using the version from melpa, and I got the same issue. As for `flycheck-verify-setup`, it does appear to be using the correct version. Output is here:
[code]

[2019-04-19 17:51] juergenhoetzel commented on #331
Would you mind sharing a minimal project designed to reproduce the error?

[2019-04-19 18:01] TOTBWF commented on #331
It fails for every project, so any project ought to work.

[2019-04-19 18:14] TOTBWF commented on #331
So it turns out that the version of `mono` installed via `brew` is subtly broken. Installing `mono` directly works.

[2019-04-24 14:30] enricosada commented on #356
there is a minimal repro with https://github.com/sjanahan/ionide-crash/tree/master thanks to @sjanahan

crash in osx only

the original codebase crashed also Rider (with stackoverflow  [backend-err.log](https://github.com/fsharp/FsAutoComplete/files/3112741/backend-err.log) ) but there is not yet a minimal repro for Rider

[code]

[2019-05-04 03:50] paytonrules commented on #331
@TOTBWF Can you clarify how `mono` is broken on the `brew` install?

[2019-05-16 19:01] #362 closed, assigned to nobody

[2019-05-20 22:55] enricosada commented on #375
fixed now in PR https://github.com/fsharp/FsAutoComplete/pull/347/

use Dotnet.Proj.Info.Workspace ProjectViewer type (new in v0.34) to correctly render the source list

will be released in ionide experiemental v0.2.0 (ref https://github.com/ionide/ionide-vscode-fsharp/pull/1103 )

[2019-05-21 13:03] kqr commented on #331
@paytonrules do you have any suggestion on how I can check how it's broken? I had the same issue on Mono installed from homebrew, and managed to solve it by installing Mono from www.mono-project.com instead.

[2019-05-21 13:12] paytonrules commented on #331
No clue - I did the same thing. The versions appear to be the same.

[2019-05-21 13:23] kqr commented on #331
I have submitted this to Homebrew: https://github.com/Homebrew/homebrew-core/issues/40138

If anyone knows how to reproduce in a more minimal example than the entire FSAC, please do contribute to that issue!

[2019-05-21 18:22] Krzysztof-Cieslak commented on #375
OK, Ionide-Experimental 0.2.0 is released. @baronfel please check you project again, please.

[2019-05-22 16:25] baronfel commented on #375
👍

[2019-05-22 16:25] #375 closed, assigned to enricosada

[2019-05-24 01:40] granicz commented on #361
@cartermp Are these performance measurements available now that LSP has been merged in? Also, regarding the intended feature cleanup and performance optimizations, as @7sharp9 forecasts some FSAC features will end up removed - is there a definitive list of FSAC features you are aiming for? While I have huge respect for FSAC, I also liked the simple approach fsharp-language-server took, and at the

[2019-05-24 13:13] enricosada commented on #361
@granicz i dont think most of the features create performance issues.

While i think performance matter, also real world scenarios matter, both project specific or user specific

Some are not features, like said before, but are corner case, so are quality fix.
Or corner case to support specific scenario.
It's easier to support just basic scenarios, but real world is different.

Each command in FSA

[2019-05-24 13:56] Krzysztof-Cieslak commented on #361
We don’t plan to remove any features

[2019-05-24 14:08] Krzysztof-Cieslak commented on #361
If performance is all that matters let’s replace all implementation of features with `async { return 42}` - it will work really fast.

I’m pretty sure such implementation will provide even better gifs that can be shown to prove “better performance”

I guess our users who enjoy detailed tooltips or info panel wouldn’t agree with such opinions.

[2019-05-24 15:08] cartermp commented on #361
@granicz Performance analysis work has started, #384 showing up. Given the nature of perf work, we can't really speculate on anything, but I hardly imagine markdown formatting is the bottleneck based on our own perf work in the F# compiler so far.

[2019-05-24 15:11] cartermp commented on #324
Closing this as outdated now that LSP support is in.

[2019-05-24 15:11] #324 closed, assigned to nobody

[2019-05-24 15:48] granicz commented on #361
@cartermp I didn't imply it was, it just doesn't belong there IMHO. I will watch this space for more upcoming details on the perf work then, thanks!

[2019-05-24 16:00] enricosada commented on #374
@TheAngryByrd can you retry with experimental `v0.2.0` ?
it's released, just update it

[2019-05-24 16:32] enricosada opened #385 "Move integration tests as LSP based"
- Move integration tests as LSP based
- Add unit tests for requests/responses of FSAC protocol

[2019-05-24 16:34] Krzysztof-Cieslak commented on #385
Current example of LSP based unit tests - https://github.com/fsharp/FsAutoComplete/blob/master/test/FsAutoComplete.Tests.Lsp/Tests.fs

[2019-05-24 16:46] TheAngryByrd commented on #374
Seems to be working now! Thanks 🎸

[2019-05-24 16:46] #374 closed, assigned to nobody

[2019-05-26 16:24] cartermp commented on #317
@juselius Just wanted to let you know that the issues with Type Providers are now addressed. An update to FSharp.Compiler.Service is required, but with that + the latest FSharp.Data (which uses the latest Type Provider SDK), there should be notable reductions in memory usage.

[2019-05-27 07:02] juselius commented on #317
Fantastic! I'll test it as soon as I have a chance. Thank you @cartermp!

[2019-05-31 16:15] wanderley commented on #331
I had the same problem in MacOS, and it was solved by installing mono from the official download page.

[2019-06-05 11:26] Krzysztof-Cieslak opened #395 "Remove HTTP communication layer"
As far as I know Ionide was only user of the HTTP version of FSAC. As Ionide will move towards LSP pretty soon, I think it's good moment to remove HTTP support - it would simplify code base, and reduce number of dependencies.

[2019-06-06 13:56] deyanp commented on #317
I have got the same problem, filed it with ionide though: [https://github.com/ionide/ionide-vscode-fsharp/issues/1117](https://github.com/ionide/ionide-vscode-fsharp/issues/1117)

How should I update FSharp.Compiler.Service? I dont have it referenced in my projects, I only have:

    <PackageReference Include="FSharp.Core" Version="4.6.0" />
    <PackageReference Include="Microsoft.Azure.DocumentD

[2019-06-06 19:38] enricosada commented on #395
Yes, it’s fine to remove it.

I’ll do that as single PR so i can eventually revert it if needed by someone (don’t think so)

You want to remove it before ionide 4 ship?
The overhead is not a lot, we can cleanup after it is released

[2019-06-12 14:57] #250 closed, assigned to nobody

[2019-06-12 18:00] TheAngryByrd opened #408 "Ionide experiemental: The index was outside the range of elements"
I don't have repro currently but here's the stack trace I received.

[code]

[2019-06-13 09:23] Krzysztof-Cieslak commented on #339
DEAD 🎉

[2019-06-13 09:23] #339 closed, assigned to nobody

[2019-06-13 09:23] Krzysztof-Cieslak commented on #262
`projectcracker`

DEAD 🎉

[2019-06-13 09:23] #262 closed, assigned to nobody

[2019-06-13 09:24] Krzysztof-Cieslak commented on #272
`projectcracker`

DEAD 🎉

[2019-06-13 09:24] #272 closed, assigned to nobody

[2019-06-13 09:24] #192 closed, assigned to nobody

[2019-06-13 09:25] #234 closed, assigned to nobody

[2019-06-13 09:25] #15 closed, assigned to rneatherway

[2019-06-13 09:26] Krzysztof-Cieslak commented on #105
`projectcracker`

DEAD 🎉

[2019-06-13 09:26] #105 closed, assigned to nobody

[2019-06-13 09:33] Krzysztof-Cieslak commented on #36
We should
1. Release LanguageServerProtocol.fsproj as NuGet package
2. Release FSAC.Core as NuGet package
3. Release FSAC as global dotnet tool (especially important for people that'd want to use LSP version with emacs/ST3/etc - right now suggestion for them is to build from master - look at instructions here https://github.com/emacs-lsp/lsp-mode#supported-languages)

[2019-06-13 09:33] Krzysztof-Cieslak commented on #211
I haven't see that a while

[2019-06-13 09:33] #211 closed, assigned to nobody

[2019-06-13 09:36] Krzysztof-Cieslak commented on #331
@TOTBWF managed to get latest master working with emacs lsp-mode - https://github.com/emacs-lsp/lsp-mode/pull/880

[2019-06-13 09:36] #331 closed, assigned to enricosada

[2019-06-13 09:37] Krzysztof-Cieslak commented on #292
Haven't seen that in a while

[2019-06-13 09:37] #292 closed, assigned to nobody

[2019-06-13 09:39] enricosada commented on #211
It’s anyway not supported anymore

From mobile

--
Enrico Sada
@enricosada

________________________________
Da: Krzysztof Cieślak <notifications@github.com>
Inviato: giovedì, giugno 13, 2019 11:34 AM
A: fsharp/FsAutoComplete
Cc: Enrico Sada; Author
Oggetto: Re: [fsharp/FsAutoComplete] sporadic mono crash on test/FsAutoComplete.IntegrationTests/NoFSharpCoreReference (#211)

Closed #211<https://git

[2019-06-13 09:39] Krzysztof-Cieslak commented on #243
Can't reproduce on latest master

[2019-06-13 09:39] #243 closed, assigned to nobody

[2019-06-13 09:43] enricosada commented on #198
Yes, fsharp.core must be now referenced by old sdk projects.

The no fsharp.core scenario is not supported anymore, because cannot locate where is.
and using the one bundled in FSAC is wrong (it can be not conpatible)

Closing

[2019-06-13 09:43] #198 closed, assigned to nobody

[2019-06-13 09:45] Krzysztof-Cieslak commented on #36
But we probably want to wait with releasing all that for solving FSAC ownership problem. CC: @ReedCopsey

[2019-06-13 09:45] enricosada commented on #326
Closing.

the msbuild used now is always the latest, not the one in PATH and will work if is not in PATH

[2019-06-13 09:45] #326 closed, assigned to nobody

[2019-06-13 09:54] Krzysztof-Cieslak commented on #131
This is really outdated, so I'll just close this one. We've probably fixed that ;-)

[2019-06-13 09:54] #131 closed, assigned to nobody

[2019-06-13 10:34] enricosada commented on #36
Meanwhile I’ll create the dotnet tool package ( I can add the net version inside there too)

But probably we need one package per OS, and release the .net core as self contains (more MB and per OS) to use ReadyToRun (cross gen) who Speedo FCS quite a bit, because does AOT

From mobile

--
Enrico Sada
@enricosada

________________________________
Da: Krzysztof Cieślak <notifications@github.com>
Inv

[2019-06-13 10:38] Krzysztof-Cieslak commented on #408
Fixed by afac9518fc0dcb3bf0738d64263b9bf5b3e7ae59

[2019-06-13 10:38] #408 closed, assigned to nobody

[2019-06-13 13:16] Krzysztof-Cieslak commented on #408
Fix released in Ionide-experimental `0.3.2`

[2019-06-13 16:53] Krzysztof-Cieslak opened #410 "Future of old stdio protocol"
Hey,

I'd like to have small discussion about potentially removing old stdio protocol, and leaving LSP as only protocol we support.
LSP seems to be really popular protocol that's supported by many tools and editors, and I feel there is not a lot of value in supporting custom protocol. From the maintenance point of view - it would make code base much simpler, allowing further refactoring and cleani

[2019-06-13 17:05] #395 closed, assigned to nobody

[2019-06-14 13:18] martinmoec opened #413 "Autocomplete fails after opening modules System and System.IO"
I've experienced that the auto complete fails at times in both Visual Studio and VS Code when having the "open System" and "open System.IO" imports in the given file. The autocomplete only yields something like "NOTE". It only affects the auto complete when working on the given file. I've experienced the issue over multiple projects and working environment.

**How to reproduce**
Unsure.

**Fix**
A

[2019-06-18 15:21] Krzysztof-Cieslak commented on #317
I believe the issue (original issue reported by @vbfox) is solved in latest master / Ionide 4.0

[2019-06-18 15:21] #317 closed, assigned to nobody

[2019-06-20 19:08] deyanp commented on #317
Just to note that after updating package references to FSharp.Core 4.6.2 **my issue** seems to be gone ...

[2019-06-24 21:52] baronfel opened #419 "Handle file path URIs with special characters in them"
See https://github.com/ionide/ionide-vscode-fsharp/issues/1151, especially https://github.com/ionide/ionide-vscode-fsharp/issues/1151#issuecomment-505195448, but `LocalPath` doesn't seem to work after we normalize paths.

[2019-06-24 22:05] baronfel commented on #419
Basic test suite:
[code]

Results:
[code]

[2019-06-24 22:07] baronfel commented on #419
Now I'm having a hard time finding the use case for #397 at all. It looks like we could just stop trimming starting slashes, remove the normalization step, and keep sane behavior (as long as the Uris coming to us are encoded, which they should be (and we may need to make sure that any file paths we send back are encoded))

[2019-06-25 08:30] enricosada commented on #413
Hi @martinmoec

What version of VS and VS Code extension?
In VSCode, can you also try with latest ionide version 4?

[2019-06-25 08:35] enricosada opened #421 "Error loading project with custom `obj` and `bin`dir"
Given a project with custom intermediate path (the `obj`) and output path (the `bin`), the project fails to load

## How to repro

Create a new F# library, with a `Directory.Build.Props` like

[code]

## Expected

Project load correctly

## Actual

[code]

[2019-06-25 14:15] baronfel commented on #419
If there's no objection I'll send up an MR restoring the old behavior minus the leading-slash trimming.

[2019-06-27 09:48] forki opened #426 "Spelling suggestions are broken"
Suggestions are no longer shown in Ionide since the default error message does not print it anymore and FSAC is parsing the error message

[2019-06-29 18:40] baronfel opened #429 "Update FCS dependency"
FCS 30 is indexing now on nuget, time to update! https://www.nuget.org/packages/FSharp.Compiler.Service/30.0.0

[2019-07-01 17:56] baronfel commented on #429
Dependencies that require updating:

* [x] [FSharp.Analyzers.SDK](eventstore/eventstore:release-4.1.0)
* [x] [FSharpLint](https://github.com/fsprojects/FSharpLint/pull/359)

[2019-07-03 13:40] baronfel commented on #429
Now that both deps are merged, I'll try to send a PR for this today

[2019-07-03 14:49] baronfel commented on #429
[code]

*cries in API-surface-area-change*

[2019-07-04 09:01] #429 closed, assigned to nobody

[2019-07-04 09:57] #426 closed, assigned to nobody

[2019-07-05 22:48] TOTBWF opened #436 "Improve output of `fsharp/documentation`"
Right now, the output of `fsharp/documentation` is very ionide specific. For example, consider:

[code]

This has a mix of markdown and html in it, as well as ionide specific commands, which makes it rather difficult to consume for other tools. I propose that we make the output a bit more generic by doing something along the lines of

[code]

[2019-07-07 09:40] Krzysztof-Cieslak commented on #419
@baronfel, can you add this test list to the test project and open PR? We'll see if CI is passing on all platforms

[2019-07-08 20:00] baronfel commented on #419
Should be closed now with #437 being merged.

[2019-07-08 20:00] #419 closed, assigned to nobody

[2019-07-10 08:06] sbacquet commented on #227
And here is the 2019 reminder :)

[2019-07-12 00:09] enricosada commented on #436
Another way, instead of make it more generic, is to support multiple formats in FSAC, based on an initialize config.

like:

- `signature: Markdown | PlainText`
- `signatureLinkTemplate: string`

so ionide can initialize it as

- `signature: "markdown"`
- `signatureLinkTemplate: "<a href='command:fsharp.showDocumentation?{type}"`

and others extension can choose based on supported formats.

I thin

[2019-07-12 04:18] baronfel opened #440 "More URI woes"
After the last set of changes, I broke windows. I've replicated the failing scenario in a test case.

Windows urls are coming in like this: ` "uri": "file:///d%3A/code/Saturn/src/Saturn/Utils.fs",`, which when put through the `GetFilePath` extension method we have results in a file path of `/d:/code/Saturn/src/Saturn/Utils.fs`.

Shoot me now.

Now I propose that we keep the localpath-fetching logi

[2019-07-12 04:23] Krzysztof-Cieslak commented on #440
Hahah, isn’t it the problem I’ve attempted to fix in the begging by trimming starting `/`? ;P

Maybe we should add if windows somewhere in this flow?

[2019-07-12 04:25] baronfel commented on #440
the thing I worry about adding 'Windows' is accessing remote paths from UNIX. really I only think we're missing two things from this real-world sample compared to our file-uri-handling code: the `/` at beginning for windows-only, and the fact that `:` is being encoded from VSCode even though it's not strictly necessary. If I change those two things we should be able to roundtrip all uris regardles

[2019-07-12 04:27] Krzysztof-Cieslak commented on #440
Ok, let’s do your initial suggestion, without Windows check.

[2019-07-12 14:51] baronfel commented on #410
I'd go one further: is it possible to subsume any specific editor features in fsharp-mode and vim-fsharp _into_ FSAC and eventually deprecate those projects in favor of LSP clients for the respective editors?

[2019-07-12 18:35] #440 closed, assigned to nobody

[2019-07-13 17:31] TOTBWF commented on #410
On the emacs side, we still would need to keep syntax highlighting, indentation, repl interaction, etc. separate from the lsp-mode side. I think the way to go would be to
1) Remove all the FSAC stuff from emacs-fsharp-mode, and point people to [lsp-mode](https://github.com/emacs-lsp/lsp-mode) as a _possible_ client. I know some people prefer [elgot](https://github.com/joaotavora/eglot), and though

[2019-07-13 17:36] Krzysztof-Cieslak commented on #410
I 👍 this plan

[2019-07-14 08:10] Krzysztof-Cieslak commented on #410
Initial version of LSP based vim plugin is here - https://github.com/ionide/Ionide-vim - created by @cannorin.
It's based on old vim-fsharp by @kjnilsson, with rewritten FSAC integration to use vim LSP client.

@kjnilsson any thoughts on this? I don't want to make it looks like a hostile fork, I'd be happy to add you as an owner on the repo, or we may just want to merge changes back to vim-fsharp

[2019-07-14 08:21] Krzysztof-Cieslak commented on #436
Yes, I’d rather go with solution suggested by @enricosada. One of the reasons I went with embedding Ionide specific things into the output was difficulties I had with correct displaying stuff in Panel in Ionide when I’ve attempted more generic approach

[2019-07-14 20:36] kjnilsson commented on #410
I approve of any changes that simplifies code and options and driving vim through the ionide project :)

[2019-07-15 16:03] enricosada commented on #436
What is a format nice output for:

- vim ( @cannorin )
- emac ( @TOTBWF )

i think this will be useful also in other places, for rich text output

Having it in FSAC help maintain it when internal structure change.
Using just json out may break more and be more complicate to evolve, meanwhile we can handle new types in FSAC when are added (less work for other extensions)

[2019-07-15 16:24] cannorin commented on #436
In Vim it is relatively easy to consume JSON. For texts, plain text is fine since it is hard to handle Markdown nicely (other than displaying it as-is).

[2019-07-15 16:41] enricosada commented on #436
@cannorin i mean, the idea is to format to plaintext too, but if vim has a special way to use stuff like link, bold, etc, we can format like that

[2019-07-15 17:08] juergenhoetzel commented on #410
That's exactly what I plan :+1:

Sounds like a good plan. The completion  part in `fsharp-mode` has many flaws and is tied to `company` even tough some people prefer `autocomplete`. Same issue with with the syntax-checker/linter: We use `flycheck` even tough Emacs 26 ships `flymake`, which some users prefer.

Furthermore this allows to remove the [fsharp-mode-bin](https://github.com/rneatherway/em

[2019-07-15 17:13] TOTBWF commented on #436
Emacs can handle markdown very well, so it's probably the best option on my end.

[2019-07-15 19:01] cannorin commented on #436
afaik [helptext](https://devhints.io/vim-help) is the only format with such functionality

[2019-07-22 08:11] MangelMaxime opened #444 "Upgrade to latest LTS version"
On my computer, I was able until last week to compile FsAutoComplete but since I tried to build it for checking https://github.com/ionide/ionide-vscode-fsharp/pull/1184 I can't build it anymore...

I get this error:

[code]

Below a google translate traduction of the error:
[code]

I tried to remove all the SDKs from my machine and install a fresh install of 2.1.500 but the error was still there.

[2019-07-22 16:41] cartermp commented on #444
Generally this should always be on the latest LTS; any SDK that's marked LTS but is superceded by a patch version means it's deprecated.

[2019-07-22 16:57] baronfel commented on #444
Yes please upgrade at will

[2019-07-24 16:08] #444 closed, assigned to nobody

[2019-07-30 07:51] enricosada commented on #410
Nice, so we can proceeed with LSP only for the next version of FSAC!

I'll remove it, moving all current integration tests (#385 ) to target lsp

[2019-07-30 09:54] juergenhoetzel commented on #410
👍 Next realease of `fsharp-mode` will be based on `LSP`.
I hope that next weekend I will find time for the next [tasks](https://github.com/fsharp/emacs-fsharp-mode/pull/210).

Any help is appreciated.

[2019-07-31 15:40] cartermp commented on #356
Using latest Ionide on macOS with latest .NET SDK I don't see a crash in the repro project. @alfonsogarciacaro @baronfel do you still see this? Could perhaps the Fable codebase be a testbed for this? CoreCLR is making improvements at the runtime level that should help but it'd be great to have something that repros today: https://github.com/dotnet/coreclr/pull/25932

[2019-07-31 16:58] alfonsogarciacaro commented on #356
Interestingly, I just tried to build Fable with Fable in my macOS and this time worked! But I still have the dotnet SDK pinned to 2.1.403 in global.json. Not sure, why it's working now 🤔

[2019-07-31 17:01] cartermp commented on #356
Could you try it with the latest? The compiler has had many improvements around this issue, and as of the latest bits (not available in FCS I think) we think we've smashed the bulk of them. But there are still places where the compiler emits too many `.tail` instructions and CoreCLR struggled with that. There's now work to improve that situation with CoreCLR.

[2019-07-31 17:09] baronfel commented on #356
Yeah, I need to update FCS again with July's work, but the most recent version has everything through June: https://github.com/fsharp/FSharp.Compiler.Service/releases/tag/30.0.0

I've had no issues with stackoverflows for a few months now, so I'm generally happy.

[2019-08-01 11:30] alfonsogarciacaro commented on #356
The FCS version Fable uses is based in [one branch of @ncave's fork](https://github.com/ncave/fsharp/tree/service_slim) that includes a slim checker that works a bit better with Fable watch mode. I tried to udpate it but unfortunately there are a few conflicts. I'll wait a bit to see if ncave can do magic or I'll try again later :)

[2019-08-01 16:16] cartermp commented on #356
Might be good to resolve this then. FWIW there will be even more fixes in a new FCS, mostly around utterly massive type definitions (e.g., hundreds of labels in a record field).

[2019-08-02 10:34] ncave commented on #356
@alfonsogarciacaro [Fable FCS fork](https://github.com/ncave/fsharp/pull/2) rebased to latest.

[2019-08-02 12:42] alfonsogarciacaro commented on #356
Thanks @ncave! @cartermp I just built Fable (and Fable with Fable) with latest FCS bits and everything is still working on my macOS (and on Windows in Appveyor) :)

[2019-08-02 13:56] Krzysztof-Cieslak commented on #356
Ok, let's close this one. It seems everything is working at the moment

[2019-08-02 13:56] #356 closed, assigned to enricosada

[2019-08-24 10:35] juergenhoetzel opened #448 "Enabling "Background Service" raises exception, when using Mono"
Im trying to get `FsAutoComplete` in `LSP` mode running on Arch Linux using `Mono`.

After `eglot` (Emacs LSP implementation) sends `initialize`:
[code]
`FsAutoComplete.exe` (when using `--background-service-enabled`) responds:
[code]
I suppose `libe_sqlite.so` is missing in the `net framework` build.  It is included in the `net core` build:

[code]

Most likely related to [The type initializer fo

[2019-08-24 14:49] Krzysztof-Cieslak commented on #448
Hey, yes, I workaround that in Ionide by coping native dependencies during build process - https://github.com/ionide/ionide-vscode-fsharp/blob/master/build.fsx#L140

Not sure why `dotnet publish` from FSAC build doesn’t copy native deps correctly

[2019-09-17 11:29] Krzysztof-Cieslak opened #455 "The record generator for anonymous records."
Sample code:
[code]

The error message on the second line: `Two anonymous record types have mismatched sets of field names '["A"; "B"]' and '["A"]'`.
Having info present in error message we should be able to generate stub for missing fields just like in case of normal records

[2019-09-17 11:30] Krzysztof-Cieslak commented on #323
I guess this was handled during our performance work

[2019-09-17 11:30] #323 closed, assigned to nobody

[2019-09-17 16:38] Krzysztof-Cieslak opened #456 "fsautocomplete running constantly at 12% CPU"
**Describe the bug**
A .NET Core process under VS Code with command line executing fsautocomplete.dll is constantly running and taking 12% CPU.
![Annotation 2019-08-08 095502](https://user-images.githubusercontent.com/25847560/62685291-adab7600-b9c2-11e9-927b-90408a4d11ae.jpg)

**To Reproduce**
Steps to reproduce the behaviour:
Nothing particular, just open an existing fs proj with about 10 code f

[2019-09-19 14:47] baronfel opened #457 "Project files aren't discovered on OSX if file-separator slashes are mixed"
In my work projects (on OSX with latest ionide + .net core sdk preview 9), if I have any `/` in file paths in the project file FSAutoComplete returns an empty file array in the response JSON from project parsing.

As soon as I normalize all the slashes to be `\`, the files list is populated.

[2019-10-01 11:44] Krzysztof-Cieslak opened #460 "Handle double tick names in InfoPanel/DocumentationFormatter"

[2019-10-01 16:40] 7sharp9 commented on #333
Would this be a quick fix or something like that?

[2019-10-01 19:23] Krzysztof-Cieslak commented on #333
Yeah, that would be quick fix IMO

[2019-10-01 22:53] 7sharp9 commented on #333
I’m thinking it might be tricky to find open generics...

On Tue, 1 Oct 2019 at 20:23, Krzysztof Cieślak <notifications@github.com>
wrote:

[2019-10-02 09:10] 7sharp9 commented on #460
Now fixed, but while fixing this I noticed that normal tooltip need to escape on types too, this is ok in the doc pad as they are built differently with the doc lookup markup.

[2019-10-02 09:10] 7sharp9 opened #462 "Handle double tick names in types in tooltips"

[2019-10-02 09:13] 7sharp9 commented on #462
![Screenshot 2019-10-02 at 10 11 56](https://user-images.githubusercontent.com/588746/66032373-347d5a80-e4fd-11e9-8b70-43f3f8a8d97a.png)

[2019-10-02 12:08] #460 closed, assigned to 7sharp9

[2019-10-03 02:04] baronfel opened #465 "FSI integration is broken"
Right now FSI fails in Ionide because we're computing the .Net Framework reference set for parsing script files instead of the proper reference set for .Net Core.

We should fix this, and the route we've chosen for now is to investigate the use of the `BackgroundCompiler.GetProjectOptionsFromScript` method in FCS, specifically using the `useSdkRefs` and `assumeDotNetFramework` parameters.

This wo

[2019-10-03 02:15] baronfel commented on #465
@cartermp thoughts on if `mscorlib` should be part of the reference set? the dll exists in the netcoreapp2.x sdk paths, and in the 3.0 'pack' directories. (Also the fact that nothing works without it in-editor is a compelling argument...)

[2019-10-03 09:15] 7sharp9 commented on #333
[code]
There is no symbol for the underscore, the symbol xx has two generic parameters with no properties describing if they were inferred or annotated though.

[2019-10-03 09:36] 7sharp9 commented on #333
You can get the solved generics from the constructor Typar etc but I don't think these are exposed to tooling, its a pity the `_` does not have a symbol to cross reference etc.

[2019-10-03 13:10] Krzysztof-Cieslak commented on #465
OK, so I've thought about it a bit...

1. Is `netcoreapp2.1` even viable scenario? We've resolved that in my proof of concept but that's only because FSAC itself is targeting `2.1`. As far as I understand there doesn't exist FSI that targets it - `fsi.exe` is using Full Framework and `dotnet fsi` is targeting `3.0`. Main problem here is that FCS is using current assembly location to get some of th

[2019-10-03 13:13] Krzysztof-Cieslak commented on #465
What we want is (I think):

* For `net` FSAC (hopefully it will be dead soon anyway) - support just `net462` and `fsi.exe`
* For `netcore` FSAC - support both `net462` and `netcoreapp3.0`

[2019-10-03 13:24] baronfel commented on #465
Cool. I think we can do both of those things just by using the FCS members with different args for useSdkRefs and assumeDotNetzframework.  That'd be great. Then it just turns into a question of 'what API surface needs to change to allow us to choose an execution mode?'.

[2019-10-03 15:04] cartermp commented on #465
Generally speaking the uptake on new .NET Core versions is super fast, so requiring .NET Core 3.0 isn't unreasonable, especially since by all accounts it's been a stable release.

[2019-10-04 09:28] 7sharp9 commented on #361
Heh, old thread but I never got notified at the time :-)

I didn't mean to imply features would be removed just that slow problematic code would be.  At Xamarin we removed the parser and used an alternative, we removed cracking and added an msbuild information gatherer much in the same way @enricosada did years later when msbuild was improved with dotnet i.e. the `project-info` stuff.

[2019-10-04 09:32] Krzysztof-Cieslak commented on #465
@cartermp Do we have any stats for that that you could potentially share?

[2019-10-04 17:22] cartermp commented on #465
None that I know as sharable. But given that VS will give you the latest, it's quite high. For example, you get .NET Core 3.0 with VS 2019 16.3.

[2019-10-05 17:19] jrr commented on #457
@baronfel can you give an example of how to repro this?

Should it occur in VS Code's current `Ionide-fsharp` (4.1.0)?

This seems to work just fine:

[code]

Are there any particular actions to take in VS Code to invoke the problematic project parsing?

[2019-10-07 00:47] cannorin commented on #436
Any updates on this?

I've found several tools to convert Markdown into helptext:
- https://github.com/mklabs/vim-markdown-helpfile
- https://github.com/xolox/vim-tools

Maybe we can implement something similar in F# and add it to FSAC? I'm willing to help this if you need a hand.

[2019-10-07 00:59] cannorin opened #467 "LSP endpoint to provide FSI data to load project references + optional subset of files to load"
I'm trying to replicate [the "send references for FSI" feature of Ionide-VSCode](https://github.com/ionide/ionide-vscode-fsharp/blob/d3e65078316dc5d271ccdfbbb42b6b8fca2c68aa/src/Components/Fsi.fs#L158-L167) in [Ionide-vim](https://github.com/ionide/Ionide-vim), but it seems impossible to be done with VimScript since it has not only to parse the `.fsproj` but also to get the actual assembliy locati

[2019-10-07 01:12] baronfel commented on #467
How does this sound? https://github.com/fsharp/FsAutoComplete/pull/442

[2019-10-07 01:18] cannorin commented on #467
@baronfel Sounds VERY GOOD! Sorry for not searching for PRs :bowing_man: Should I close this in favor of that?

[2019-10-07 01:24] baronfel commented on #467
Not at all! This issue can serve as the motivating issue for the PR.  Would the proposed command response structure give you what you need to go forward?  I hadn't yet integrated the work with ionide to test what a full end-to-end sample might look like, but if you can go forward with it in vim and prove it works for you, we could merge this ahead of ionide having its support.

[2019-10-07 01:34] cannorin commented on #467
If I understand correctly it returns references and other options as command line options which can be fed directly to FSI executable, and I believe it can easily be integrated into the current implementation of Ionide-vim.

[2019-10-07 01:46] baronfel commented on #467
Yeah, specifically the response types here: https://github.com/fsharp/FsAutoComplete/pull/442/files#diff-76fd5b6caf9773b324afea969b1a8ceaR424-R435  I was originally going to generate a file which could be `#load`ed as the first line of an fsx script invisibly, but then I realized that `FSI supports the `--reference` syntax so you can preload your references (and any optional .fs files that needed

[2019-10-07 01:53] cannorin commented on #467
Nice. Does it also accept a solution file instead of project files? FSAC's `workspacePeek` will peek a solution file if exists, and retrieving projects from a solution involves some hard work to be done with VimScript.

[2019-10-07 01:56] baronfel commented on #467
It does not currently. What would you want a 'solution FSI context' to contain?

[2019-10-07 02:00] cannorin commented on #467
Since simply combining all the project contexts would easily conflict and break each other, it will be great if you can add an endpoint to FSAC which peeks currently loaded projects so that users can choose one of them.

[2019-10-07 13:54] baronfel commented on #467
I'm going to rename this issue to be about the project FSI context, and I'll make a new issue for listing the set of loaded projects.  Then once that is done, you could daisy-chain user interactions:
* list projects
* prompt user for choice
* take user choice and generate FSI context for that project.

[2019-10-07 13:57] baronfel opened #468 "Make an LSP endpoint that returns the list of active workspace projects"
As a side thread from #467, it would be helpful to consumers like vim/emacs to have a command to list the projects that are loaded in the current context (typically via the workspacePeek command).

@cannorin, what data would be useful here? I'm imagining an array of structures like:

[code]

[2019-10-07 22:19] cannorin commented on #468
That's enough for the purpose I imagined, but I've just come to think if we add the list of source files we can easily replicate the project explorer in Ionide-VSCode.

[2019-10-07 22:35] baronfel commented on #468
FYI all we do to make the project tree in vscode call the `project` endpoint for each fsproj which gives back an array of items, so you should have all of the pieces available already, if not so nicely available :)

[2019-10-07 23:17] cannorin commented on #468
Ah not aware of that endpoint. Sorry & thanks :sweat_smile:

[2019-10-08 13:57] PhilT opened #471 "`fsautocomplete --mode lsp` unknown option"
When trying to run `fsautocomplete --mode lsp` as per the documentation I get the following error:

[code]

This is in the release zip file 0.38.1. I've tried building but that fails. I'm not sure if this project supports .NET Core 3 yet and whether that still requires the VS Build Tools which I don't have installed but could do if that's what it takes.

[2019-10-08 14:01] PhilT commented on #471
So it seems LSP is only on master. A pre-release zip would be really nice.

[2019-10-08 14:01] #471 closed, assigned to nobody

[2019-10-08 16:20] Krzysztof-Cieslak commented on #465
Fixed by #466

[2019-10-08 16:20] #465 closed, assigned to nobody

[2019-10-08 18:29] Krzysztof-Cieslak commented on #227
Solved as part of #466, yay!

[2019-10-08 18:29] #227 closed, assigned to nobody

[2019-10-08 18:31] Krzysztof-Cieslak commented on #222
This is probably outdated due to all changes that happened over last 2 years.

[2019-10-08 18:31] #222 closed, assigned to enricosada

[2019-10-08 18:31] Krzysztof-Cieslak commented on #258
This is probably outdated due to all changes that happened over last 2 years.

[2019-10-08 18:31] #258 closed, assigned to nobody

[2019-10-08 18:32] Krzysztof-Cieslak commented on #413
Can't reproduce problem.

[2019-10-08 18:32] #413 closed, assigned to nobody

[2019-10-08 18:35] Krzysztof-Cieslak commented on #468
Also, if you subscribe to LSP notifications (`fsharp/notifyWorkspace`) you should get all project info sooner or later after calling `fsharp/workspaceLoad`

[2019-10-09 01:42] cannorin commented on #468
@Krzysztof-Cieslak if I understand correctly it will notify each project found in a solution as `CoreResponse.Project`?

[2019-10-09 04:01] HoraceGonzalez commented on #465
For some reason, intellisense does not seem to be working in `*.fsx` files. No tooltips or anything.

I noticed the following error in the output logs:
[code]
Perhaps it's related to this PR?

I'm currently running ubuntu 18.04, dotnet sdk 3.0.100, mono 6.0.0.319, and ionide 4.2.0. I'm also using the netcore version of fsac and `"FSharp.useSdkScripts": true` in my ionide settings.

Also my dotnet

[2019-10-09 08:08] Krzysztof-Cieslak commented on #468
Yes

[2019-10-09 09:44] cannorin commented on #468
Ah then I can utilize it for my purpose (though some work would be needed to handle the notifications). Turns out I've got everything I need from the beginning...

[2019-10-09 09:48] Krzysztof-Cieslak commented on #468
If we have some info in Ionide we’re getting it from FSAC so you should have access to everything  ;-)

[2019-10-09 12:15] baronfel commented on #465
The initial error you saw is because we assume the default dotnet sdk install location of /usr/local/share/dotnet. We'd need to add a way to discover your dotnet root before this would get fixed for you.

[2019-10-09 13:53] johlrich opened #474 "Ability to customize Fantomas code formatting options"
The default settings are being used at the moment. We should consider adding the ability to configure the settings used.

Ideally this would be done in a way that can be overridden per repository.

Some comments from #editor_support slack thread that led to this isssue:

"It would be cool if Fantomas had some kind of settings.json files that we could load instead of adding all options to the Ionid

[2019-10-09 13:56] johlrich commented on #474
Related issue in fantomas: https://github.com/fsprojects/fantomas/issues/354

[2019-10-09 14:24] HoraceGonzalez commented on #465
Aww, geez. I totally missed that `local` in the path. I can reinstall dotnet as a workaround.

Thanks, @baronfel!

[2019-10-09 14:25] baronfel commented on #465
It's something we can do better at for sure. Part of the nature of the SDK is that it can be installed anywhere, so to be 100% correct we'd need a discovery mechanism :-/

[2019-10-09 14:28] HoraceGonzalez commented on #465
You know, while I was working with the previews, I ended up setting an env var called, `DOTNET_ROOT` in my `.bashrc`. I think it was necessary for the `dotnet-install.sh` script.

[2019-10-09 14:30] baronfel commented on #465
Yeah, any discovery mechanism we did would probably look at

1. A user-set LSP setting (maybe fsharp.dotnetSdkRoot?)
1. The DOTNET_ROOT env variable
1. Us invoking `dotnet --info` from your project root and parsing the output of that :scream:

And maybe that's enough to cover most folks use cases.  The hard part is doing that in ionide/other clients and passing that info into FSAC

[2019-10-09 15:10] Krzysztof-Cieslak commented on #465
Yeah, adding setting and checking `DOTNET_ROOT` sounds like reasonable options and shouldn’t be too difficult to add. Keep in mind both should flow through other parts of Ionide when we use `dotnet` (spawning FSAC, Ionide, `dotnet build` integration etc)

[2019-10-09 15:24] baronfel opened #475 "Allow customization/auto-detection of dotnet SDK root"
The default SDK roots don't work for everyone, so we should let that value be set by the user/discovered from runtime context before defaulting to our hard-coded value.

The algorithm should be something like:

* user-set config value (dotnetSDKRoot, maybe?)
* environment variable (DOTNET_ROOT is standard here)
* one of the following:
  * invoking `dotnet --info` and parsing out the `Base Path` li

[2019-10-09 15:25] baronfel commented on #465
@HoraceGonzalez please check out https://github.com/fsharp/FsAutoComplete/issues/475 and leave any additional comments there

[2019-10-09 15:27] baronfel commented on #475
One note is that we could detect the root in Ionide/clients and then invoke FSAC with the DOTNET_ROOT environment variable set to sidestep any probing in FSAC directly...

But at that point why not just pass in via config?  Probably worth just doing the first two bullet points on this list and punting on the third.

[2019-10-09 15:45] HoraceGonzalez commented on #475
Agreed. The first two points would cover 99% of cases.

[2019-10-09 16:51] HoraceGonzalez commented on #475
@baronfel, as a workaround, I used the `dotnet-install.sh` script to install dotnet sdk 3.0.100 to `/usr/local/share/dotnet`, then updated `DOTNET_ROOT` and added it to my path.

This fixed the errors about `mscorlib.dll`, but the new issue now is that intellisense isn't working for nuget packages. I use the `paket generate-load-scripts` command to include all the `*,dll` references and load via `

[2019-10-10 03:39] baronfel opened #478 "Implement smart code folding"
Per https://github.com/ionide/ionide-vscode-fsharp/issues/1226#issuecomment-539604434 we should implement the [`textDocument/foldingRange`](https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/#textDocument_foldingRange) command to get smart fold ranges for the editor.

[2019-10-10 19:53] Krzysztof-Cieslak commented on #478
Fixed by #479

[2019-10-10 19:53] #478 closed, assigned to nobody

[2019-10-10 19:58] #475 closed, assigned to nobody

[2019-10-11 22:33] Gastove opened #480 "Discussion/Feature Request: expand the range of `textDocument/codeAction`"
First: this is an amazing project, and I thank y'all for it. _Especially_ LSP support; that has made my development life worlds better :D

I want to raise a point of ergonomics; if this has already been discussed somewhere I'm just not finding, I do apologize! I tried to be thorough in my search of history, but there's... a lot of history.

It goes like this. Say I've got this type:
[code]
Great,

[2019-10-13 19:47] baronfel opened #481 "Go-To Definition: Enable go-to-definition of symbols in decompiled code"
I know we don't actually have intellisense for the members in the code, but is it possible to annotate the rendered types in the decompiled code with a link/command that would invoke the decompile functions again for that type? Sorta like what @MangelMaxime was working on for the InfoPanel-action.

[2019-10-15 23:21] Angr1st commented on #455
I would like to tackle this. Do you know where the stub for the missing fields for regular records is created?

[2019-10-17 16:50] 7sharp9 opened #483 "This lines throws an exception"
https://github.com/fsharp/FsAutoComplete/blob/e7a5d91303a28ad580da9f68a623a6ca913ebe79/src/FsAutoComplete/FsAutoComplete.Lsp.fs#L672

Exception details:
[code]

Solution = use List.tryHead

[2019-10-17 18:05] Krzysztof-Cieslak commented on #483
God bless past me 😆

[2019-10-17 18:10] juergenhoetzel opened #484 "Appveyor builds are failing because of missing 2.1.801 .NET Core SDK"
https://ci.appveyor.com/project/fsautocomplete/fsautocomplete/builds/28186770#L225

even though it  it should be available in the VS 2019 image:

https://www.appveyor.com/docs/windows-images-software/#net-framework

and worked in the past: https://github.com/fsharp/FsAutoComplete/pull/452

Does someone has an idea of what might be going wrong here?

[2019-10-17 18:13] Krzysztof-Cieslak commented on #484
Yes, Appveyor broken it (i.e. removed 2.1.801) and haven't updated the docs 🤕

[2019-10-17 18:21] juergenhoetzel commented on #484
Thank you very much for the quick feedback.

What is the reason for this? :thinking:

In my LSP branch I use the Appveyor artifacts to install `fsautocomplete` automatically. I noticed that they are not up to date.

Maybe we should downgrade until they fixed it?

https://github.com/juergenhoetzel/emacs-fsharp-mode/blob/LSP/eglot-fsharp.el#L68

[2019-10-18 15:03] Krzysztof-Cieslak opened #485 "Go-to-definition decompiler doesn't work for the F# references."
For some reason FCS reports `FSharpFindDeclResult.DeclFound` for symbols declared in external F# libraries - we then handle it at normal go-to and attempt to return the result to the client, which ends up in error as such file probably doesn't exist on user machine. Example (note it reports path from @baronfel machine, when I try to do go-to-def on my machine):

![image](https://user-images.github

[2019-10-18 15:06] Krzysztof-Cieslak opened #486 "Go-to-definition decompiler puts `throw null` in bodies of all members/properties for refs libraries."
This happens on .Net Core / .Net Standard for any symbol which definition is added through reference library (for example `netstandard.dll` or `System.Runtime`).

Sample for `float`:
[code]

[2019-10-18 15:10] baronfel commented on #486
Confirmed, if you decompile System.Private.Corelib you can see the actual definitions for those members^

[2019-10-18 15:14] #462 closed, assigned to nobody

[2019-10-18 16:57] baronfel commented on #455
The current record stub generation code is found `src/FsAutoComplete.Core/RecordStubGenerator.fs`, and the place it's called is the `GetRecordStub` member in  `src/FsAutoComplete.Core/Commands.fs`.  My guess is that `shouldGenerateRecordStub` needs to be updated to apply to anon records with 'missing' fields, and `formatRecord` would need to be updated as well.

[2019-10-27 00:35] enricosada commented on #484
Fixed

[2019-10-27 00:35] #484 closed, assigned to nobody

[2019-10-27 17:06] baronfel opened #491 "[LSP] Need way of allowing users to set the `Debug.verbose` property"
We need a way to set the `Debug.verbose` property so that users can get the inner, actual logs (especially from the FSX script context or inner failures of typechecking).  Right now helping users figure out _why_ things are failing is a crapshoot.

[2019-10-28 09:57] #483 closed, assigned to nobody

[2019-10-28 11:46] Krzysztof-Cieslak commented on #491
Passing `--verbose` sets `Debug.verbose` property - https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete/Options.fs#L85

[2019-10-28 16:07] baronfel commented on #491
ok, so what we'd need to do is on the ionide side see if the `verboseLogging` setting was set and invoke FSAC with the new setting. The downside to this is that if the user changes the setting it requires a restart of FSAC to handle the change.

[2019-10-28 17:55] Krzysztof-Cieslak commented on #491
It is exactly what Ionide is doing right now ;-)

https://github.com/ionide/ionide-vscode-fsharp/blob/master/src/Core/LanguageService.fs#L567

[2019-10-28 17:55] baronfel commented on #491
😡

[2019-10-28 17:56] #491 closed, assigned to nobody

[2019-11-10 01:38] baronfel commented on #486
This is because we find the ref assembly instead of the actual implementation assembly. I don't know of any mechanism to find an implementation assembly given a ref assembly, at least not without doing more path probing....

[2019-11-10 08:21] gsuuon opened #495 "Windows - cross-file types not updated"
I'm not seeing updated types reflected across files on Windows 10, `:%s/\r\n/\r/` on `obj\Debug\<target>\<project>.AssemblyInfo.fs` seems to get it working again.

[2019-11-10 15:00] baronfel opened #496 "Add a way to pass in FSI additional options to use when typechecking"
Right now we assume `--langversion:preview` when typechecking scripts, because this in no way impacts things if a user doesn't use any preview features. This may not always be the case in the future, depending on which features end up behind the preview langversion flag.

To keep FSI and the typechecker in sync, we should provide a way for any user-configured FSI options (for example the `"FSharp.

[2019-11-10 23:33] ghost opened #498 "Inconsistent Type Signatures on Hover"
In VsCode, there are 3 places that type signature occur:
1. info panel (down the bottom)
2. comment style (if enabled)
3. dialog box on hover

Currently, number 3 is broken:
[code]

With 1 and 2, this is correctly displayed as `string * int[] * (int * int) []`, however, on hover (3) it shows `val test : string * int array * int * int array`, which is incorrect. Example:
![screenshot](https://user-

[2019-11-11 18:41] #496 closed, assigned to nobody

[2019-11-11 18:53] #498 closed, assigned to nobody

[2019-11-12 03:01] ghost opened #500 "Inconsistent Type Signatures on Hover #2"
Following on from #498 , here is another interesting one:
[code]
Hover over edges here shows `list<uint32 * int>` as opposed to `list<struct(uint32*int)>`, the correct signature in the inline comments and also the info panel.

It leads to some issues as the easiest way to copy type signature in ionide+vscode is the hover dialog

[2019-11-13 00:08] baronfel opened #503 "More scripting reference issues"
The set of references seems to be ok now, but for some reason we have 4 spurious references that are sneaking in somehow:

<details>
<summary>The list of references we include now</summary>

[code]

</details>

<details>
<summary>The parse errors we get</summary>

[code]

</details>

So the gist is that _something_ in the compiler/FSI typechecking is including those somehow?

We _should_ be able t

[2019-11-13 02:37] baronfel commented on #503
These are definitely related to some stuff upstream in the compiler. These errors end up in the 'unresolvedreferencesset', which is populated only from the 'load closure' of the script.

[2019-11-13 03:07] baronfel commented on #503
This was all because we were targeting the wrong profile. See MR for details.

[2019-11-14 22:09] #503 closed, assigned to nobody

[2019-11-14 22:10] #500 closed, assigned to nobody

[2019-11-15 20:42] Krzysztof-Cieslak commented on #410
#493 removed the old protocol from the code base. We will support only LSP from now on.

[2019-11-15 20:42] #410 closed, assigned to nobody

[2019-11-18 21:04] Angr1st commented on #455
Is there a Tool or Documentation to visualize the AST of F# Source Code to improve my understanding of the differences between a RecordExpression and an AnonRecordExpression?

[2019-11-18 21:05] baronfel commented on #455
Yep! There's a good one over at https://jindraivanek.gitlab.io/ast-viewer, and a slightly-less good one at sharplab.io.

[2019-11-18 21:20] #249 closed, assigned to nobody

[2019-11-18 21:22] Krzysztof-Cieslak opened #506 "Deprecating Full Framework version of FSAC"
I think we all agree that in terms of tooling host .Net Core is better, more stable target. And that .Net Core is a future of .Net. So my proposal would be to remove multi-targeting from FSAC, and target just .Net Core as runtime platform.

Keep in mind it doesn't mean dropping support for Full Framework projects, it just means you need .Net SDK to run FSAC.

[2019-11-27 10:42] tani opened #507 "Installation of FSAC with dotnet tool"
Hello,

FSAC is installed by manually or automatically by the scripts of each plugin. I propose a new installation with `dotnet tool`. This method is used by some official utilities such as `dotnet-try`, and a few F# projects. FAKE is one example.

## Pros:
- Each plugin can call the API without a specific script. It is `dotnet tool install fsautocomplete`.
- Quite simple to install FSAC alone.

#

[2019-12-02 20:36] juergenhoetzel commented on #507
I second this. :+1:  I prefer a `dotnet install/update`  instead of reinventing the machinery on the editor-side: https://github.com/fsharp/emacs-fsharp-mode/issues/228

[2019-12-05 18:26] NatElkins opened #509 "Memory leak"
Making an issue here at the request of @Krzysztof-Cieslak .  When using Ionide on a large solution (60+ projects), there is a memory leak.

Details originally in this issue: https://github.com/dotnet/diagnostics/issues/669

The leaky process from that original issue was

[code]

which, while I was not actively using Ionide (it was just open in the background), eventually consumed 21GB of memory be

[2019-12-12 15:37] NinoFloris opened #513 "Discarded this and member private shows error"
Discarded this and member private shows error but does compile (potentially other forms don't take into account discard either)

[code]

[2019-12-12 17:56] baronfel commented on #513
@NinoFloris do you have VS installed to test if this happens there as well?

[2019-12-12 18:09] NinoFloris commented on #513
On macOS :)

[2019-12-12 18:50] baronfel commented on #513
Mathis did some testing on VS2019 for me and that editor accepts the syntax, so we likely have an FCS/FSAC bug here.  @NinoFloris what version of Ionide was this on?

[2019-12-12 19:06] baronfel commented on #513
we already have this fix in a more recent version of FCS (https://github.com/dotnet/fsharp/commit/47072af3e159246e4bec420124db27cbf99db0de#diff-f684cd54cc6b2765be570b976a252d3c), the next release of Ionide will handle this.

[2019-12-17 10:52] tani commented on #507
It have already been done. https://github.com/fsharp/FsAutoComplete/pull/423

[2019-12-17 10:52] #507 closed, assigned to nobody

[2019-12-18 19:27] ncihnegn opened #516 "ERROR: unrecognized argument: "--mode""
Same as #471 but my build from the master branch still reports the same error.

[2019-12-19 13:56] Krzysztof-Cieslak commented on #516
As mentioned in #471 - there is only LSP mode in the master, which means there is no `--mode` argument any more.

[2019-12-19 22:03] ncihnegn commented on #516
Ah. Got it.

[2019-12-19 22:03] #516 closed, assigned to nobody

[2019-12-19 22:05] ncihnegn commented on #516
Corresponding lsp-mode update: https://github.com/emacs-lsp/lsp-mode/pull/1231

[2020-01-08 13:36] nojaf opened #520 "Expose diagnostics endpoint to view versions of dependencies"
It would be nice if there was some sort of endpoint that returns the versions of all the tools used by FSAutocomplete.

Fantomas for example exposes the version and this could be useful when logging issues.
Or show that version in the about section of Ionide or diagnostics dump.

//cc @baronfel

[2020-01-08 13:55] baronfel commented on #520
yeah! Ideally this would be consumed and integrated into the 'diagnostics' command that already exists in Ionide.  I'm not sure of a way to automatically-generate this list, it may require a bit of manual setup.

ie (pseudocode):

[code]

and we'd expand that list of known-dependencies by hand?

[2020-01-08 14:02] baronfel opened #521 "Improve logging subsystem"
We should replace the current printf-based logger with a structured logger.

Ideally any logger we'd use would:

* provide categories as a first-class feature
* support structured logging
* support logging to multiple outputs (ie. stdout + file)
* support good formatting of F# values
* be configurable in terms of which categories are logged and which log levels are written

To fulfill all of those

[2020-01-08 14:03] nojaf commented on #520
Little side note, for Fantomas we added a [method to the public api](https://github.com/fsprojects/fantomas/blob/master/src/Fantomas/CodeFormatter.fsi#L35) to get the version.
It does [the same thing more or less](https://github.com/fsprojects/fantomas/blob/master/src/Fantomas/Version.fs#L5) but reads another assembly attribute that contains the `beta` information as well.

[2020-01-16 21:12] Krzysztof-Cieslak opened #524 "Autocomplete issue"
For the following code:
[code]

Autocomplete fails (i.e. no autocomplete after I've pressed `.`) with following log:

[code]

Related Ionide issue:  https://github.com/ionide/ionide-vscode-fsharp/issues/1289

[2020-01-16 21:21] Krzysztof-Cieslak commented on #485
This now reports nice error popup (`No declaration found for XXX`) rather than the error box with some random path.

This is due to the fact that C# references gives `FSharpFindDeclResult.ExternalDecl` case and F# ones `FSharpFindDeclResult.DeclFound` with non existing file.

https://github.com/fsharp/FsAutoComplete/blob/6ebd67f274b2a13ef096b5c1162db6cf854f5c61/src/FsAutoComplete.Core/CompilerServ

[2020-01-16 21:23] Krzysztof-Cieslak commented on #474
This is done now.

[2020-01-16 21:23] #474 closed, assigned to nobody

[2020-01-16 21:24] Krzysztof-Cieslak commented on #468
Recommended way of getting project info is using `fsharp/notifyWorkspace` notification.

[2020-01-16 21:24] #468 closed, assigned to nobody

[2020-01-16 21:27] #513 closed, assigned to nobody

[2020-01-16 21:28] Krzysztof-Cieslak commented on #513
This should be already fixed.

[2020-01-16 21:49] #156 closed, assigned to nobody

[2020-01-16 21:49] #348 closed, assigned to nobody

[2020-01-17 15:31] baronfel opened #525 "Provide an AST model of a file or selection"
It would be helpful for tool developers (or those developing an analyzer!) to have an easy way to view the AST of the current file/the current selection in some way. I was thinking endpoints like:

[code]

And then clients could specify the format they wanted and render accordingly.  First pass could just be the `sprintf "%A"` representation of the AST, but later iterations could embed more of the

[2020-01-18 19:52] #349 closed, assigned to nobody

[2020-01-20 04:46] baronfel commented on #521
With #527 merged, the next step would be to pipe through in ionide a list of 'categories' to filter, and pass those in via the `VFilter` option that FSAC already has. This is not a configurable mechanism (Serilog is very much a 'set at startup and leave it alone' model), so startup is our only option.

[2020-01-29 12:53] tani commented on #36
@enricosada @Krzysztof-Cieslak I could not found any packages about FSAC on nuget.org, Do you have any plan to upload these packages?

[2020-01-29 16:06] forki opened #536 "Consider to crossgen FSAC on install"
crossgen is the new ngen and works x-plat. We should try to crossgen

Tbf I know nothing about this. /cc @cartermp @dsyme

[2020-01-29 16:26] baronfel commented on #536
It looks like the easy way to do this would be to start producing runtime-specific packages and do the crossgen as a build step: https://codetherapist.com/blog/netconf-netcore3-crossgen/

That would make the total artifact size quite a bit larger and require us to look into some kind of per-OS binary download mechanism in for VS Code extensions.

It might also be possible to have the various edito

[2020-02-03 15:29] forki opened #546 "FAKE support draws huge deps"
Currently we have FakeSupport.fs which allows us to print which FAKE targets are available.

For this we depend on Fake.Runtime and this kind of a nightmare. It even draws Paket.Core and things like Chessie.

@matthid is there a more leightweight way to detect what targets are available? Maybe just grep in build.fsx?

[2020-02-03 15:35] Krzysztof-Cieslak commented on #546
Original discussion about FAKE support was here - https://github.com/fsharp/FsAutoComplete/pull/402

[2020-02-03 16:06] matthid commented on #546
What is the exact problem?

[2020-02-03 16:08] matthid commented on #546
I'd say the alternative is having a buggy feature. So it might make more sense to discuss what the real problem is, because "huge deps" is not really a problem by itself.

[2020-02-25 15:35] baronfel opened #558 "Update FSharplint detail links to use the new per-code pages"
As of [fsharplint v0.13.2](https://github.com/fsprojects/FSharpLint/issues/362), there are new documentation pages for each exported error/warning code. We should update the [`pageforLint`](https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete.Core/Lint.fs#L31) function to render these urls instead of the older per-topic urls.

[2020-02-25 23:08] baronfel opened #559 "Add links to detailed help pages for errors and warning where applicable"
Once https://github.com/microsoft/vscode/issues/11847 lands, we should be able to update the diagnostics api to include the new `target` property and easily link up things like FSharpLint error codes and F# Compiler error messages to their target help pages.

[2020-02-26 11:21] #558 closed, assigned to nobody

[2020-02-27 15:03] baronfel opened #561 "[FAKE Support] Broken after latest FCS Update"
Newer FCS versions have introduced new optional parameters to the FSharpChecker.Create call, and the Fake Support uses YaafFSharpScripting which hasn't yet been updated. This means we get the following exception at runtime:

[code]

We need to update YaafFSharpScripting and then update FSAC to make FAKE Support work again.

[2020-02-27 15:09] baronfel commented on #561
cc @matthid do you have time to help here? If not I can maybe take a look this weekend.

[2020-02-27 15:36] matthid commented on #561
I think FakeRuntime uses it's own version of this file so we need to update in fake only. I'll not give any promises at the moment...

[2020-02-27 16:22] baronfel commented on #561
Thanks for the clarification! I'll take a stab at it there then.

[2020-02-29 21:05] gsuuon commented on #495
Think this is closed by #381 which got in 0.39 release

[2020-02-29 21:05] #495 closed, assigned to nobody

[2020-02-29 21:24] gsuuon opened #562 "LSP "No params found" error for shutdown and exit methods"
Not sending params for these methods produces a `"No params found"` error. Is this intentional?

Params are unused:
https://github.com/fsharp/FsAutoComplete/blob/d81b39560308343aee772230724cbd00251cd813/src/LanguageServerProtocol/LanguageServerProtocol.fs#L2261

Should this check against `typeof<Object>`?

https://github.com/fsharp/FsAutoComplete/blob/d81b39560308343aee772230724cbd00251cd813/src/L

[2020-02-29 21:38] cmeeren commented on #474
Great that FSAC/Fantomas respects a repo-level config file now! Is it possible to specify a machine-wide default config (where values will be overridden by a repo-level config file)?

[2020-03-05 13:32] Zaid-Ajaj opened #564 "Please publish "ProjectSystem" as a standalone library"
I would like to be able to `ProjectSystem` from my own projects. As it is right now, I need to copy source files and use the same dependencies it has which is far from ideal. Would it be possible to publish it as a package, preferably as `FSharp.ProjectSystem`?

[2020-03-05 21:10] baronfel opened #565 "Type Providers nonfunctional with recent FCS packages"
See https://github.com/ionide/ionide-vscode-fsharp/issues/1316 for more details

[2020-03-05 21:58] drk-mtr commented on #565
Just in case it's relevant, fsprojects/FSharp.Configuration#154 cannot be resolved by rolling back to version 4.6.0 or earlier.

[2020-03-07 07:53] geoffder opened #567 "FSAC server failing at start in Emacs on Manjaro Linux"
I'm on (Doom) Emacs in a fresh install of Manjaro, coming from an Ubuntu installation in which I had (to my knowledge after troubleshooting) was set-up the same way. My init and config files are the same, and the lsp was installed automatically via lsp-install-server. Project is restored/built without error (and runs) as it did on Ubuntu before the Manjaro install.

[code]

Any help would be great

[2020-03-09 16:38] Krzysztof-Cieslak commented on #561
I guess this is fixed.

[2020-03-09 16:38] #561 closed, assigned to nobody

[2020-03-10 14:56] ezemtsov commented on #567
Hi! Having same problem with lsp-mode on nixos
Was working before just well!

[2020-03-10 17:38] geoffder commented on #567
@ezemtsov I found that managing the connection to FSAC with Eglot was a viable workaround, with no additional fuss. Just disable the LSP in fsharp-mode and add the following to your config:
[code]
From: https://github.com/fsharp/emacs-fsharp-mode, with the addition of the 'eglot-ensure hook if you want it to activate automatically of course (otherwise use M-x eglot).

 Hopefully that will work for

[2020-03-11 08:41] MangelMaxime opened #571 "TipFormatter is stricker than before can we try to make it more tolerant/user-friendly?"
Hello,

the new TipFormatter is now working using an XML parser this made the implementation easier but has the drawback of failing on invalid XML.

This drawback is the same as in VS2019.

In VS2019, if the doc comment cannot be parsed, then an empty tooltip is shown.

![image](https://user-images.githubusercontent.com/4760796/76396976-911d5500-637a-11ea-87b7-6bb31793cde7.png)

When using FSAC, w

[2020-03-11 09:13] ezemtsov commented on #567
As explained in https://github.com/emacs-lsp/lsp-mode/issues/1508

This is server side bug:
[code]
As you can see the tagSupport is not boolean but a list.

The workaround on lsp-mode is to comment this line: https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-mode.el#L2960

[2020-03-11 17:20] AkosLukacs opened #572 "Triple slash comment appears in wrong function"
Given the following code, the `comment in foo` comment appears in `bar`'s tooltip.

[code]

Noticed in Ionide, but I assume it's FSAC because it's present in [Fable REPL](https://fable.io/repl/#?code=DYUwLgBAZg9jAUBKCBeAsAKAtiB6fEAxjALYkgB2kAlhdHJjhEpqxmxxqJAEYCGAJySpGOACwAmIA&html=Q&css=Q) too:
![image](https://user-images.githubusercontent.com/844331/76444392-2c86e800-63c4-11ea-975e-c93440220ba2

[2020-03-14 08:38] teyc opened #573 "Intellisense for SQLProvider broken when both .NETCore 2.1 SDk and .NETCore 3.1 SDK installed"
I’ve been playing around with SQLProvider , under VSCode and PostGres, and I noticed an interesting behavior.

When only .NET Core 3.1 SDK installed, syntax highlighting worked fine. But when I install *both* 3.1 SDK and 2.1 SDK, I get the following message:

The type provider 'FSharp.Data.Sql.SqlTypeProvider' reported an error:

[code]

And when I have only 2.1 SDK installed, the project highligh

[2020-03-16 10:03] inosik commented on #572
Same with VS 2019.

[2020-03-16 11:19] Krzysztof-Cieslak commented on #572
This is just how F# compiler works. Triple slash comments are for documentation and should be put above the function/module/type they document, not inside the body of the entity.

[2020-03-17 00:14] #572 closed, assigned to nobody

[2020-03-18 16:49] #567 closed, assigned to nobody

[2020-03-19 14:14] ezemtsov commented on #567
@Krzysztof-Cieslak thanks a lot!
Can we have a minor release for it?

[2020-03-22 18:27] baronfel opened #577 "FSI output doesn't show on Live Share"
The output from FSI doesn't transmit over a VS Live Share session. Investigate more.

[2020-03-26 14:44] baronfel opened #581 "Implement the documentSymbol API"
API Docs are [here](https://microsoft.github.io/language-server-protocol/specification#textDocument_documentSymbol).

If we do this, we more seamlessly integrate with extensions like [vscode dotnet test explorer](https://github.com/formulahendry/vscode-dotnet-test-explorer), which use the symbols API to detect tests.

[2020-03-26 14:44] baronfel commented on #581
Linking to https://github.com/formulahendry/vscode-dotnet-test-explorer/issues/228 as the inspiration for this issue.

[2020-03-26 14:51] baronfel commented on #581
Weird, we _do_ implement this API already but the extension still doesn't recognize our symbols...

[2020-03-28 00:39] AlexChalk opened #583 "Cached typecheck results not yet available, Code: -32603"
I have tried running this plugin on both macOS and linux (NixOS) via vim (`coc.nvim`), and I have observed the same error on both operating systems. Here's the process I've followed:

1. clone project
2. run `dotnet tool restore && dotnet fake build --target LocalRelease`
3. configure `coc.nvim` as follows
[code]
4. Open a project (I am using [this one](https://github.com/swlaschin/Railway-Oriente

[2020-03-28 00:43] baronfel commented on #583
Can you please enable Fsharp.verboseLogging = true, and copy the entire F# output log here instead of a tiny sliver?

[2020-03-28 03:09] AlexChalk commented on #583
Thanks @baronfel. I'm very new here, where do I set that flag and where can I find the entire output log?

(I've tried at the root level of my `coc-settings.json` and in the `initializationOptions` for the fsharp section of the config. The `languageserver.fsharp` log I previously posted from isn't any more verbose after this).

[2020-03-28 03:24] baronfel commented on #583
Not sure about coc.nvim, but you're expected to set that setting in the initialize call that the LSP client uses to start the LSP server.

[2020-03-28 03:29] Zaid-Ajaj commented on #583
I actually get this "error" as well sometime after I have deleted build artifacts (obj/bin), I only have to trigger a file save (i.e. by writing a space somewhere then saving the file) which seems to reset ionide's cache and reloads the symbols information into the workspace

[2020-03-28 11:09] Krzysztof-Cieslak commented on #583
https://github.com/fsharp/FsAutoComplete#initialization-options

[2020-03-28 14:08] AlexChalk commented on #583
@baronfel I passed the `--verbose` option on startup and got some additional output, is this helpful?
[code]

[2020-03-28 14:22] AlexChalk commented on #583
When I try the solution of @Zaid-Ajaj (add space, save, try again), I get this error, followed by a repeat of the 'Cached typecheck results' error.
[code]

If I try autoinitializing the workspace using the [initialization options](https://github.com/fsharp/FsAutoComplete#initialization-options)
[code]

and then add space, save, try again, I get this output (followed by the same Cached typecheck re

[2020-03-28 14:32] AlexChalk commented on #583
It looked like these options might help me but I've tried in a few different places in `coc-settings.json` without luck, (the `settings` key makes most sense to me), and they don't resolve the issue:
[code]

[2020-03-28 15:25] Krzysztof-Cieslak commented on #583
The project you're trying to use is really old - it's targeting an old version of F#, an old version of .Net (non-.Net Core, requiring mono), and uses old "verbose" project files.

Do you have mono installed, have you restored packages, can you build the project?

[2020-03-28 18:14] AlexChalk commented on #583
@Krzysztof-Cieslak, thanks for letting me know, I am new to the ecosystem and hadn't realized any of this.

I switched to trying with a newer project, and after using `dotnet build` and reloading the file, I have FSAC working: https://github.com/ChrisMarinos/FSharpKoans.

I'll close this now and try to understand exactly what was wrong on my own, but any info that could help me understand better w

[2020-03-28 18:14] #583 closed, assigned to nobody

[2020-03-29 08:54] cannorin opened #584 "Support textDocument/selectionRange a.k.a. smart selection"
I'm helping https://github.com/ocaml/ocaml-lsp these days and I found `textDocument/selectionRange`  (which is one of the features I've worked for) very useful.

![imgur](https://i.imgur.com/2mCX5Bf.gif)

This is the "smart selection" feature recently introduced to the LSP (since 3.15). The server needs to return the range informations which is essentially an AST of the current source but everythi

[2020-03-30 17:41] ghost opened #585 "Go to definition decompiler shows C# source"
Since the decompilation is from IL, why was C# chosen as the output language? The more natural choice for an F# editor extension would be F# in my opinion.

[2020-03-30 17:47] baronfel commented on #585
The libraries we use to do the decompilation output C#. I don't know of any F#-outputting decompilers, though if you do I'd very much like to use it!

[2020-03-30 17:50] ghost commented on #585
Sounds like a decent weekend project! If I can come up with a prototype, would the maintainers of this project consider using it?

[2020-03-30 18:04] cartermp commented on #585
If you'd like some inspiration, @cloudRoutine took a stab at this a while ago and it could start as a pretty excellent foundation: https://github.com/cloudRoutine/fsharp/blob/8011f05bfac3b30bb642c6a69a93e81d555d0cdf/vsintegration/src/FSharp.Editor/Common/SignatureGenerator.fs

This was a part of a PR that was in-progress for Visual Studio but was deemed problematic at the time since it diverged fr

[2020-03-30 18:08] cartermp commented on #585
It might also just be more productive to start fresh, the trial implementation code was quite involved and might be a lot of work just to get started with compared to a minimal working prototype

[2020-03-30 18:10] baronfel commented on #585
One way to do such a thing would be to build an TAST from the IL and then use Fantomas to emit the AST as a string.  We already have fantomas integrated into FSAC, so the work would become IL -> F# TAST.

[2020-03-30 18:11] baronfel commented on #585
I think we'd be definitely intrigued, by the way! It would be pretty easy to change which decompiler was used via an option, making this opt-in, so that would also help ease the path to acceptance.

[2020-03-30 22:59] ghost commented on #585
@baronfel Good to know, I'll definitely take a look! I was planning on doing basically what you describe, but I was planning on taking the TAST and letting the compiler do _something_ with it (not sure what, at this point).

@cartermp Thanks for the reference!

[2020-04-10 10:36] Krzysztof-Cieslak opened #588 "Long delay before errors, highlighting, tooltips etc are updated"
From chat with @7sharp9:

[code]

So as far as I understand the log:
* `[10:45:29 INF] [Checker] ParseAndCheckFileInProject - App.fs`  - this is start of typechecking after editing file
* `Inside Compiler Function X` - this is other features (code lenses, semantic highlighting, and all others) waiting for results of typechecking that's in progress
 * `[10:45:36 INF] [Compiler] Finished compiler fu

[2020-04-10 10:57] Krzysztof-Cieslak commented on #588
Here's bigger bit of log from my machine showing similar situation - just do file edit and wait for errors and highlighting to show up:

[code]

[2020-04-10 10:58] Krzysztof-Cieslak commented on #588
It seems that `Inside Compiler Function` is not our wait for type checking (those are reported as `[Checker] TryGetRecentCheckResultsForFile`) but rather something happening in compiler...

[2020-04-10 11:32] Krzysztof-Cieslak commented on #588
I tried to improve a log in FSAC a bit but it still doesn't show anything useful about `Inside Compiler Function`

[code]

[2020-04-10 11:48] Krzysztof-Cieslak commented on #588
It seems Function 3 and Function 4 are defined here: https://github.com/dotnet/fsharp/blob/b6adf8a12e4ac7b5bc6c54a6b3e80d35b8be0de5/src/fsharp/Logger.fs#L8-L13

So it seems in @7sharp9 case compiler spends a lot of time on building and getting `IncrementalBuildersCache`.

TBF, I'm not really sure if we do something wrong in FSAC - the problem seems to be in FCS layer?

CC: @cartermp

[2020-04-10 11:57] Krzysztof-Cieslak commented on #588
So the big question is why there is so huge difference between numbers of operations in my case and in Dave's case? the files are similarly sized - 200 LOC. Does it depend on number of dependencies?

In @7sharp9 original log, there's a bunch of those 3 and 4 happening and then there's 3secons break and more things happening and next 2 seconds break? What's that? Can getting `IncrementalBuildersCac

[2020-04-10 12:29] Krzysztof-Cieslak commented on #584
Hey, yes, we'd love to have this.

[2020-04-10 12:31] Krzysztof-Cieslak commented on #546
I don't think this is a problem at the moment, but we may revisit in the future. Closing for now.

[2020-04-10 12:31] #546 closed, assigned to nobody

[2020-04-10 12:35] Krzysztof-Cieslak commented on #585
Signature generator done by @cloudRoutine generated only signatures (as the name suggest). What we would need is full code generation, and that's way more complex. The signature can be generated based on `FSharpEntity` - we already do that in Info Panel. To generate function body you'll need to generate code from IL.

This doesn't sound like something in the scope of FSAC. If someone will create s

[2020-04-10 12:35] #585 closed, assigned to nobody

[2020-04-10 12:41] Krzysztof-Cieslak commented on #559
This is now tracked in LSP repo here - https://github.com/microsoft/language-server-protocol/issues/926

[2020-04-10 12:43] Krzysztof-Cieslak commented on #562
Well, it's not intentional. It's probably bug around the place you've linked.

[2020-04-10 13:03] Krzysztof-Cieslak commented on #571
Yeah, those additional suggestions seem fine, I guess?

[2020-04-10 13:03] Krzysztof-Cieslak commented on #577
Bug in LiveShare?

[2020-04-10 13:03] #581 closed, assigned to nobody

[2020-04-10 13:05] Krzysztof-Cieslak commented on #448
Anyway, using mono (or full framework on Windows) is not really supported thing anymore - I'm planning to work on any fixes specific to it. Closing issue.

[2020-04-10 13:05] #448 closed, assigned to nobody

[2020-04-10 13:11] Krzysztof-Cieslak commented on #264
Ok, let's close this one. Ofc, memory usage is still high, but anything in this thread is outdated. If anyone has actionable reports about memory usage please create separate issues, preferably with PerfView analysis.

[2020-04-10 13:11] #264 closed, assigned to nobody

[2020-04-10 13:15] Krzysztof-Cieslak commented on #385
This is mostly done.

[2020-04-10 13:15] #385 closed, assigned to nobody

[2020-04-10 15:10] cartermp commented on #588
There are numerous problems with the IncrementalBuilder that are endemic to its design. It's not a surprise to me that it might take 3 seconds to build one out, but without knowing anything about the code being built I can't speak towards it at all. The number of dependencies will matter a lot though.

[2020-04-11 13:17] MangelMaxime opened #591 "TipFormatter should not apply the link parser in the code section"
![image](https://user-images.githubusercontent.com/4760796/79044769-6b000480-7c07-11ea-9a9e-206050be8005.png)

[2020-04-12 17:10] cartermp opened #592 "Struct attribute cases record name to be colorized as keyword"
<img width="373" alt="image" src="https://user-images.githubusercontent.com/6309070/79075103-8ae60580-7ca5-11ea-9f63-d8c1ea0c437c.png">

[code]

Note that a different attribute doesn't do this:

<img width="394" alt="image" src="https://user-images.githubusercontent.com/6309070/79075113-95a09a80-7ca5-11ea-82fb-00c38b8bf775.png">

[code]

If I add in the `Struct` to the second example to correct th

[2020-04-12 22:16] Krzysztof-Cieslak commented on #592
Well, yes, there exist semantic token type `struct` that's returned by FCS - the token recognition here is correct. It just seems themes are using same colour for keyword and struct, eh?

![image](https://user-images.githubusercontent.com/5427083/79081228-d3400a80-7d1b-11ea-8c2d-35ee982b761c.png)

[2020-04-12 22:42] cartermp commented on #592
Yeah probably a coloring problem then. I suppose this should go under the ionide plugin repo then?

[2020-04-12 22:57] Krzysztof-Cieslak commented on #592
Well, not really. It’s a theme problem - setting the same color to different token scopes. We don’t control colorization in any way in Ionide.

[2020-04-14 17:43] cartermp commented on #592
Gotcha. Is there an issue on the vscode side?

[2020-04-16 12:30] Krzysztof-Cieslak opened #593 "FCS35 - performance problems with #r "nuget ...""
So, when I start using new `#r nugget...` syntax there seems to be really huge slowdown

![test](https://user-images.githubusercontent.com/5427083/79456228-6912b880-7fee-11ea-9372-34fd8ea64de0.gif)

Below there's the log from F# output panel - note how long is the pause from ` [Opts] Getting NetCore options for script file` to `[Opts] Source file list is ...`   - it's almost 4 seconds. My suspicio

[2020-04-16 12:32] Krzysztof-Cieslak commented on #593
(this is on current master, not on currently released Ionide version)

[2020-04-16 12:40] Krzysztof-Cieslak commented on #593
Ok, after looking at logs bit more - we definitely generate the file for each typechecking - notice how there is GUID in `Project.fsproj.fsx` path. It's different for every typechecking.

[2020-04-16 12:52] Krzysztof-Cieslak opened #594 "FCS35 - .Net 5 preview 2 kills typechecking"
1. Install .Net 5 preview 2
2. Open any script file
3. Notice successful typechecking (correct errors, semantic highlighting, code lenses)
4. Makes any change in file
5. Notice that nothing is updated

[2020-04-16 17:24] Krzysztof-Cieslak commented on #593
#595

[2020-04-21 10:56] teo-tsirpanis opened #596 "Ref structs are not suggested."
![Ionide on vscode does suggest ReadOnlyMemory but not ReadOnlySpan.](https://user-images.githubusercontent.com/12659251/79857904-2b8ba200-83d7-11ea-8e01-0ff8a6328fe7.png)

Ref structs from C# assemblies have an `[<Obsolete>]` attribute to prevent older compilers to work with them and enforce the safety restrictions that come from using ref structs.

The F# compiler can perfectly handle them, but

[2020-04-22 20:37] cartermp commented on #596
This isn't an FSAC issue but an F# compiler one. The handling of Obsolete is not correct. You can reproduce it in VS as well:
![image](https://user-images.githubusercontent.com/6309070/80031327-5e4c9d80-849e-11ea-8013-beaf500e04aa.png)

Ref: https://github.com/dotnet/fsharp/issues/5858#issuecomment-435706617

[2020-04-30 04:57] baronfel opened #600 "On MacOS, FSIRefs seems to be defaulting to the 'unix' default location instead of the 'macos' default location"
[code]

This results in typechecking being broken for me in scripts.

[2020-04-30 04:59] baronfel commented on #600
Docs say this member isn't reliable, and we should be using `RuntimeInformation.IsOSPlatform` instead: https://docs.microsoft.com/en-us/dotnet/api/system.environment.osversion?view=netcore-2.1#remarks

[2020-04-30 11:15] #600 closed, assigned to nobody

[2020-04-30 11:54] #593 closed, assigned to nobody

[2020-04-30 17:57] baronfel commented on #594
I can no longer reproduce this after the fix to discovering SDK locations that went in last night. My belief is that the lack of typechecking was due to problems discovering the dotnet root that have since been cleared up.

I've got `5.0.100-preview.2.20176.6 [/usr/local/share/dotnet/sdk]` installed locally, and on ionide 4.10 I resolve the preview deps as expected (and everything works!):

[code]

[2020-04-30 17:57] #594 closed, assigned to nobody

[2020-05-01 18:11] Krzysztof-Cieslak commented on #588
@cartermp so something I don't understand - why exactly the same sequence of operations is repeated on every file edit (or rather whenever we run type checking) - I'd imagine that caches are builder once, and then they're reused if the previous files haven't changed. Here I can open a file, wait 5 seconds to get stuff working, do random change to introduce error, wait 5 seconds to get stuff workin

[2020-05-01 18:26] isaacabraham opened #603 "#r nuget seems to lock up FSAC."
Adding a #r seems to lock up FSAC (or at least make it very slow?). Adding any #r to a nuget item removes any intellisense in Ionide etc.. If I quit Ionide and then restart, it works fine. But as soon as I modify the #r (or add a new one), the issue appears again.

Using latest Ionide and dotnet5p3.

[2020-05-01 18:26] isaacabraham commented on #603
cc @Krzysztof-Cieslak

[2020-05-02 14:07] 7sharp9 commented on #588
Those caches are In the cancellable CE I think. I was wondering about those time slicing, but you would not get multiple log messages then.

Sent from my iPhone

[2020-05-03 01:04] daz10000 commented on #588
I think the code being built is ours - it's mostly not open source, but if there is anything we can do to help characterize the issue (properties, stats, profiling, or even temporary private access if helpful,  I'm sure we can arrange it.   It sounds like some more logging on that critical part of the code might be helpful.   These 7 second pauses happen for every single modification to the source

[2020-05-03 01:06] daz10000 commented on #588
Here is a typical pattern.

![vscode edit lag](https://user-images.githubusercontent.com/6342645/80896092-8490eb00-8c9f-11ea-912f-589bcb84bb6f.gif)

For comparison,  same edits in rider (not trying to make critical comparisons here, but shows it is possible to resolve the types quickly in this code base)

![rider example](https://user-images.githubusercontent.com/6342645/80896106-abe7b800-8c9f-11e

[2020-05-03 01:30] cartermp commented on #588
I suspect there's something going wrong with how FCS is getting hosted here, since the only codebase I see issues of this nature with are the F# compiler, and even then only when I'm deep "down" in the dependency chain after some update like a rename that forces a design-time build and re-calculates symbol info

[2020-05-03 10:40] Krzysztof-Cieslak commented on #588
@daz10000, I don't think we need to get access the private codebase - I can reproduce this on the code base of this repository. Doing any change in `src\FsAutoComplete\FsAutoComplete.Lsp.fs` (big file depending on everything else), I get the following log:

[code]

Here we also have lot of time spent in `Inside Compiler Function 4/3` which is happening after `ParseAndCheckFileInProject` call.

[2020-05-03 11:46] Krzysztof-Cieslak commented on #588
I've applied my groundbreaking bug fixing strategy - chaos monkey debugging (i.e. debugging by making random changes to the code base without understanding what I change)... and it seems this like is a problem https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete.Core/CompilerServiceInterface.fs#L448

Changing cache size to constant 200, rather than trying to be smart, fixes issu

[2020-05-03 11:48] forki commented on #588
I think VS is also using a constant

[2020-05-03 11:53] Krzysztof-Cieslak commented on #588
Yes, both VS and Rider are using constant. But because we're outsourcing all project/solution level operations to the Background Service I've thought we can use smaller cache size in the main FSAC process. I haven't realized this will be still useful for single file type checking - and it's the case only because we use in-memory p2p references (VS is not doing it as far as I remember)

This explai

[2020-05-03 12:35] Krzysztof-Cieslak commented on #588
Fixed in #604. I'll release new Ionide version including this fix today.

[2020-05-03 12:35] #588 closed, assigned to nobody

[2020-05-03 14:55] daz10000 commented on #588
*sounds of applause*

Nice find.

[2020-05-04 15:54] pihai opened #605 "Script reference resolution doesn't respect sdk version in global.json"
After the installation of the .NET 5 preview some existing fsx scripts stopped working because of many different reasons. So I decided to create a global.json file to specify the latest SDK version of the last known working installation.

The correct FSI version is started when I run a script. But the framework references for the script file are always resolved to the most up to date version.

In

[2020-05-04 16:53] Krzysztof-Cieslak commented on #605
CC: @baronfel

[2020-05-05 14:46] baronfel commented on #605
I agree it should respect the global.json-specified-version. The decision we chose to use latest at that point was driven mostly be the fact that `dotnet fsi` wasn't yet stable, and we wanted to have _some_ version of it be usable before it released. Now that it's a well-known, released component I think it makes sense to adhere to global.json here.  I'll work on this today.

[2020-05-13 05:35] ThisFunctionalTom opened #611 "#r "nuget: " does not use local NuGet.Config"
nuget command line tool uses multiple NuGet.Config files to configure its behaviour as described [here](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#how-settings-are-applied).

When `#r "nuget: " is used in a fsx script I would expect the same behaviour as using the nuget command line tool in the directory where the fsx script is located.

When I add a new nug

[2020-05-13 11:41] baronfel commented on #611
The first question I would ask here is "how does `dotnet fsi` behave in this case?"

We don't do any customization of the nuget dependency manager FSI integration, and so the editor behavior _should_ be the same as `dotnet fsi` directly. If that's the case, then your issue really should be raised in the dotnet/fsharp repo, where that component is implemented.

[2020-05-13 18:14] ThisFunctionalTom commented on #611
You are right. dotnet fsi has the same problem. I will open an issue in dotnet/fsharp repo. Thanks for answering this so quickly.

[2020-05-13 18:14] #611 closed, assigned to nobody

[2020-05-13 18:19] ThisFunctionalTom commented on #611
Going to the dotnet/fsharp repo I found out that you can add the nuget sources directly in the fsx script with this line: `#r "nuget:RestoreSources=https://your.nuget.server/"`

Afterwards ths `#r "nuget: your.library"` works fine.

[2020-05-15 15:22] baronfel opened #612 "Tooltip parameters are displayed in alphabetical order instead of member declaration order"
Given the following code:

[code]

the tooltip for this code renders as:

[code]

but I expected the parameters to be laid out in the same order as they are declared in the member.

[2020-05-24 11:15] pihai opened #614 "No signature help for overload without parameters"
When I press `CTRL`+`Shift`+`Space` to bring up signature help inside empty parenthesis nothing happens. If the cursor is before the opening paren it works. (First line in the screenshot)

![overload-res2](https://user-images.githubusercontent.com/1460563/82752712-44b1b500-9dc0-11ea-9f98-a0f2ac8b2ce6.gif)

I have created a unit test for repro and a potential fix here: https://github.com/pihai/FsAu

[2020-05-24 22:48] Krzysztof-Cieslak commented on #614
Awesome, please open PR with the fix

[2020-05-25 15:28] Krzysztof-Cieslak opened #616 "Fix our test suite"
Our CI basically fails all the time which is not the grates thing ever. We should fix it.

[2020-05-25 15:31] #614 closed, assigned to nobody

[2020-05-26 18:41] Krzysztof-Cieslak commented on #616
Fixed by #618

[2020-05-26 18:41] #616 closed, assigned to nobody

[2020-05-27 07:31] pihai commented on #524
I think this is fixed by PR #617
In this case the cursor position was greather than the length of the line because it got the wrong/stale lines from the cache

[2020-05-27 08:59] #524 closed, assigned to nobody

[2020-05-28 11:08] #612 closed, assigned to nobody

[2020-06-08 13:01] slang25 opened #620 "Consider making symbolCache.db less intrusive when working with non-F# solutions"
Hello

I love VS Code & Ionide, however I work with a lot of C# projects, and so keep finding myself needing to remove `symbolCache.db` from my commits before pushing.

I looked at ionide and when it decides to initialize everything, it will activate on a bunch of conditions, including if the workspace has a `.sln` file.

I started thinking about removing this rule, however saw that OmniSharp has

[2020-06-15 07:35] SchlenkR opened #623 "Show available CE commands and record fields on top"
This is an issue originally created here:

https://github.com/fsharp/fslang-suggestions/issues/880

Since I think this issue is related to FSAC, I open up this issue here.

In short:

For both (record fields and builder custom operations), the fields or custom operations appear in the auto completeion list, but they don't appear on top. Instead it seems that the intellisense list is sorted alphabe

[2020-06-16 11:08] SchlenkR commented on #623
As @auduchinok points out here (https://github.com/fsharp/fslang-suggestions/issues/880#issuecomment-644107954): This might not be an issue of FSAC and seems to be more related to FCS.

[2020-06-16 11:08] #623 closed, assigned to nobody

[2020-06-16 11:15] Krzysztof-Cieslak commented on #623
@auduchinok @ronaldschlenker

This seems to be working in FSAC/Ionide:

CE custom operation:
![image](https://user-images.githubusercontent.com/5427083/84767712-30359680-afd3-11ea-97b4-e273e63a3a0f.png)

Records:
![image](https://user-images.githubusercontent.com/5427083/84767825-6541e900-afd3-11ea-8aa7-fca235a9e964.png)

[2020-06-16 11:17] Krzysztof-Cieslak commented on #623
Our sorting in autocomplete results for reference: https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete.Core/ParseAndCheckResults.fs#L377-L409.
I'm fairly sure I've ported it from VS.

[2020-06-16 11:23] auduchinok commented on #623
@Krzysztof-Cieslak Thanks for confirming, it seems it's something we should look into on the Rider side.

[2020-06-17 07:07] SchlenkR commented on #623
I still don't get anything there:

![image](https://user-images.githubusercontent.com/472222/84866129-970d8b00-b079-11ea-9eec-933b5e456192.png)

It's an issue that occurs since at least half a year. No matter if I use netcore or net for FSAC. There was a GitHub issue here for that error, but I can't find it anymore.

[2020-06-17 10:59] Krzysztof-Cieslak commented on #623
@ronaldschlenker It's a different error that has nothing to do with CEs or ordering of results in the IntelliSense. As you can see in my screenshot I've started typing to get results of autocomplete.

[2020-06-17 11:12] Zaid-Ajaj commented on #623
@Krzysztof-Cieslak I think this was the original issue: if you don't know what CE custom operators are available, then it would *really* awesome to hit CTRL+Space and get the available options back without having to randomly type letters and hope something will come up.

It is the same for records, if I don't know *any* of the fields but the record type is statically known and is already inferred,

[2020-06-17 14:03] SchlenkR commented on #623
Thanks for clarifying @Zaid-Ajaj and please excuse the confusion @Krzysztof-Cieslak.

[2020-06-17 17:55] #210 closed, assigned to nobody

[2020-06-17 18:02] Krzysztof-Cieslak commented on #623
Fixed by #626

[2020-06-17 20:10] SchlenkR commented on #623
Wow, that was really quick. Thank you for all your effort and support. Sometimes it’s almost unbelievable what you do for many of us.

[2020-06-25 18:44] baronfel commented on #603
The nuget #r handler is quite slow at doing the resolution, there are open issues on dotnet/fsharp to make the experience better. We don't do anything custom to change or make that handler behave any different from `dotnet fsi` directly, so any performance enhancements need to come from upstream.

[2020-07-01 23:05] Krzysztof-Cieslak opened #627 "Tooltips for delegates are terrible"
In VS (from @cartermp):
![image](https://user-images.githubusercontent.com/5427083/86299235-0057d700-bc00-11ea-8cdb-8e0430c3a165.png)

In VSCode:
![image](https://user-images.githubusercontent.com/5427083/86299244-08b01200-bc00-11ea-8253-b640820f2bbc.png)

[2020-07-11 10:07] nojaf opened #629 "FCS 36"
Hello,

Is something preventing this project from using FCS 36?
I'd like to bump the Fantomas version but noticed that the FCS is still 35.
Any pointers @baronfel?

[2020-07-11 18:01] baronfel commented on #629
I think the only think keeping us back at this point is that the Analyzers SDK hasn't been updated. This is usually quick quick, I'll see if I can do that today!

[2020-07-11 18:09] baronfel commented on #629
https://github.com/ionide/FSharp.Analyzers.SDK/pull/25 is the tracking issue

[2020-07-12 16:50] #629 closed, assigned to nobody

[2020-07-17 05:24] zanaptak opened #632 "Type provider gets instantiated twice"
Using VS Code with ionide-fsharp 4.14.0, a file with a type provider declaration causes the type provider to be instantiated twice. Consequently all TP actions are duplicated (reading data, generating types, registering file watchers, etc.).

The TP gets created by two different processes:
- `fsautocomplete.dll`
- `fsautocomplete.backgroundservices.dll`

This only happens with Background Services

[2020-07-19 13:42] Krzysztof-Cieslak commented on #632
By design behaviour - both `fsautocomplete` process and `backgroundservices` performs (different) typechecking operations.

[2020-07-19 13:42] #632 closed, assigned to nobody

[2020-07-19 13:48] Krzysztof-Cieslak commented on #603
Actually we do try to minimize the amount of restores/resolutions by tracking existing #r statements and making sure we don't run those resolutions on every typechecking (which used to be default way of doing stuff with script files in pre F#5 days) - https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete.Core/Commands.fs#L393-L409

[2020-07-22 08:02] lukemerrett commented on #620
To echo this, I often find myself disabling Ionide, only enabling it when I launch an F# project, or using Visual Studio instead.  This is especially frustrating as otherwise Ionide is an outstanding tool.

Moving to `symbolCache.db` to `.ionide\obj\symbolCache.db` makes a lot of sense to me, it would save having to update `.gitignore` files for all our C# projects to reduce friction.

[2020-08-10 01:32] HoraceGonzalez opened #640 "Autocompletion Message Error: `You must add a reference to assembly, `Windows, Version=255.255.255.255...`"
In certain cases where loading *.fsx files as script projects, the autocompletion message from FCS will appear as, `<Note>` with as description about a missing reference to `Windows, Version=255.255.255.255, Culture=neutral, PublicKeyToken=null`.

It's possible to reproduce this issue with the following script file and observing the autocomplete message triggered by typing `foo.`

[code]

[2020-08-10 01:32] HoraceGonzalez commented on #640
Will submit PR for fix.

[2020-08-20 11:16] #640 closed, assigned to nobody

[2020-08-25 13:46] suside opened #648 "'Cached typecheck results not yet available' persisting error when one subdirectory is not readable."
When you open a project with at least one subdirectory unreadable by the current user, FSAC will not work.

### Steps to reproduce
[code]
from now on FSAC will log only
[code]

### Expected behavior
Meaningful error on the output panel + ignoring unreadable directories.

[2020-08-27 08:20] suside commented on #648
As a workaround just add this to VSCode config:
[code]

[2020-09-11 10:43] pihai commented on #584
Hi Krzysztof

I'd love to help out here, but can you please help me to understand the history of this feature?

As I understand it, this issue is actually a duplicate of this one ionide/ionide-vscode-fsharp#174 from 2016. Obviously you implemented this yourself in ionide/ionide-vscode-fsharp#1097 in May 2019.

However, it seems that you removed it in this commit https://github.com/ionide/ionide-vs

[2020-09-24 04:09] faldor20 opened #653 "Show underlying Types of alias Types"
This is a mirror of my issue for the ionide vscode extension. I was told here would be a more appropriate place to ask
https://github.com/ionide/ionide-vscode-fsharp/issues/1417

Its very annoying when i make types alias's for ease of documentation/domain modeling and it then completely obscures what the underlying type actually is.

I would like an option to show the underlying types of aliases b

[2020-09-24 15:12] #506 closed, assigned to nobody

[2020-10-06 14:21] danieljsummers opened #654 "Detect environment for snap installs"
_(from a conversation in the F# Slack "general" channel September 20th)_

The current VS Code / Ionide combination is not detecting the .NET Core environment if that environment comes from a Linux snap package. As [snaps are the preferred method of acquiring the environment](https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-rc.1-install-instructions.md#install-using-snap)

[2020-10-23 12:37] #584 closed, assigned to nobody

[2020-10-28 20:16] simendsjo opened #658 "Build problems"
I've tried running dotnet build with a few different runtimes (not exactly the one specified in global.json as it's not available on my system), and I get 138 errors each time in the form

[code]

A more detailed output

[code]

[2020-10-28 20:32] Krzysztof-Cieslak commented on #658
The build process is described in readme, follow it.

[2020-10-30 09:59] simendsjo commented on #658
Thanks. Btw, a comment like RTFM is not the best way to attract new contributors. It's also possible to make msbuild run fake to make `dotnet build` work.

[2020-10-30 09:59] #658 closed, assigned to nobody

[2020-10-30 13:58] jkone27 commented on #603
Hello, any news on this one?

[2020-11-01 22:33] baronfel commented on #603
Probably not until FCS is updated, and there's an open MR for that.

[2020-11-08 22:22] absolutejam commented on #565
Hey! Is this an on-going issue?

I'm experiencing issues trying to use SwaggerProvider with Ionide as it can't load the Designtime DLL and wondered if there were any workarounds?

Thanks.

[2020-11-11 21:45] adelarsq opened #661 "Error FS0192 : internal error : destRefTupleTy: not a reference tuple type"
With the latest version building from source on macOS Catalina (10.15.7) and .NET Core 3.1.403 shows this error:

[code]

Any idea about what can be done?

[2020-11-13 02:28] adelarsq commented on #661
Solved with https://github.com/fsharp/FsAutoComplete/pull/656

[2020-11-13 02:28] #661 closed, assigned to nobody

[2020-11-13 20:27] baronfel commented on #654
A core problem here is an assumption that ionide and FSAC make about the relationship between the dotnet binary and the dotnet sdk install directory.  Currently, the relationship is that the binary and the sdk install directory are siblings, but this is not necessarily the case.

If the two were independently settable (eg `DOTNET_HOST` and `DOTNET_SDK_ROOT` or something like that), then the tools

[2020-11-18 00:35] danieljsummers commented on #654
This isn't the only project with [an issue like this](https://github.com/OmniSharp/omnisharp-vscode/issues/4201) _(from OminSharp)_

[2020-11-19 14:13] baronfel opened #665 "Figure out why the windows CI build fails"
The windows Ci buiild has been failing since .net 5 with the following errors:

[code]

There seems to be a problem with file system access/permissions?

[2020-11-23 15:20] baronfel commented on #654
The appropriately-numbered #666 is aiming to tackle this, but I could use some feedback from you @danieljsummers (and any others that might be having this issue).

First, a bit of background on snaps in general:

* apps seem to be run by the `snapd` daemon
* installed apps are installed to isolated directories
* symlinks for shortcuts to binaries are installed to `/snap/bin` but the symlinks point

[2020-11-23 15:40] baronfel commented on #603
The new FCS (version 38) doesn't include the newest version of the dependencyManager (which is the component responsible for making this fast), so we'll have to wait for the next release of that, too.

[2020-11-23 16:44] danieljsummers commented on #654
I'll dig in more this evening, but just looking over things quickly - while you're right about `/snap/bin`'s symlinks, `/snap/dotnet-sdk/current/dotnet` is not a wrapper for snap (at least on my machine); it's an executable. Could you directly run that without shell-executing to follow the `/snap/bin/dotnet` (or, by default, `/snap/bin/dotnet-sdk.dotnet`) symlinks?

[2020-11-23 16:49] baronfel commented on #654
That's an interesting avenue to try out.  The difficulty would be resolving that path somehow in a non-ad-hoc (which I guess is just a 'hoc') manner.  Right now what we do to run the tests on snap is:

* see if `dotnet` is in the PATH by probing the PATH's folders
* if found, see if the probed `dotnet` is a symlink. if so, resolve that symlink else just use the probed `dotnet`

so we'd need to be

[2020-11-23 19:08] baronfel commented on #654
Oh I see what's going on there: the `dotnet` at `/snap/dotnet-sdk/current/dotnet` is the actual `dotnet` binary from the SDK install, which comes from being virtually mounted from the snap at `/var/lib/snapd/snaps/dotnet-sdk_<some_version>.snap`.  There is no direct relationship between the two locations at all (aside from the post-hoc one we know of by virtue of experimentation)

[2020-11-23 19:30] danieljsummers commented on #654
I think that the `/snap/dotnet-sdk/current/dotnet` (apart from `current` being a symlink to the latest install) is the path across snaps. (The goal is that there aren't differences across the various distros.) Maybe @cartermp can tell us from within Microsoft if this path would be fine to hard-code if the resolved `dotnet` executable is `/snap/bin/dotnet`.

[2020-11-27 17:45] pheuter opened #669 "Cannot find `Microsoft.AspNetCore' namespace"
<img width="1144" alt="image" src="https://user-images.githubusercontent.com/92698/100474211-22ba2780-30ae-11eb-8e70-760d5c4da353.png">

---

Everything works fine in terms of loading `fsautocomplete.dll` and getting it to interface with ionide-vim, but it appears to have trouble finding the `Microsoft.AspNetCore` framework when loaded inside of a `Microsoft.NET.Sdk.Web` net5.0 project.

This also

[2020-11-30 20:39] Jopie64 commented on #620
I think it's good to note that this issue is now hopefully partly fixed by #668...

[2020-12-14 12:07] #562 closed, assigned to nobody

[2020-12-14 15:45] Krzysztof-Cieslak commented on #620
Fixed by #668

[2020-12-14 15:45] #620 closed, assigned to nobody

[2020-12-17 02:44] baronfel opened #682 "Displayed Return Types in Info Panel are incorrect"
![image (1)](https://user-images.githubusercontent.com/573979/102436792-f4f63d80-3fde-11eb-83e6-ece60da9467b.png)
![image (2)](https://user-images.githubusercontent.com/573979/102436794-f4f63d80-3fde-11eb-8248-7f7abac6f844.png)

The problem is with the regexes that we use in the [documentation formatter](https://github.com/fsharp/FsAutoComplete/blob/a6d232163d17a8b8bfaf32f27f8bf4426edbc886/src/FsA

[2020-12-22 14:35] Krzysztof-Cieslak commented on #564
Done, it's `Ionide.ProjInfo.ProjectSystem`

[2020-12-22 14:35] #564 closed, assigned to nobody

[2020-12-22 15:34] Krzysztof-Cieslak commented on #577
This is not an issue with FSAC.

[2020-12-22 15:34] #577 closed, assigned to nobody

[2020-12-22 15:38] Krzysztof-Cieslak commented on #596
Closing as it's the compiler/FCS issue.

[2020-12-22 15:38] #596 closed, assigned to nobody

[2020-12-22 15:40] Krzysztof-Cieslak commented on #213
We now only do net5.0 runtime and assume using MsBuild provided with dotnet

[2020-12-22 15:40] #213 closed, assigned to enricosada

[2020-12-22 15:40] Krzysztof-Cieslak commented on #421
This was fixed in DPI while ago.

[2020-12-22 15:40] #421 closed, assigned to enricosada

[2020-12-22 15:58] Krzysztof-Cieslak commented on #457
I'd assume this is fixed with the new project system.

[2020-12-22 15:58] #457 closed, assigned to nobody

[2020-12-22 16:01] Krzysztof-Cieslak commented on #592
As far as I understand we provide correct token scopes. The colourizing itself depends on used VSCode theme.

[2020-12-22 16:01] #592 closed, assigned to nobody

[2020-12-23 03:04] baronfel commented on #682
The backing PR has been merged, and now we're just waiting on a version of FCS to be made available containing the fix.

[2020-12-23 03:05] baronfel commented on #485
For code that uses sourcelink, we now successfully are able to go-to the definition of that code.

[2020-12-24 14:29] tboby opened #686 "High memory usage from background service"
If I open this repository in VS Code with Ionide 5.0.3 I find that after a short period of usage (less than an hour) there is a `dotnet.exe` process with very high memory usage. Watching task manager I see spikes of CPU followed by 50-100MB more commit size, It doesn't happen on every LSP action I take, but opening files seems to be a pretty reliable way to trigger it.

The process with increasing

[2020-12-28 16:17] prosconi commented on #274
Is this still an issue? The corresponding Ionide issue was closed.

For the above script, if you reference the DLL like below, it works fine for me:

[code]

[2020-12-28 21:34] Krzysztof-Cieslak commented on #686
Background Service memory usage should get better with #687

[2020-12-28 21:34] #686 closed, assigned to nobody

[2020-12-28 22:32] Krzysztof-Cieslak opened #692 "Keeping FSharpDisplayContext in memory is expensive"
It seems that keeping a reference to FSharpDisplayContext in memory is fairly expensive regarding memory usage, we should review if we can do InfoPanel without it.

![image](https://user-images.githubusercontent.com/5427083/103246741-d2f8a580-4964-11eb-939c-6c195d6cac72.png)

[2021-01-03 17:30] Krzysztof-Cieslak commented on #665
Fixed by #694

[2021-01-03 17:30] #665 closed, assigned to nobody

[2021-01-03 17:30] Krzysztof-Cieslak commented on #603
This shouldn't be the case anymore with FCS 38.0.2

[2021-01-03 17:30] #603 closed, assigned to nobody

[2021-01-03 17:31] #521 closed, assigned to nobody

[2021-01-07 17:40] baronfel opened #700 "The Linter Diagnostics test is very flaky, it needs to be looked at"

[2021-01-09 23:18] witoldsz opened #701 "use the version of Fantomas specified in .config/dotnet-tools.json"
I use Ionide-VSCode and it uses FsAutoComplete and… it uses whatever Fantomas version it was set in it's last release. On the other hand, there are building scripts and they use `dotnet fantomas` specified in `.config/dotnet-tools.json`.

It is really inconvenient, because every now and then, the Ionide plugin gets updated and so the Fantomas gets updated:
- one day my code gets formatted this way

[2021-01-11 20:51] baronfel commented on #701
This would be difficult without some sort of in-process isolation. I know we do this for analyzers, I suppose such a thing could be done for Fantomas as well.

[2021-01-17 23:04] ghost opened #704 "Starts saturating CPU when functions with double backticks are used"
The [Hedgehog](https://github.com/hedgehogqa/fsharp-hedgehog) library has xunit tests that look like this:

[code]

When editing these files with ionide, I get very high CPU usage, and the editor itself eventually crashes. If I don't open files with double backticks in them, this doesn't happen.

[2021-01-18 17:00] ScottHutchinson opened #705 "Need Debugging and Testing instructions for contributors"
I was able to run the tests in a terminal, but they don't show up in the VS Test Explorer, so I don't know how to debug them or to run a particular test. Can we make them discoverable by the VS Test Explorer? Maybe adding a .runsettings file would do it?

I installed the Expecto.VisualStudio.TestAdapter nuget package in the FsAutoComplete.Tests.Lsp project, but that did not reveal any tests in the

[2021-01-18 17:13] ScottHutchinson commented on #705
I tried to filter the tests with the code below, but I'm getting a compiler error `error FS0001: Type mismatch. Expecting a    'Test -> 'a'    but given a    '(string list -> bool) -> Test -> Test'    The type 'Test' does not match the type 'string list -> bool'`.
[code]

[2021-01-18 17:15] vilinski commented on #705
I'm not a maintaner, but I have got debugging fsdocs command tool with vscode. You should set working directory and needed arguments, for example `build --eval`, to start docs generating in your test repository. I think the equal is possible in all  .NET ide

Regarding expecto, it is console centric. It's advantage is that you don't need any IDEs and test explorers. Ok, actually it is a disadvanta

[2021-01-18 17:44] ScottHutchinson opened #706 "Need tests for the Fixes.resolveNamespace function"
There doesn't seem to be any test coverage of the `Fixes.resolveNamespace` function.

If I can figure out how to do it, I'll add some tests myself.

[2021-01-18 18:14] baronfel commented on #705
Going to brain dump here as a storage ground for CONTRIBUTING.md documentation:

# Focus

There is very, very little effort being spent on VS compatibility in this project. If contributors want to add it, that's fine, but the main focus is VSCode, vim, emacs, etc editors and the tooling they are used to.  That is to say, something like enhancing support for VS's test window would be accepted, but

[2021-01-18 18:50] baronfel commented on #706
There's a bunch of state that has to be set up just right to test codefixes in general, so I'll outline that process here for posterity:

# Process overview

we'll be making a test that will:
* contain a set of test FSX scripts or projects that contain the particular source files you want to test (ie a script with a missing namespace that you want to run against to verify the resolveNamespace code

[2021-01-30 06:26] LiteracyFanatic opened #709 "Confusing "This value is unused" error when shadowing an existing identifier in a pattern"
`FsAutoComplete 0.41.1` claims that `elementName` is unused in the code below.

[code]

[2021-02-01 00:46] LiteracyFanatic commented on #709
Alright, so it seems that the code in question does not do what I thought it did. I mistakenly believed that

[code]

was equivalent to

[code]

This works fine with a literal string but not with the parameter. Instead the value of `reader.Name` is being bound to `elementName` as part of pattern matching a 2-tuple which always succeeds because the input is the same shape. So the parameter `element

[2021-02-01 01:27] baronfel opened #710 "Update semantic highlighting functionality to use LSP mechanisms instead of custom ones"
Now that semantic tokens are in a published LSP release we should change our implementation (`fsharp/highlighting`) to the standardized one (`textDocument/semanticTokens/full`)

* define `SemanticTokensClientCapabilities`
* implement `SemanticTokenLegend`
* implement encoding of token types into the legend format

docs in the standard can be found [here](https://microsoft.github.io/language-server

[2021-02-01 17:51] baronfel opened #712 "Enhance support for fsl/fsy files"
Now that https://github.com/fsprojects/FsLexYacc/pull/144 is merged, we should be able to take an explicit dependency on the core logics for fslex and fsyacc. The AST structures provided for lex and yacc files in these libraries should enable us to lgiht up many LSP features for lex/yacc files, including:

* intellisense for parser rules
* provide syntax highlighting for the F# code inside a rule

[2021-02-03 22:56] #710 closed, assigned to nobody

[2021-02-04 14:39] baronfel opened #715 "[Packaging] Release zips don't maintain unix permissions"
The zips created in FAKE don't have their permission bits set correctly, so they appear to have no permissions at all on unix systems. This means a user has to download, extract, then chmod the whole extracted tree before they can use the software. We should use an alternative method of packaging those zips.

* FAKE's zip support doesn't allow hooks for modifying the file permissions
* If we dip d

[2021-02-07 00:23] Vetii opened #716 "The language server tries to access files in / on Linux"
I installed the `fsharp-mode` emacs plugin, the plugin automatically installed the language server for me.
When I opened a file, I got the following error message:

[code]

When I tried looking at what this file was, I noticed that `.wine-pipelight/dosdevices/z:` is a link to `/`.
I do not understand why a language server would be interested in opening files in `/home/lost+found`. Is this normal?

[2021-02-07 00:29] baronfel commented on #716
There's apparently a bug in our workspace-detection logic, which tries to discover what 'workspace' you intended to open when you open ionide on a specific folder. I can't speak to your situation directly, but you can specifically tell ionide what workspace to use with a setting in your settings.json file. Check the readme in ionide for the exact name, but you can set this variable to a specific p

[2021-02-11 16:41] baronfel opened #717 "AdditionalData in FormattingOptions cannot be deserialized"
This is the root cause of [this issue](https://github.com/ionide/ionide-vscode-fsharp/issues/1496) in Ionide.

The `JsonExtensionData` doesn't seem to work for records because the backing dictionary is null. We should investigate this and see if we even need these formatting options anymore, as Fantomas uses .editorconfig for this sort of thing.

[2021-02-18 13:49] chendesheng commented on #717
I just got the same issue with sublimeLSP.
A temp workaround for sublimeLSP user could be modifying the source code of sublimeLSP, adding an 'additionalData' field (set to empty object) in client request object. It's in `LSP/plugin/core/views.py, `formatting_options` method.

[2021-02-20 06:40] cartermp opened #720 "Exception in completion when typing in a script where things may still be computing in the background"
Repro:

[code]

Use this code:

[code]

Type out `xxxx` on the last line in place of `x`.

Saw this in the log:

[code]

I don't think it's severe, since completion started working after a while. But it seems like a case is being unaccounted for here.

[2021-02-20 06:41] cartermp opened #721 "Rename and Find Refs don't appear to work on newly-created script files"
This is the sibling issue of: https://github.com/ionide/ionide-vscode-fsharp/issues/1265

It seems like everything else works, but on a brand-new script file in a fresh directory, rename and find refs never work.

[2021-02-20 19:25] PhilT opened #722 "Added support for FsAutoComplete to Neovim 0.5"
Just a heads up that FsAutoComplete works with Neovim 0.5 LSP client so I've added a config for it. Let me know if you'd like me to add it to the README.

https://github.com/neovim/nvim-lspconfig/blob/master/CONFIG.md#fsautocomplete

[2021-02-22 12:31] Krzysztof-Cieslak commented on #722
Yes, please send PR.

[2021-02-24 17:05] TheAngryByrd opened #723 "Constant CPU usage for Background Service"
The background service seems to be constantly running in the background consuming 1-2 CPUs at any given time.

I ran `dotnet-trace` on the background service for about 15 seconds.  The trace includes `nettrace` format  which can be opened with [perfview](https://github.com/microsoft/perfview) and contains a `speedscope` format which can be opened with [SpeedscopeApp](https://www.speedscope.app/).

[2021-02-24 17:14] TheAngryByrd commented on #723
This is also worth noting.  Looking briefly as [FCS](https://github.com/fsharp/FSharp.Compiler.Service/blob/f73e30f367df7e4270e013732e17973c806d2389/src/fsharp/service/service.fs#L1153-L1159)

[code]

[2021-02-24 17:38] cartermp commented on #723
Oh yes, that is not something to be used in mainline scenarios. The reason why it exists (and shouldn't exist, but does, oh well) is because it's needed for some integration testing scenarios that involve type providers. It makes these editor-ish integration tests work on "clean" data that would otherwise get corrupted and cause runtime failures if this call didn't exist. Type providers basically

[2021-02-24 19:12] Krzysztof-Cieslak commented on #723
I think `ClearLanguageServiceRootCachesAndCollectAndFinalizeAllTransients` was introduced to BacgroundService to decrease memory usage on it

[2021-02-27 02:10] lukealbao opened #726 "Tooltips are incorrect for nested tuples"
Hi, thanks for maintaining this project!

Values of nested tuples don't render with any parentheses, as expected. Unless I'm missing something, it seems pretty simple to fix, so I'm opening a PR momentarily.

[code]

[2021-02-27 03:09] #726 closed, assigned to nobody

[2021-03-01 19:12] baronfel opened #729 "CodeFix Idea: fix record field assignment when `=` is missing"
For the code

[code]

you get the following error:

[code]

It would be cool if there was a codefix that would detect this and correct the syntax error, that is inserting the missing `=` in the field assignment.

[2021-03-01 22:56] TheAngryByrd commented on #723
Yeah `ClearLanguageServiceRootCachesAndCollectAndFinalizeAllTransients` is definitely the culprit.  Removing that line stops the CPU from burning on my work solution.

So `ClearLanguageServiceRootCachesAndCollectAndFinalizeAllTransients` was used to handle a memory issue.  Is there a better solution @cartermp?  Or possible if we have to make this call, not do it so often.  Once every 5 mins or som

[2021-03-02 01:30] cartermp commented on #723
Not sure. In the VS tools we don't do any clearing of caches, and don't need to. There is only one instance of an FSharpChecker at any time, so memory pressure isn't that great. In the case of Ionide, the background service has another instance in memory, so memory usage is always going to be larger in comparison.

I think the main question to ask is why the background service seemed to grow unbou

[2021-03-02 02:25] baronfel commented on #721
does brand-new here mean 'not saved yet' or something more akin to `touch script.fsx && code script.fsx`?

[2021-03-02 02:34] #717 closed, assigned to nobody

[2021-03-02 02:36] cartermp commented on #721
Yes, saved file.

[2021-03-04 15:50] pkese commented on #723
Not sure if this is helpful, but on Linux, saying `sudo journalctl -f` shows that there's a lot of stuff going on in an idle (minimized) VSCode/Ionide window.

The process
`dotnet /home/peter/.vscode/extensions/ionide.ionide-fsharp-5.4.0/bin/fsautocomplete.backgroundservices.dll`

is logging approximately this amount of data **every second**:
[code]

[2021-03-04 16:03] baronfel commented on #723
That particular thing is known already, and @TheAngryByrd is working on an idea for managing that.

[2021-03-04 16:08] pkese commented on #723
Ah, sorry.

All this logging seems to be unrelated to memory consumption. In my case, both
`dotnet /home/peter/.vscode/extensions/ionide.ionide-fsharp-5.4.0/bin/fsautocomplete.dll --background-service-enabled`
and
`dotnet /home/peter/.vscode/extensions/ionide.ionide-fsharp-5.4.0/bin/fsautocomplete.backgroundservices.dll`
are normally consuming about 1 GB each.

It's only after I do `dotnet paket i

[2021-03-04 20:40] MangelMaxime commented on #571
It seems like Ionide 5.4.0 shows a warning when the doc comment is invalid.

![image](https://user-images.githubusercontent.com/4760796/110026682-3e7a3d00-7d31-11eb-879a-2c576a753af8.png)

I suppose this is coming from the latest FCS which add more warning/analyser thing.

The good news is that it is now easier for the user to access the error message. However, even if I provide a special handling

[2021-03-04 20:52] MangelMaxime commented on #571
To give a bit more context:

One way to detect non closed tag is to use a Regex:

*Disclaimer: This Regex isn't 100% safe yet it is just to demonstrate the idea*

![image](https://user-images.githubusercontent.com/4760796/110028401-797d7000-7d33-11eb-9f17-e71f29592abb.png)

See how it detect the `<string>` tag. We could then decide to escape the `<` and `>` from it to generate a valid XML. Of cour

[2021-03-05 02:35] baronfel opened #733 "Adopt `workspaceFolders`"
Per https://github.com/ionide/ionide-vscode-fsharp/issues/1204 we should move off of using rootPath/rootUri directly.

## Updated thoughts

We should do this, but it's a large task so we will take it in stages:

### Stage 1 - remove use of deprecated members, keep behavior the same as today

*  [ ] update FSAC to not use `RootPath`/`RootUri` directly, in favor of the `workspacePaths[0].Uri` - this

[2021-03-05 02:46] baronfel commented on #733
Note that I'm not actually suggesting supporting multiple roots in FSAC, but just altering our initialization routines to handle them, eventually deciding upon the _one_ root.

[2021-03-05 02:49] baronfel commented on #733
From reading `https://github.com/microsoft/vscode/wiki/Adopting-Multi-Root-Workspace-APIs#eliminating-rootpath` a bit more, we might have to change our settings to support being set at the `resource` scope in order to get them to show up at the `initialize` call instead of waiting for workspace-specific settings via the configuration change event. Lots more details [here](https://github.com/micros

[2021-03-05 04:12] baronfel commented on #715
We can't use the fix linked in the second answer, because FAKE is a netstandard2.0 runtime and those are netstandard2.1.

[2021-03-05 10:51] MangelMaxime commented on #571
I did try to find a way to detect char we want to escape and it is not that simple.

Looking at FSharp.Core source code for reference it seems like the choice was made to respect the "Doc comment specification"

https://github.com/dotnet/fsharp/blob/4ebc0f1768ee3eaf01b898fc5e3065d0210a4852/src/fsharp/FSharp.Core/option.fsi#L403

![image](https://user-images.githubusercontent.com/4760796/110105390-

[2021-03-05 10:51] #571 closed, assigned to nobody

[2021-03-05 10:53] MangelMaxime commented on #591
I don't have a 100% safe way of handling this case.

Also, the current implementation is aligned with the "Doc comment spec" so I am closing this issue.

In the case presented above, the user should manually escape the specials characters.

For me info, see https://github.com/fsharp/FsAutoComplete/issues/571

[2021-03-05 10:53] #591 closed, assigned to nobody

[2021-03-06 19:53] #723 closed, assigned to nobody

[2021-03-08 08:16] PhilT commented on #722
Fixed by #724

[2021-03-08 08:16] #722 closed, assigned to nobody

[2021-03-15 21:56] baronfel opened #739 "Tooltip oddity with signatures/quick info"
Say I have two projects, A and B. A exposes a module A, B exposes a module B. A has a signature file for `A.hello` that takes a `name` parameter with some docs. B consumes `A.hello` inside `B.hello`

Inside the A library, hovering over the definition of `A.hello` doesn't show the tooltip from the signature:

![image](https://user-images.githubusercontent.com/573979/111226439-22875e80-85af-11eb-874

[2021-03-15 22:18] theothornhill opened #740 "Getting 'Cached typecheck results not yet available' -32603 on m1 Mac"
Hello!

I'm having some issues running FSAC in emacs on an M1 Mac. It runs fine in vscode, but errors in emacs.

### How to reproduce:
- use m1 Mac (This might happen elsewhere as well(
- use this repo https://github.com/ChrisMarinos/FSharpKoans
- `dotnet build`
- `M-x lsp` some file, like `AboutLet.fs`

### What happens
It looks like the workspace only partially initializes. Breadcrumb is sometim

[2021-03-15 22:23] baronfel commented on #740
yep, you definitely have the problem where .net 6 and .net 5.0.2xx didn't work. Since you're using emacs, you need to manually update your FSAC install, the latest stable version (0.42.0) supports these .net sdk versions. Things tend to work in ionide because we bundle and ship our own FSAC there, but other editors have their own ways of managing FSAC versions.

[2021-03-15 22:26] theothornhill commented on #740
Hmm, I do use `0.42.0`, do you mean I should use current master?

[2021-03-15 22:31] baronfel commented on #740
oh, you're right! we haven't tagged a new release since the fix. you'll want at least from commit `d9bf1894493cc81de147e29b01b9e17e35ce604b` in order to get back up and running, and I'll see about tagging a new release version from that point so folks have something to point at.

[2021-03-15 22:37] baronfel commented on #740
0.43.0 is now available for you: https://github.com/fsharp/FsAutoComplete/releases/tag/0.43.0

[2021-03-15 22:37] theothornhill commented on #740
Thanks! You are absolutely correct. Works nicely from master :)

[2021-03-15 22:37] #740 closed, assigned to nobody

[2021-03-15 22:37] theothornhill commented on #740
Oh, nice! Thanks!

[2021-03-18 19:56] PhilT opened #741 "textDocument/signatureHelp: Could not find parameter locations"
Neovim 0.5 nightly (as of 18th March 20:00 GMT)

When calling signatureHelp to get a list of overloads for a .NET constructor I get the following error. I've been able to get this before with fsharp-language-server. Not sure if this works on fsautocomplete or whether the LSP client needs a bit more configuration.

[code]

So the above error occurs when the cursor is like this ( | = cursor ):

[cod

[2021-03-21 20:49] cartermp opened #742 "Function application signature help: space after last-applied parameter triggers tooltip"
Consider the following F# script:

[code]

Hitting space after `12` produces a tooltip:

![image](https://user-images.githubusercontent.com/6309070/111920433-2a7e4d00-8a4c-11eb-9504-f3dfafa2d24a.png)

It should not trigger it.

[2021-03-21 20:51] cartermp opened #743 "Function application signature help: space after last-applied parameter doesn't dismiss current tooltip"
related to https://github.com/fsharp/FsAutoComplete/issues/742

Consider the following F# script:

[code]

If you hit space after `12` you correctly see a tooltip.

After you have applied the last tooltip, if you hit space again then the tooltip does not get dismissed:

![image](https://user-images.githubusercontent.com/6309070/111920473-6ca78e80-8a4c-11eb-80f7-128e13e5f0e6.png)

Hitting space sho

[2021-03-21 20:52] cartermp opened #744 "Function application signature help: only first parameter is ever highlighted"
Consider this F# script:

[code]

Now hit space after the `1` and see that the first parameter is highlighted:

![image](https://user-images.githubusercontent.com/6309070/111920389-d70bff00-8a4b-11eb-9200-f8b0e34ecad4.png)

The second parameter in the tooltip needs to be highlighted, since that is the tooltip that we're "on".

[2021-03-21 20:54] cartermp opened #745 "Function application signature help: consider adding parens to tupled arguments in tooltip"
When a function has tupled arguments, the tooltip is technically correct. However, it might be easy if you hit space after the function name to pass arguments _not_ as a tuple since you need to look for the `*` separators instead of the `->` separators:

![image](https://user-images.githubusercontent.com/6309070/111920528-bdb78280-8a4c-11eb-8fd3-4f3b9ed3a94f.png)

[2021-03-21 20:57] cartermp opened #746 "Function application signature help: consider making tooltips pipeline-aware"
Consider the following piped call to `List.map`:

![image](https://user-images.githubusercontent.com/6309070/111920616-328abc80-8a4d-11eb-9643-c5beab074408.png)

if https://github.com/fsharp/FsAutoComplete/issues/744 is fixed, then this will indicate that you still need to pass in a list argument. That is incorrect, because it has already been passed in via the pipeline.

[2021-03-21 20:59] cartermp opened #747 "Function application signature help: inner function calls don't trigger a new tooltip"
Consider the following nested call to `g`:

[code]

![image](https://user-images.githubusercontent.com/6309070/111920677-83021a00-8a4d-11eb-83eb-ded82edd9e40.png)

While it's technically still correct to show the tooltip for `f`, it's better to show a new tooltip for `g` when we're at the call site for `g` and actively applying parameters.

[2021-03-21 21:01] cartermp opened #748 "Function application signature help: no tooltip triggered inside computation expression"
Consider the following sample:

[code]

After hitting space after `sqrt`, there should be a tooltip for `sqrt`. There is none.

[2021-03-21 21:03] cartermp opened #749 "Function application signature help: outer function tooltip triggered inside of lambda in other function call"
Consider the following snippet:

[code]

Hitting space after `add` should trigger a tooltip for `add`. It triggers for `map` instead:

![image](https://user-images.githubusercontent.com/6309070/111920765-15a2b900-8a4e-11eb-97c6-95f9bc7e63d1.png)

[2021-03-21 21:04] cartermp commented on #749
Another symptom of the same issue:

[code]

![image](https://user-images.githubusercontent.com/6309070/111920816-4f73bf80-8a4e-11eb-9352-06c80827ab88.png)

[2021-03-21 21:06] cartermp opened #750 "Function application signature help: no tooltip triggered on explicitly parameterized function"
Consider the following snippet:

[code]

Hitting space after the `>` on the last line should trigger a tooltip for `tryConvert`. It doessn't trigger one.

[2021-04-01 21:55] peheje opened #754 "Configuring fantoms: tabsize"
I am using VSCode with the Ionide plugin, I have set the VScode identation size to 2 in settings.json with "editor.tabSize": 2, however "format document" still formats as if it's using 4.

How do I configure Fantomas? I have tried to create configuration for fantomas, but I doesn't seem to be respected when using Ionide.

[2021-04-09 20:14] peheje commented on #754
The solution is to create a file in the root of the project called ".editorconfig" with default contents from this page: https://github.com/fsprojects/fantomas/blob/master/docs/Documentation.md#configuration

The .editorconfig file is not required to be included in csproj / be seen by ionide.

The default settings has a few settings for max line length, so be sure to set all the settings you need.

[2021-04-09 20:14] #754 closed, assigned to nobody

[2021-04-12 14:31] baronfel commented on #750
As of #757

![image](https://user-images.githubusercontent.com/573979/114411486-d6114d80-9b71-11eb-884c-2013c5f8eaef.png)

[2021-04-12 14:32] baronfel commented on #749
As of #757

![image](https://user-images.githubusercontent.com/573979/114411638-fb9e5700-9b71-11eb-9004-8fc1a6f607aa.png)

[2021-04-12 14:32] baronfel commented on #748
As of #757

![image](https://user-images.githubusercontent.com/573979/114411717-0e189080-9b72-11eb-8b9e-ea4759de2cd0.png)

[2021-04-12 14:33] baronfel commented on #747
As of #757

![image](https://user-images.githubusercontent.com/573979/114411794-1f619d00-9b72-11eb-988f-52bfa2070ef7.png)

[2021-04-12 14:37] baronfel commented on #744
#757 doesn't fix this one, the underlying `FSharpMethodGroup` that we get from FCS is only reporting 1 curried parameter group in this instance so the `textDocument/signatureHelp` response for this one is

[code]

note the single parameter here.  If we were reporting all parameters, then this would 'just work'

[2021-04-12 14:37] baronfel commented on #743
hard to show this one in a screenshot, but it works with #757

[2021-04-12 14:38] baronfel commented on #742
hard to show in just a tooltip, but this works in #757

[2021-04-12 16:04] baronfel opened #758 "Units of measure are not reduced correctly in hover tooltips"
Given the source

[code]

hovering over `speed` produces the following tooltip:

![image](https://user-images.githubusercontent.com/573979/114425611-dcf28d00-9b7e-11eb-92bd-a7817c4ca2c1.png)

Note here that the line lens is correctly reduced, while the hover tip is explicit.

[2021-04-13 01:54] #758 closed, assigned to nobody

[2021-04-13 01:55] #750 closed, assigned to nobody

[2021-04-13 01:56] #749 closed, assigned to nobody

[2021-04-13 01:56] #748 closed, assigned to nobody

[2021-04-13 01:56] #747 closed, assigned to nobody

[2021-04-13 01:56] #746 closed, assigned to nobody

[2021-04-13 01:56] #743 closed, assigned to nobody

[2021-04-13 01:56] #742 closed, assigned to nobody

[2021-04-13 21:18] purkhusid opened #760 "Ionide fails to suggest generation of abstract class overrides"
I've got a repro of a case where Ionide fails to suggest generation of abstract class overrides:
https://github.com/purkhusid/ionide-repro

Tested with latest version of Ionide and .Net Core 5.0.104

[2021-04-13 21:38] baronfel commented on #760
Self-contained repro is

[code]

The codefix should become available at the beginning of `MyStream` but it does not.

[2021-04-13 21:43] purkhusid commented on #760
Haha, your repro is a bit smaller than mine :P

[2021-04-14 00:24] baronfel commented on #760
There are two major roots to the problem that I can see that we'll need to address to get a real fix:

## Range/Position math seems to be off.

To trigger this codefix, we look for two specific compiler error codes related to abstract class members and use the `Range` of that diagnostic to eventually find the name of the type we need to derive some information for.  This range is an LSP range, not

[2021-04-14 08:33] purkhusid commented on #760
@baronfel Thank you for looking into this. Appreciate the effort!

[2021-04-16 18:01] #760 closed, assigned to nobody

[2021-04-18 09:53] purkhusid opened #762 "Suggestions seem off in latest version"
There is something off about the suggestions in the latest Ionide version e.g. if I just create a new .fsx file with the following
[code]
Then the suggestions after the `Async.` don't suggest things from the Async module but if I revert to the previous version of ionide I get good suggestions from the Async module

[2021-04-18 18:15] #762 closed, assigned to nobody

[2021-04-18 18:26] baronfel commented on #741
FSAC 0.45 and greater have a new, improved parameter signature help system that fixes each of the issues you noted here. For method calls like these the system is much more intelligent about how it provides parameter help. Give it a spin and let me know what you think!

[2021-04-18 19:22] PhilT commented on #741
Thanks @baronfel , I just downloaded 0.45.1 but I'm still seeing the same response from the language server:

For example:

![image](https://user-images.githubusercontent.com/34678/115157871-7213eb00-a083-11eb-8a8b-ceb3e196f714.png)

Note that it's still showing the first overload.

Autocomplete shows the correct number of overloads though:

![image](https://user-images.githubusercontent.com/34678

[2021-04-18 19:48] baronfel commented on #741
yep, you're exactly right. I went looking into things in more detail, and I found a case where I was comparing an array index to a length, so my comparison was off-by-one, which means that you'd get the first overload that had one parameter _less_ than what you were looking for. I'm going to add a test to cover this behavior specifically to not regress in the future, then send out another release

[2021-04-18 20:20] #741 closed, assigned to nobody

[2021-04-18 20:25] baronfel commented on #741
0.45.2 has this fix if you want to try it now

[2021-04-19 07:29] PhilT commented on #741
I'm still seeing the first overload. Ah! When I press a space then I get it. So:

`System.IO.Directory.EnumerateDirectories("",|)` still shows me the single string overload
whereas `System.IO.Directory.EnumerateDirectories("", |)` shows me the one for 2 strings. Nice! Technically it should probably happen after the comma but this works for me.

[2021-04-19 07:35] PhilT commented on #741
Going back to this screenshot though. Shouldn't it show the different overloads for `EnumerateDirectories` rather than the whole `Directory` sig? I can raise another issue if that's something different.

![image](https://user-images.githubusercontent.com/34678/115198506-09138e00-a0ea-11eb-9e5e-7688bcca79ff.png)

[2021-04-19 20:04] PhilT commented on #741
I think there are still some off by 1 (or 2) errors:

![image](https://user-images.githubusercontent.com/34678/115296394-d2259280-a152-11eb-90cf-8ec5d5cd303d.png)

![image](https://user-images.githubusercontent.com/34678/115296566-05682180-a153-11eb-858c-04274fbf1194.png)

[2021-04-19 20:06] baronfel opened #766 "Hover tooltips seem to be off by 1 (or 2)"
Given

[code]

Hover over the `t` in `thing` and observe the tooltip.

## Expected

The tooltip for the `thing` identifier is shown (assembly/module/typesig/etc).

## Actual

The tooltip for the `let` keyword is shown.

[2021-04-19 20:07] baronfel commented on #741
Logged as https://github.com/fsharp/FsAutoComplete/issues/766

[2021-04-19 21:49] #766 closed, assigned to nobody

[2021-04-22 16:04] #721 closed, assigned to nobody

[2021-04-28 19:46] MangelMaxime opened #775 "TipFormatter: Backtick should be escaped from cref attributes"
The following doc comment

[code]

results in:

![image](https://user-images.githubusercontent.com/4760796/116463486-05f76b00-a86b-11eb-870c-772cba326a64.png)

[2021-04-28 21:03] baronfel commented on #775
This might just go away when the next FCS comes out and we get the XML parsing newly-included in there for free.

[2021-04-29 05:17] MangelMaxime commented on #775
Didn't know that, I though I would jump back into the implementation I contributed of TipFormatter but that's good news if there is a standard parser coming out.

Is there a place where I can read about it? Current implementation of the TipFormatter in FSAC is one of the best existing from what I saw in other IDE.

[2021-04-30 15:11] baronfel commented on #775
There's not documentation yet, but [this PR](https://github.com/dotnet/fsharp/pull/11454) was merged a little bit ago and will be coming in FCS 40.

Essentially it would remove/replace our built-in XML comment reading with a facility that is in FCS now, but the extraction of information that TipFormatter uses to collect into the tooltips would likely remain the same. Just the data structure that t

[2021-05-04 18:33] PhilT opened #778 "fsac.cache always in obj/"
I've recently configured my project to build all intermediate and built artifacts into `obj/` and `bin/` outside of the main `src/` folder through a  `Directory.Build.props` file. However, it seems `fsac.cache` doesn't pick this up and still creates `obj/fsac.cache` in each of the `src/project/` folders.

Is there a way to configure/turn off/get it to use the correct directory somehow?

[2021-05-04 18:41] PhilT commented on #709
I suspect this is a message from the F# Compiler Service rather than FsAutoComplete.

[2021-05-04 19:03] baronfel commented on #778
This is actually a bug in [proj-info](https://github.com/ionide/proj-info), which we use to do all the project caching. Specifically, the `cachePath` [here](https://github.com/ionide/proj-info/blob/master/src/Ionide.ProjInfo.ProjectSystem/Project.fs#L47).

That project should:
* rename the file because that code's no longer part of FSAC
* use the IntermediateOutputDirectory of the project (which w

[2021-05-04 19:10] PhilT commented on #778
Ah! I see. Closing. I'll open there. Thanks.

[2021-05-04 19:10] #778 closed, assigned to nobody

[2021-05-08 16:38] baronfel commented on #709
That's correct, @PhilT. Any changes to the warnings/errors given by the compiler (and by extension, the Compiler API Services we use in this project) should be opened up as discussions/issues in the [fslang-suggestions](https://github.com/fsharp/fslang-suggestions) and go through the approval process before being implemented in [dotnet/fsharp](https://github.com/dotnet/fsharp/) and eventually flow

[2021-05-08 16:38] #709 closed, assigned to nobody

[2021-05-08 16:41] baronfel commented on #706
Since this post was written a harness for codefixes has been added to the test suite, so it should be very easy to bring this code fix under test now, following the patterns from the other tests in [CodeFixTests.fs](https://github.com/fsharp/FsAutoComplete/blob/master/test/FsAutoComplete.Tests.Lsp/CodeFixTests.fs)

[2021-05-08 16:44] baronfel commented on #701
As a bit of an update to this issue, Fantomas has been working on an out-of-process LSP-based daemonized implementation which would be distributed as a dotnet tool, to more easily integrate into all editors.  We have yet to try and test/integrate this version here, but the basic flow would be:

* FSAC would bundle a particular version of the dotnet tool as part of its packaging
* FSAC at runtime w

[2021-05-08 16:49] baronfel opened #779 "General better support for signature files in tooling"
Right now we have some gaps in our support for signature files:

* Tooltips don't always resolve the xml docs on signature declarations when inside the same project (#739)
* Go-To Definition/Declaration doesn't know how to find definitions in signature files
* Find References doesn't know how to cover signature files
* Project Tree/results views may not show signatures correctly/may want to logica

[2021-05-08 16:53] baronfel commented on #486
A potential solution to this might be using the new signature-file metadata view coming in FCS 40 for these lookups instead of the ICSharpCode decompiler. We may want to make that an option anyway.

[2021-05-08 16:58] baronfel commented on #720
Yep, there was definitely a substring call whose length could grow too large too quickly, but we've since addressed that by capping it to the length of the given line in that position.

[2021-05-08 16:58] #720 closed, assigned to nobody

[2021-05-08 17:00] baronfel commented on #485
Closing this as we have a nice workaround/better functionality in general.

[2021-05-08 17:00] #485 closed, assigned to nobody

[2021-05-08 17:01] baronfel commented on #682
We've updated FCS and incorporated the use of the new formatting flag so that we don't have to regex-replace the types anymore, so this can be closed.

[2021-05-08 17:01] #682 closed, assigned to nobody

[2021-05-08 17:22] baronfel commented on #653
This is possible, but would be a lot of work.  Currently, all tooltips are derived from the results of the `checkResults.GetTooltipText` API from FCS, which is pretty opinionated about resolving type aliases/abbreviations down to what their fully-resolved types are.

This could either be changed in FCS itself for this API (possibly with some kind of flag?) or we could shift our tooltip generation

[2021-05-08 17:42] baronfel commented on #669
Sorry for the delay here, would you mind providing a sample project or logs from this project (using `FSharp.enableVerboseLogging: true` in your settings.json) so we can verify the state of the plugin?

[2021-05-13 14:25] baronfel opened #781 "Analyzers seem to not be working, even when detected in the workspace"
@Zaid-Ajaj and @aaronpowell have both brought this up on the FSSF slack, but neither Npgsql.FSharp nor (@aaronpowell please comment the name of your analyzer :) ) are working in latest Ionide, which is likely because of the checker-swap-detection I added to enable the use of signature files to speed typechecking.  We need tests around this area and we need to fix the underlying issue.

[2021-05-13 18:32] Zaid-Ajaj commented on #781
Hi @baronfel, sorry I didn't have time to get back to the issue :/ my analyzer is called [NpgsqlFShrpAnalyzer](https://www.nuget.org/packages/NpgsqlFSharpAnalyzer/) and it targets net5.0 as well as latest analyzers SDK as of latest version

[2021-05-13 20:31] aaronpowell commented on #781
Mines [FSharp.CosmosDB.Analyzer](https://github.com/aaronpowell/fsharp.cosmosdb)

[2021-05-13 20:35] baronfel commented on #781
Thanks folks. I'll try to look into this and see if I can resolve it over the next few days.

[2021-05-13 21:35] baronfel commented on #781
Pretty sure I found it, and it was exactly what I expected. I missed a data-dependency and the underlying FSharpChecker wasn't getting swapped out in a certain case. This area of the code is one of the more hairy parts :( I should be able to push out a fixed Ionide over the next day or so, though.

[2021-05-15 17:51] #781 closed, assigned to nobody

[2021-05-15 18:58] Zaid-Ajaj commented on #781
This is awesome @baronfel thanks a lot for fixing the issue ❤️ 🙏

[2021-05-15 19:02] baronfel commented on #781
Working on a new release this evening, just for you @Zaid-Ajaj

[2021-05-15 19:14] Zaid-Ajaj commented on #781
![download](https://user-images.githubusercontent.com/13316248/118375553-91d6fa00-b5c2-11eb-93da-f5fbdf5706c8.png)

[2021-05-16 00:57] baronfel commented on #781
This should be fixed and release in Ionide 5.5.5 now.

[2021-05-16 03:51] Zaid-Ajaj commented on #781
Tested and the analyzer worked like a charm 😍

[2021-05-16 23:44] aaronpowell commented on #781
Working here too! 🤩

[2021-05-23 04:50] LiteracyFanatic commented on #709
Thanks for pointing me to the right place. I've opened a suggestion [here](https://github.com/fsharp/fslang-suggestions/issues/1010).

[2021-06-06 19:53] kaashyapan opened #786 "LSP client error - 'Error while decompiling symbol' - cannot inspect the type of a variable"
Issue occured when trying to use fsautocomplete.dll with Neovim native LSP client.
Using net5.

Setup was done manually as per https://github.com/neovim/nvim-lspconfig
The following message was thrown when trying to inspect the type of a variable.

For the record, the client is able to show other type errors, syntax errors etc...

[code]

[2021-06-06 20:00] baronfel commented on #786
Making a quick note for the future: this user has installed via asdf, a language package manager. It might be the case that the tool installed asks and related directories to nonstandard paths and the tools have a hard time working with those paths. This could be similar in nature to the issues we already have logged around users who symlink dotnet, etc.

[2021-06-06 20:05] baronfel commented on #36
Going to reopen this as we're not currently publishing packages to nuget right now of any kind.

[2021-06-07 14:25] baronfel commented on #36
We're going to make an Ionide group in nuget and publish the initial version of this dotnet tool under that group. It's quite easy to add/transfer ownership of the package if it becomes necessary (ie if the fsharporg organization should be the maintainer, etc).

[2021-06-08 18:52] Booksbaum opened #789 "Inconsistency in generated `open` location between Code Completion and Code Fix"
# Inconsistency in generated `open` location between Code Completion and Code Fix

When completing (`Ctrl+Space`) a type in an unopened Namespace, its `open` gets automatically generated. Alternatively the `open` can be generated via Code Fix (`Ctrl+.`) on a type in unopened namespace.

But currently these `open` get generated at different locations:
* Code Completion: Nearest possible place (-> n

[2021-06-09 15:53] baronfel commented on #36
This has been done, the package can now be fetched from [Nuget](https://www.nuget.org/packages/fsautocomplete/). The command is `dotnet tool install fsautocomplete`, though of course it can be installed globally, locally, or to a specific path based on what the user wants.

[2021-06-09 16:27] #36 closed, assigned to nobody

[2021-06-12 19:09] aridgupta opened #791 "How to setup F# and neovim lspconfig?"
I am trying to setup f# language server with neovim lsp. I have this in init.lua

[code]

I can see that lsp is attached to the client but no lsp feature is working. It gives an error like this `RPC[Error] code_name = Internal Error, message = "Cahced typecheck results not yet available"`

Also, `fsautocomplete` is now available from `dotnet` toolchain. How do I set this up properly so that lsp fe

[2021-06-13 02:57] baronfel commented on #791
Hi, and thanks for using fsautocomplete with nvim!  I'm not a vim user myself, but I spent some time setting up nvim from scratch to repro on my own projects, and it was pretty easy to get set up with basic error reporting (I'm not enough of a wizard yet to have autocompletion configured it seems!).

You're right that fsautocomplete can now be installed via the dotnet toolchain, which I did with `

[2021-06-13 06:00] aridgupta commented on #791
@baronfel thank you. Hover and autocomplete seems to work now. However, formatting is not working. I get this error when I am executing `:lua vim.lsp.buf.formatting()`

![Screenshot 2021-06-13 at 11 28 56 AM](https://user-images.githubusercontent.com/59746186/121796948-a1d21000-cc3a-11eb-91f0-4b8834abeff2.png)

I do have Fantomas globally installed.

[2021-06-13 11:58] baronfel commented on #791
This is probably a bug in the packaging of fsac in this new dotnet tool format. I'll take a look into it today.

[2021-06-13 16:50] baronfel commented on #791
This should be fixed in 0.46.2, released just now.

[2021-06-13 16:50] #791 closed, assigned to nobody

[2021-06-13 16:50] baronfel commented on #789
Closing as #788 (released in 0.46.2) fixed this.

[2021-06-13 17:07] Booksbaum commented on #789
#788 "just" fixes some cases where `open`s from Code Completions are inserted into invalid places (and such producing compiler errors).

But the basic behaviour of both wasn't changed: Code Completion still `open`s in nearest location, Code Fix in top level
-> this issue isn't solved

[2021-06-13 17:08] baronfel commented on #789
Oh of course, this was the issue you added specifically to address that inconsistency.

[2021-06-14 16:43] aridgupta opened #793 "Neovim 0.5 Lsp works with dotnet projects but not single file with .fs extension"
I have this setup using Neovim 0.5 lspconfig

[code]
Hover, lsp diagnostics, code actions and formatting are working on `fsharp` files with `.fs` extension inside a `dotnet` project generated using the cli. However, none of the lsp features is working on standalone `.fs` files. I can see that the lsp client is attached to the workspace even if its a standalone `.fs` file but none of the lsp featur

[2021-06-14 16:45] baronfel commented on #793
That use case is not supported in any editor tooling. If you want standalone f# files you must use .fsx script files.

[2021-06-14 16:52] aridgupta commented on #793
Thank you. I am new to F# and dotnet ecosystem.

Changed the extension to `.fsx` from `.fs` and everything is working normally now.

Cheers :)

[2021-06-14 16:52] #793 closed, assigned to nobody

[2021-06-14 16:53] baronfel commented on #793
Glad it's all working for you, and welcome!

[2021-06-15 12:28] Booksbaum opened #794 "`Commands.state` can contain invalid data"
In the "Auto-Open from completion" tests (for #788) I [forgot to Cache the created LSP Server](https://github.com/fsharp/FsAutoComplete/blob/master/test/FsAutoComplete.Tests.Lsp/CompletionTests.fs#L191-L208). But after adding `Async.Cache` some tests suddenly failed. Even worse: In different test runs different tests failed.... Test failure was: Returned `open` position was different from expected

[2021-06-16 20:06] baronfel opened #797 "Need to bump fantomas to get formatting fixes for format specifiers"
As noted [here](https://github.com/ionide/ionide-vscode-fsharp/issues/1540#issuecomment-862676499)

[2021-06-16 21:22] #797 closed, assigned to nobody

[2021-06-18 14:50] Booksbaum opened #800 "On Windows `FileSystem.GetFullPathShim` causes Test Failures and no code errors displayed in Ionide"
Quite a lot of FsAutoComplete Tests currently fail on Windows because it doesn't receive any typecheck errors/diagnostics (In [logs](https://github.com/fsharp/FsAutoComplete/runs/2852384718): search for "Should have had errors" or "Expected errors" or "Expected to fail"). On Linux (inclusive WSL (2)) these errors are received.
Further: In Ionide, a F# file open at Editor start doesn't receive any

[2021-06-18 15:03] baronfel commented on #800
Yep, you've hit on one of the most frustrating aspects of LSP overall: paths come in as file URIs (which require quite a lot of massaging because .Net is horrible at dealing with OS-agnostic file paths), and we have to be pretty rigorous in how we scrub them, since we can get paths from any OS while running on a completely different OS (which Visual Studio doesn't have to deal with and so they don

[2021-06-20 01:44] faldor20 opened #802 "How does the union, class and record intellisense tool tip signature work?"
### What
I know this is a strange request, but I have been trying to port a few key features from fsac to FSharpLanguageServer and would love some help.
Notably the function and type signature display in the IntelliSense window:

I got function signatures working fine using the ``extractSignature`` function from TipFormatter.fs
However, I can't seem to find the code for record/union/class signatur

[2021-06-20 02:48] faldor20 commented on #802
I actually fixed this by removing some of the code in ``extractSignature``
[code]
I don't understand why the code here seems to cut off the signature for unions and records. Or why that doesn't actually appear to effect FSAC but did when I added it to FSLSP.
Either way by removing ``getSignature`` that limits the tooltip to the first line we now have a working function and type signatures.

[2021-06-20 17:49] baronfel commented on #802
if you look at the tooltip text coming from FCS it's made of several parts: signature, assembly, generic parameter information, etc.  What we do here is specifically extracting the signature portion for formatting, because elsewhere in FSAC we have mechanisms for formatting the other parts of the FCS-returned tooltip structure.

[2021-06-20 17:51] baronfel commented on #802
I would like to take exception with some of your comments, however:

FSAC strives for compatibility, but we don't actively hate performance.  It's hard to pin down certain causes, that's all.  We'd certainly welcome any specific cases that people can report, but we're not mind-readers here.  We just try to err on the side of compatibility (by way of the proj-info cracking) rather than use the FCS

[2021-06-20 18:00] baronfel commented on #800
I do think you're on to something, but I think your implementation causes issues with other functionality.  If we compare the results of the goto tests on windows on [your branch](https://github.com/Booksbaum/FsAutoComplete/runs/2858468720) to [another PR](https://github.com/fsharp/FsAutoComplete/pull/803/checks?check_run_id=2869861427) (look for `lsp.Ionide WorkspaceLoader.Go to definition tests`

[2021-06-20 18:03] #802 closed, assigned to nobody

[2021-06-20 23:33] faldor20 commented on #802
@baronfel
Thanks, I suspected it was going to be something like that.

I'm not sure I understand what you mean by compatibility? I have never had a project that FSLSP wouldn't open or anything like that. Infact I often use it for very large projects where FSAC can become unusably slow.

I'm sure its not that you don't care at all about performance. I certainly did get the impression from #361 that

[2021-06-20 23:54] Krzysztof-Cieslak commented on #802
And what's the point of this issue? You are happy with some other project and want to help it? Good for you, you solved your problem, but it's off-topic for this issue board.

Also I'd recommend to stop making uneducated assumptions about priorities of projects you don't use or contribute to. It may turn out that you miss quite a lot of context... like 10 years of history of the project :-)

[2021-06-21 00:04] faldor20 commented on #802
@Krzysztof-Cieslak
I do use this project and have for over 2 years of F# development. I was just try to explain myself.
Obviously the issue is a simple request for a little bit of help, I even acknowledged that it was an unusual request but seemed like something that the people here might be interested in helping with.

If people here are not interested in providing any kind of assistance that's a

[2021-06-21 01:10] baronfel commented on #802
Issues aren't really the place for open ended things like this, next time please use the Discussions feature instead for more free-form discussions.

Yes, of course, all the time.  It would be folly to reject a contribution that improved performance and didn't regress anything else. That should go without saying.  The hard part, as always, is pinpointing the cause, which requires good reproducible

[2021-06-21 01:34] faldor20 opened #805 "Intellisense broken for default VScode quick suggestion delay."
Recently (last few weeks) something has broken for me in Ionide vscode.
This happens on my 3 different windows machines.
Instead of getting intellisense suggestions. Nothing happens.
![image](https://user-images.githubusercontent.com/26968035/122695108-d0776880-d282-11eb-95bb-05d85ea039b5.png)

I can trigger it sometimes by typing part of the desired word
say "prin"
deleting some
"pr"
Then the pop

[2021-06-21 01:51] baronfel commented on #805
I won't be able to attempt to repro on my windows machine for a while, but you could be hitting path normalization errors like has been discussed in https://github.com/fsharp/FsAutoComplete/issues/800.  One thing that would be helpful is to enable `"FSharp.trace.server": "verbose"` in your settings, this will add the LSP protocol messages back and forth from the client to the server, which can hel

[2021-06-21 02:02] faldor20 commented on #805
Verbose should have been enabled for that log.
Using the normal suggestion delay (10ms)
I pressed escape in the middle to make the popup go away and it worked after that ( i suspect this again has to do with there being at least 2 letters typed when the popup is created)
![Animation](https://user-images.githubusercontent.com/26968035/122697214-30bcd900-d288-11eb-98e1-26e771765397.gif)
This is done

[2021-06-21 02:05] baronfel commented on #805
Sorry, I think you misunderstood me a bit. Verbose logging at the FSAC level was turned on, yes, but I was asking you to turn on the LSP-level logging via this new key. That would actually let us see the LSP calls that are driving the experience you're seeing.

[2021-06-21 02:13] faldor20 commented on #805
Hey, I don't have that option...  It is available when using FSharp language server. I used it just yesterday when fixing an issue with that. Would you like the log output from FSharp language server with that option enabled?
![image](https://user-images.githubusercontent.com/26968035/122698157-197eeb00-d28a-11eb-85f2-48b35d53e537.png)

[2021-06-21 02:15] baronfel commented on #805
You can always add the option in the setting.json manually. We don't advertise it because it's an implementation detail of vscode. In general you can do LANGUAGENAME.trace.server and vscode will start tracing.

[2021-06-21 02:19] faldor20 commented on #805
OHHHH, I see. Okay here we go, sorry about that :).
[log2.log](https://github.com/fsharp/FsAutoComplete/files/6683645/log2.log)

[2021-06-21 02:22] faldor20 commented on #805
That was me doing the same stuff as in the gif, I wrote just one letter. and it triggered and failed. I wrote two letters before the popup and it worked fine. I was able to have it work fine by starting the intellisense on a partially written word (with at least 2 letters).

[2021-06-21 05:20] faldor20 commented on #805
Oh I just noticed if I trigger the intellisense using ``ctrl+space`` without typing anything first it works fine

[2021-06-22 18:18] Booksbaum commented on #800
More explorations:

Quite a lot of the (remaining) issues are with Goto lookups. When there's no direct source available, FsAutoComplete goes through a couple of hoops to find or decompile some source (like https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete.Core/ParseAndCheckResults.fs#L61 or https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete.Core/ParseAnd

[2021-06-25 18:30] baronfel opened #806 "Port over 'add explicit type' refactoring from dotnet/fsharp"
Source is [here](https://github.com/dotnet/fsharp/blob/main/vsintegration/src/FSharp.Editor/Refactor/AddExplicitTypeToParameter.fs), it looks fairly straightforward to replicate.

[2021-06-25 18:50] baronfel commented on #806
I think I want to break out refactorings into a separate folder from where CodeFixes are now (purely for organizational/bookkeeping purposes), so it might be good to do that as part of this work.

[2021-06-25 21:03] baronfel commented on #806
This will actually be blocked until the FCS 40 upgrade (and potentially after) because it depends on properties that were added to `FSharpMemberOrFunctionOrValue`. Depending on if those have landed in the public FCS we may be blocked for a bit.

[2021-06-25 22:01] #806 closed, assigned to nobody

[2021-06-26 20:16] seanamos commented on #805
Here's another simple repo. Works fine until you are in a `let ... =`

![Peek 2021-06-26 22-13](https://user-images.githubusercontent.com/10598927/123524634-fc07b200-d6cb-11eb-95b5-aadf5458d578.gif)

[2021-06-27 13:51] cannorin opened #808 "Non-compliance with the LSP spec: Command.command"
## Summary

We are currently [using `string option` for `Command.command`](https://github.com/fsharp/FsAutoComplete/blob/master/src/LanguageServerProtocol/LanguageServerProtocol.fs#L1429
):
[code]

but the [LSP spec](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#command) says it's not optional:

[code]

## Why this is important?

I'm trying to show code

[2021-06-27 14:00] baronfel commented on #808
Thanks, this report makes perfect sense. If you'd like to send that up I'll merge right away and cut a new release, otherwise I'll try to fix it later today.

[2021-06-27 14:14] cannorin commented on #808
We might first have to think about which command we will assign to type signature code lenses.

An empty string might work? I once worked on [ocaml-lsp](https://github.com/ocaml/ocaml-lsp/) and it is just using an empty string as a command: https://github.com/ocaml/ocaml-lsp/blob/master/ocaml-lsp-server/src/ocaml_lsp_server.ml#L446

But how to treat an empty command is client dependent, so it migh

[2021-06-27 14:18] baronfel commented on #808
We could also make it a dummy command: 'command.typeSignatureLensClicked' and just not provide a handler implementation/provide an empty handler implementation.

The latter would depend on how clients handle missing command handlers I imagine...

[2021-06-27 14:34] cannorin commented on #808
I'm not very sure which is better and I have no more time to code today, so could you decide and implement it?

[2021-06-27 15:37] nojaf opened #809 "Cannot build clean checkout on Windows"
Hey,

Sorry for the poor report but on Windows I get:
[code]
when running the `build.cmd` after a clean checkout.
Any ideas? I have the correct .NET SDK installed.

[2021-06-27 15:40] baronfel commented on #809
I think the build.cmd and build.sh are very old, do you get the same result if you use 'dotnet fake build'?

[2021-06-27 15:41] nojaf commented on #809
Yup, exactly the same problem there.

[2021-06-27 16:11] baronfel commented on #809
I can't reproduce this on a fresh clone of this repo on my windows host, using .net SDK 5.0.301. You may want to perform the build with the `-bl` flag and investigate the results with the [MSBuild Structured Log Viewer](https://live.msbuildlog.com/)?

[2021-06-27 16:31] baronfel commented on #808
VSCode seems to handle an empty command just fine (it doesn't render the codelens as click-able), so if you're satisfied with that solution I'd go ahead with it.

[2021-06-27 23:40] baronfel commented on #808
The empty-command version of the fix was merged in [this commit](https://github.com/fsharp/FsAutoComplete/commit/a3f5564ea579767f40cf673595db1efbcf755d85) and will be released shortly in version 0.46.6.

Thanks again for the detailed report!

[2021-06-27 23:40] #808 closed, assigned to nobody

[2021-06-28 13:18] nojaf commented on #809
Hmm, was able to build this on my other Windows machine.

[2021-06-28 13:18] #809 closed, assigned to nobody

[2021-06-28 16:34] baronfel opened #811 "Remove Unused Binding codefix throws an exception for unused function parameters"
given the following sample code:

[code]

where the `i` parameter is unused, the `i` parameter has a diagnostic saying it's unused, but asking for code actions at the `i` location results in the following stacktrace:

[code]

This is in version 0.46.6.

[2021-06-28 18:30] baronfel commented on #811
This is actually showing a bug in the logic of the codefix itself, I think: We essentially replicate the code from [dotnet/fsharp](https://github.com/dotnet/fsharp/blob/48e06db01c48fc01e382d7db5304ffb79725eef4/vsintegration/src/FSharp.Editor/CodeFix/RemoveUnusedBinding.fs) and at least on my test setup this logic seems to be trying to remove the entire `inc` binding, despite the diagnostic being f

[2021-06-28 20:05] baronfel commented on #811
This worked out pretty well. The logic in question changed just slightly and now we support removing patterns as well:

https://github.com/baronfel/fsautocomplete/blob/887cc7ab5f74b14194d05d3bebd5fe4637e7bae4/src/FsAutoComplete/CodeFixes/RemoveUnusedBinding.fs#L19-L67

[2021-06-28 23:30] #811 closed, assigned to nobody

[2021-07-15 01:47] baronfel opened #814 "We don't seem to support .Net Core 6.0 previews"
Squigglies everywhere, but project cracking seems to work fine.

Resolved options for Giraffe.fsproj on .net 6 previews are

[code]

and the error says that netstandard.dll isn't resolved. This could be coming from proj-info if that's the case. Manually adding a reference to netstandard.dll makes a lot of things go away, suggesting that indeed the problem is in resolving it.

[2021-07-15 04:26] baronfel commented on #814
Found of the several root cause(s): The MS-provided Locator tool we're using implicitly limits the returned msbuild instances based on the version of the .net runtime you're running on.  This tool has outlived its usefulness IMO.

[2021-07-15 14:36] baronfel commented on #814
In addition, debugging has shown that we missed setting some MSBuild and DotNet required environment variables in the graph loader, as opposed to the old loader we have, so that might explain why graph builds started to fail.

[2021-07-15 15:57] baronfel commented on #814
I think I've got it now. We can successfully crack .net 6 projects from a .net 5 program:

[code]

[2021-07-18 18:45] baronfel commented on #814
While having an out-of-process build option is quite nice (see ionide/proj-info#111), I think we may be able to work around this in a slightly easier fashion: the root of the issue seems to be that .net 6 MsBuild libraries are not loadable in a .net 5 process, because the msbuild locator library uses the .net runtime version of the executing process to filter out other viable SDKs. If we built a v

[2021-08-03 17:53] baronfel commented on #814
This should be fixed with the recent ionide release, even though the linked proj-info MR hasn't merged.  The real root issue was some hard-coding done by the msbuild locator that pins things based on the runtime version, and Ionide fixed that by allowing users to opt into runtime version rollup via the use of config options (see `FSharp.fsac.dotnetArgs` on [this page](https://ionide.io/Editors/Cod

[2021-08-03 17:53] #814 closed, assigned to baronfel

[2021-08-04 06:45] nojaf opened #822 "Info Panel: Put Union members on separate lines"
![image](https://user-images.githubusercontent.com/2621499/128134158-94df0251-9e6a-49eb-ad57-a403e8d829db.png)

I think it would be an improvement if the union cases were placed underneath each other in the Info Panel.
If accepted, I'd like to submit a PR for this. I'm guessing a tweak in
https://github.com/fsharp/FsAutoComplete/blob/e8b81df844fc2f72049842ee4fc3ac4484c8f537/src/FsAutoComplete.Core

[2021-08-09 10:34] Krzysztof-Cieslak commented on #822
Sounds like a good suggestions to me 👍

[2021-08-10 19:41] bisen2 opened #824 "FSAC0002 incorrectly tagged on nullable join clause in query expression"
In Ionide, the redundant qualifier tip (FSAC0002) is tagged on the first identifier when joining on a nullable property in a query expression. For example, if `table1.column1` is of type `int` and `table2.column2` is of type `Nullable<int>`, the following code snipped gets the FSAC0002 tip on `row1` in `row1.column1 =? row2.column2`.
[code]
Here, the `row1` identifier is actually not redundant and

[2021-08-10 20:14] baronfel commented on #824
thanks for the detailed report!  Do you by any chance have some kind of self-contained sample that we could use to test/investigate with?

[2021-08-10 20:42] bisen2 commented on #824
Sure. Below is a code snippet that I can reproduce it with in an fsx file:
[code]
And a screenshot of the tool tip generated:
![image](https://user-images.githubusercontent.com/39412411/128932178-1e59b9d9-b090-450f-a447-060f3468edad.png)

[2021-08-31 21:06] MMagueta opened #827 "[Question] Fetching port for connection"
I am currently trying to establish a connection remotely with emacs. For that I would need the port in which the server runs, which seems to be randomly chosen for lsp mode.

I checked https://github.com/fsharp/FsAutoComplete/issues/395 and saw that it removed the HTTP support, so I am curious if it is still possible if I point to remote

Is anyone aware how I can get to know that?

Thanks beforeh

[2021-08-31 21:13] baronfel commented on #827
FSAC is a stdin/stdout implementation of the Language Server Protocol, so there's no longer any ports. You'd use the StdIn and StdOut streams for writing messages to FSAC and reading messages back, respectively.

[2021-08-31 21:14] MMagueta commented on #827
Thanks for the answer, I got it.

[2021-08-31 21:14] #827 closed, assigned to nobody

[2021-08-31 21:17] baronfel commented on #827
👍 Do let us know if there's anything else we can help with!

[2021-08-31 21:23] MMagueta commented on #827
Sure thing, do you guys  have any other communication channel or is it fine to post issues? (some people dislike this approach)

And thanks for maintaining this

[2021-08-31 21:24] baronfel commented on #827
If it's a bit broader in scope or might go free-form then I think a discussion would be appropriate. We're also on the FSSF Slack (#editor_tooling) and the F# Discord (#tooling).

[2021-09-02 17:44] gsomix opened #828 "SublimeLSP: Cached typecheck results not yet available"
Hello! I'm trying to setup FsAutoComplete with [SublimeLSP](https://github.com/sublimelsp/LSP).

I installed FsAutoComplete as a global dotnet tool:
[code]

I use SublimeLSP (v1.10.0) in Sublime Text 4 (build 4113) with following settings:
[code]

To test the configuration I created console application and tried to get type hints on hover.

It seems FsAutoComplete server is started successfully, b

[2021-09-02 17:55] baronfel commented on #828
What configuration is passed to the `Initialize` call of the LSP server by SublimeLSP?

[2021-09-02 18:00] gsomix commented on #828
@baronfel https://gist.github.com/gsomix/6173da23c45b964a6312d4df524e2ba6

[2021-09-02 18:00] baronfel commented on #828
If there's a way to set the `InitializationOptions` of your lsp provider, you should set `AutomaticWorkspaceInit` to `true` in that, then things should light up for you.

[2021-09-02 18:01] gsomix commented on #828
@baronfel Let me check!

[2021-09-02 18:13] baronfel commented on #828
Looks like you can set `initializationOptions`: https://lsp.sublimetext.io/guides/client_configuration/#custom-client-configuration

[2021-09-02 18:22] gsomix commented on #828
@baronfel OK, totally forgot about `initializationOptions`. But it seems it doesn't work in the latest SublimeLSP.

I've changed settings as:
[code]

and `Initialize` part changed from:
[code]

to

[code]

It seems I need create issue in SublimeLSP repository. Thank you for your guidance!

[2021-09-02 18:24] baronfel commented on #828
well, I wouldn't quite say that. I think our rendering of `JToken`s in the log lines renders them as nested arrays like that. is there a way in SublimeLSP to trace the actual request/response bodies? Or a new FSAC log would help see if the project probing is happening.

[2021-09-02 18:25] baronfel commented on #828
Looks like there are some logging/tracing options available that would give you more visibility into the actual payload body: https://lsp.sublimetext.io/troubleshooting/

[2021-09-02 18:34] gsomix commented on #828
@baronfel Heck, I need to take a rest. It works actually!

Thanks! I'm going to add instructions for FsAutoComplete to SublimeLSP docs.

[2021-09-02 18:34] #828 closed, assigned to nobody

[2021-09-02 18:35] baronfel commented on #828
🎆

[2021-09-18 16:10] NicoVIII opened #832 "Unused marking missing for private, unused functions"
While developing I noticed that I had a private function flying around which wasn't marked as "unused" by the Ionide extension although it was in fact unused.

**Repro**
OS: Manjaro (although I reproduced it inside a devcontainer)
VScode: v1.60.1
Ionide: v5.7.3
dotnet: 5.0.202 & 5.0.400

I added the following code to a fresh `Program.fs` from `dotnet new console -lang F#`.

[code]

This looks for

[2021-09-23 08:16] s-kostyaev opened #833 "Too many errors on textDocument/documentHighlight & textDocument/signatureHelp"
Language server generates too many errors on textDocument/documentHighlight and textDocument/signatureHelp and it's very noisy. Do we need this error notifications?
[fsac-lsp-log.txt](https://github.com/fsharp/FsAutoComplete/files/7215944/fsac-lsp-log.txt)
[fib.fsx.txt](https://github.com/fsharp/FsAutoComplete/files/7215950/fib.fsx.txt)

[2021-10-04 22:04] fenilli opened #835 "Arithmetic operation (*) gets greyed out like a comment."
When piping to a multiplication using `|> (*)`, the end of it `*)` gets greyed visually only.

![image](https://user-images.githubusercontent.com/14954720/135930533-1c1e0f11-667a-450d-97f6-d9c33f177886.png)

[2021-10-04 22:07] baronfel commented on #835
Interesting, can you open the command palette and choose the `Developer: Inspect Editor Tokens and Scopes` command, then hover over those differing colors and supply screenshots of that? That would be some useful context.

[2021-10-04 22:19] fenilli commented on #835
It seens VSCode can't open it, i'm outside a F# project, just a FSI file.
![image](https://user-images.githubusercontent.com/14954720/135931837-4e566f75-7100-4bd8-85ed-303d5382aec2.png)

I will try to create a F# project afterward and see if It works.

[2021-10-04 22:28] fenilli commented on #835
It works fine If you're inside a F# project.
![image](https://user-images.githubusercontent.com/14954720/135933164-6b21a0ce-ba07-4409-bd20-e146dff4866f.png)

[2021-10-05 00:15] fenilli commented on #835
after disabling all extensions, running in a standalone .fs file I could get the tokens.
![image](https://user-images.githubusercontent.com/14954720/135941157-4d0a3e51-7bff-4512-b53e-4eb213ea0baa.png)

[2021-10-05 00:37] fenilli commented on #835
Saving the file as .fsx fixes the issue.

[2021-10-05 00:37] #835 closed, assigned to nobody

[2021-10-11 19:02] Booksbaum opened #837 "Running tests with `dotnet run` starts `FsAutoComplete.Tests.Lsp.exe --version` over and over again"
Tests (in `test/FsAutoComplete.Tests.Lsp`) can be run with `dotnet test` (that's what `build.fsx` is using) and `dotnet run`.
For local testing/debugging I use the later option.

Now the issue: (only `dotnet run` NOT `dotnet test`)
For certain tests the tests start itself again with `--version` as option (-> `FsAutoComplete.Tests.Lsp.exe --version` on windows) -- which again starts itself again wi

[2021-10-13 19:02] baronfel commented on #837
Wow, excellent detective work on both linked issues here! I'm not done ingesting the implications of the problem and your suggestions, but just wanted to shout out your snooping skills.

[2021-10-22 17:29] lua-vr opened #840 "Some features do not work when path contains unicode characters"
I'm using `dotnet` SDK on linux and I can reproduce the issue in both VSCode with Ionide and Emacs with `lsp-mode`.

Steps to reproduce: in a shell,
[code]
Then open `Program.fs` in VSCode and write something invalid. The error is not shown in the editor area. Many other features also stop working.

Errors are still shown in the "problems" panel. But when you click them, you get `Unable to open 'P

[2021-10-24 13:58] zhuangzhuang opened #841 "Force set variable `DOTNET_CLI_UI_LANGUAGE` to "en-use""
![image](https://user-images.githubusercontent.com/521058/138597192-d76d830d-5c38-47bc-972f-a8213efed938.png)

![image](https://user-images.githubusercontent.com/521058/138597313-03ff3243-3e2c-40d3-8a0b-2af3e11a533b.png)

if not set this environment. `fantomas` will never found. no mater i install locale or global

(ps:package `[Fantomas.Client](https://www.nuget.org/packages/Fantomas.Client/)`  r

[2021-10-24 14:09] nojaf commented on #841
Hi @zhuangzhuang, thanks for reporting this.
This is a good spot.
I'm on it.

[2021-10-24 14:50] #841 closed, assigned to nobody

[2021-10-25 03:26] gasacchi opened #843 "not working with neovim lsp"
when using fsautocomplete with neovim builtin lsp, lsp doesn't working
[code]
my fsautocomplete:
[code]

when i try to run ```dotnet fsautocomplete --background-service-enabled``` give me error like:
[code]
Dotnet version : 5.0.205
fsautocomplete: FsAutoComplete 0.48.1 (git sha da8f78391d4285510889f7669576470aea463e65)

[2021-10-25 09:48] nojaf commented on #843
Your .NET version does look a bit old, I have `5.0.401` could you perhaps try and upgrade your SDK (if possible).

[2021-10-25 14:36] baronfel commented on #843
This appears to be something wrong with the packaging of the dotnet tool version of fantomas. Ionide doesn't use this version of FSAC so it wasn't immediately apparent. If you look at [the nuget package layout](https://nuget.info/packages/fsautocomplete/0.48.1) for 0.48.1, the Fantomas.Client dll isn't in the tools/net5.0/any folder as I'd expect it to be.  We should investigate and fix this, then

[2021-10-25 14:40] baronfel commented on #843
Taking a brief look, this is probably a transitive dependency issue. The Fantomas.Client dependency is a direct dependency of FsAutoComplete.Core, but only a transitive of FsAutoComplete, and we run `dotnet pack` on `FsAutoComplete` to make the tool which somehow drops this. This is a behavioral difference from `dotnet publish`, which _does_ include the transitive dependencies. A quick fix would b

[2021-10-27 16:53] #843 closed, assigned to nobody

[2021-10-27 17:27] baronfel commented on #843
This should be fixed in 0.48.2, which is being released now. *Thank you* for taking the time to report, I really want our vim/emacs/non-VSCode users to be happy with the experience overall :)

[2021-10-28 13:15] dawedawe opened #845 "prompt to install Fantomas tool doesn't work when ".NET Core Test Explorer" is installed and enabled"
Hi,
in the latest version there was this nice feature introduced that prompts you to install Fantomas if you try to format an F# file.
However, I'm seeing some interaction between FsAutoComplete and another VS Code extension on my Windows dev machine:

In VS Code the message to install the Fantomas tool doesn't work when the `.NET Core Test Explorer` v0.7.7 extension is installed and enabled. Afte

[2021-10-28 13:22] baronfel commented on #845
Thanks for the report! Just for clarification, can you add the specific version of the dotnet test explorer extension that's you're using?

[2021-10-28 13:25] dawedawe commented on #845
Sure.

[2021-10-28 14:34] baronfel commented on #845
Definitely reproed, at least on Windows.  Absolutely bizarre.

[2021-11-04 08:03] nojaf opened #847 "UX: updating to a newer version of Fantomas"
In #836, we introduced a whole new brave world of choosing your own Fantomas version.
These last weeks, we've published [two new versions of Fantomas](https://www.nuget.org/packages/fantomas-tool/4.6.0-alpha-006) that are also compatible with Ionide.

The question remains, how do we want to inform the user of these updates?
We can easily detect new versions via the NuGet API:
[code]

But how do we

[2021-11-04 13:38] baronfel commented on #847
In an ideal world, I think the user should be prompted:
* once per repo
* per stable version only
* with an option to ignore the version specified

all of this is stuff that would probably live at the ionide/FSAC layers and not necessarily in the Fantomas.Client library itself (aside from maybe exposing an API to check the current version and query for the latest Fantomas version specifically), an

[2021-11-04 14:10] nojaf commented on #847
Yup, I have no intention of putting anything in Fantomas.Client for this.
There is an API though to get the current version of an F# file.

[2021-11-08 07:57] nojaf commented on #845
Hello @formulahendry, any idea what might be going on here?
Does the `.NET Core Test Explorer` kill `dotnet` processes by any chance?

[2021-11-08 15:25] briandunn commented on #845
Also - `.NET Core Test Explorer` prevents document formatting from working at all. https://github.com/ionide/ionide-vscode-fsharp/issues/1606#issuecomment-962707473

[2021-11-09 19:57] razzmatazz opened #849 "Thanks+question about forking off src/LanguageServerProtocol as a separate lib"
Hey!

Thanks for the awesome tool. I have been using it to bootstrap https://github.com/razzmatazz/csharp-language-server -- C# LSP server, based on Roslyn, not unlike `omnisharp-roslyn`.

So far it's been a very pleasant experience taking `src/LanguageServerProtocol` from FSAC and just piping the stuff over to Roslyn, which itself has immutable APIs which is very easy to work with from F# (maps t

[2021-11-09 20:07] razzmatazz commented on #849
(It really makes me wonder in the light of the recent .NET6 hot-reload drama, why is it that me, a guy doing this on my free-time has to do LSP implementation for C# while MS has not implemented a proper LSP server for C# like they did for python, typescript and other languages.. and I am not a conspiracy theorist, but maybe, just maybe, VS management does not want to let people wean themselves of

[2021-11-09 20:10] baronfel commented on #849
We'd definitely be in favor of sectioning off the LSP project into a separate package, we talked about it a while back but since we were the only consumer it didn't make a ton of sense. I think it's totally viable to make it its own thing. We likely couldn't make it in the `fsharp` org, but it's a good fit for `Ionide/LanguageServerProtocol`.

[2021-11-10 18:38] razzmatazz commented on #849
Is this something that can be done by someone from FSAC team, or can I do it?

I butchered the lib a bit to make it work for `csharp-ls` (removed logging infrastructure and something else I already forgot..) so I might not be the best candidate, but I could try.

[2021-11-10 18:47] baronfel commented on #849
I think there's an opportunity to layer things a bit better:

* one module/project for _just_ the LSP types
* one module/project for FSAC's custom extensions
* split out the actual LSP protocol communications implementation to another module/project

that becomes much more of a take-only-what-you-need setup.  I think me or @Krzysztof-Cieslak could create the initial repo, and then you or someone e