[2015-05-26 12:02] rojepp opened #6 "Add support for checking unsaved files, same as in XS/VS"
IFileSystem should be implemented, as was done in XS here: https://github.com/fsharp/fsharpbinding/pull/602

FSAC would then keep a list of modified file contents, and present those as fact to FCS via IFileSystem.
Editors are already sending modified file contents, so implementing this would improve error checking without editors needing to change anything.

[2015-05-26 12:11] 7sharp9 opened #7 "Is the incorrect directory used for project references?"
I was testing FSharp.Atom on the FsharpBinding project and I noticed the following error:

[code]

In my fsprog the output path is set to

[code]

Yet `bin/debug` is being used to find the reference, this seems really similar to this:

https://github.com/fsharp/FSharp.Compiler.Service/commit/2034e4e430ce6f3ca843cb115239628935b9a7e4

[2015-05-26 12:15] rojepp commented on #6
I'd be happy to take a stab at this.

[2015-05-26 14:11] rneatherway commented on #6
@rojepp This would be very welcome, thanks! I will test and review any PR you send. It's been on my list for ages, but no idea when I would get to it myself...

[2015-05-26 14:14] rneatherway commented on #7
Hmm, that's annoying. Thanks for letting me know. Can you check which version of fsautocomplete is being used? This is probably broken in 0.14.0 but should be fixed by upgrading to the latest FCS in 0.15.0

[2015-05-26 14:31] rneatherway commented on #7
Or we could just ask the author! @Krzysztof-Cieslak have you switched to using FSharp.AutoComplete 0.15.0?

[2015-05-26 15:50] Krzysztof-Cieslak commented on #7
Nope, haven't update it yet, still using my temporary build (1st version with glyphs still as `int`). Will update it as soon as possible.

And we can close this issue.

[2015-05-26 17:14] rneatherway commented on #7
OK no problem, thanks for the info.

[2015-05-26 17:14] #7 closed, assigned to nobody

[2015-05-27 18:34] Krzysztof-Cieslak opened #9 "Completion command ignoring prefix text"
Let's say I've written `Sy` in editor and requested completion. From `FSharp.Autocomplete` I'm getting list of all possible completions (as nothing was written) instead of getting those completions which starts with (or contains) `Sy`. Is that by-design behavior? Or am I doing something wrong with it? Or we should try to change it?

Also maybe it would be nice to add Gitter room for this project?

[2015-05-27 18:52] 7sharp9 commented on #9
I would say this is a bug, what input do you give autocomplete? Line,col, linestr

I would add a test here if there is not one already, if it fails the test for Sy$ then it gives us something to fix.  If it passes then there must be an issue with receiving the input ...

[2015-05-27 19:42] Krzysztof-Cieslak commented on #9
@7sharp9, The input for `completion` command is file name, line and column.

[2015-05-27 21:32] rneatherway commented on #9
I'm happy to use slack or gitter, either is fine. I will try to remember to logon. @7sharp9 , the linestr stuff is handled by FSAC, editors provide just a location. @Krzysztof-Cieslak the behaviour is deliberate so that if you backspace during a completion (so that more candidates match the new shorter prefix) then more options can be displayed.

[2015-05-27 21:50] ReedCopsey commented on #9
@Krzysztof-Cieslak Slack channel was setup for editor discussions, which could help reduce noise on some of the other channels: https://fsharp.slack.com/messages/editor_support/

Any FSSF member (which is free and easy to sign up) should have access.

[2015-05-27 21:55] 7sharp9 commented on #9
@Krzysztof-Cieslak Ah, in XS we pass the current line too so the indent island and partial island can be used.

[2015-05-27 22:03] rneatherway commented on #9
@7sharp9 FSAC knows about the whole file so it does the island cracking for you and passes the linestr into FCS.

[2015-05-27 22:04] 7sharp9 commented on #9
Yeah but if you have just typed `Sy` and hit `Ctrl TAB` does it know about the dirty file at that point?

[2015-05-27 22:33] rneatherway commented on #9
In Emacs I send the file contents before every command, so yes. Maybe not all the editors do though. I should do some docs to set expectations like that.

[2015-05-28 12:34] #6 closed, assigned to nobody

[2015-05-31 00:31] rneatherway commented on #9
Fixed by #10

[2015-05-31 00:31] #9 closed, assigned to nobody

[2015-06-01 08:47] rneatherway opened #11 "Add MSBuild assembly binding redirect"
https://github.com/fsharp/FSharp.Compiler.Service/issues/342

[2015-06-01 08:55] tpetricek commented on #11
I'm not sure if this would help, actually.
- If we add binding redirect to version of MSBuild that is included with VS 2015, we break VS 2013
- If we add binding redirect to version of MSBuild that is included with VS 2013, we break VS 2015

Or am I missing some magical trick? Like binding redirect to "whatever can be found"?

[2015-06-01 10:37] rneatherway commented on #11
Hmm, maybe you're right actually. This whole thing is a bit of a can of worms.

[2015-06-01 16:19] rneatherway opened #12 "Project files missing FSharp.Core reference behave strangely"
Maybe we should add this? Or inject a special error message.

[2015-06-02 03:49] rojepp commented on #12
If injecting it, which FSharp.Core should be referenced?

[2015-06-02 20:54] rneatherway commented on #12
Well, for monodevelop there is [some logic](https://github.com/fsharp/xamarin-monodevelop-fsharp-addin/blob/master/MonoDevelop.FSharpBinding/Services/CompilerArguments.fs#L110-L135) we could borrow. Basically if there is a resolved `mscorlib.dll` then look next to it, and otherwise look in the GAC in sensible places.

Or we could just give an error in this case. What do you think?

[2015-06-02 21:22] rojepp commented on #12
I think the sensible thing to do is give an error, but it might not be the pragmatical thing to do. Injecting one is sure to give subtle errors that are hard to track down. :(

[2015-06-02 23:05] 7sharp9 commented on #12
I don't think it's used anymore, there should always be refs to mscorlib and fscore really.

[2015-06-02 23:10] rneatherway commented on #12
Unfortunately I had someone report the Emacs support not working because they were using a fsproj file without an FSharp.Core reference. It builds fine and works in VS :-(

Here is another example: https://github.com/gmpl/FSharpPlus/issues/13

[2015-06-04 17:28] rneatherway opened #14 "Do not include test assemblies in fsautocomplete.zip"

[2015-06-09 15:38] rneatherway opened #15 "FSharp.Autocomplete should use dirtyNotify callback to inform clients that files need parsing"
_From @rneatherway on April 17, 2014 9:11_

See #481. We now only parse buffers if they have changed, however something they depend on may have changed. FCS can inform fsautocomplete of this via the dirtyNotify callback. This can then be sent to a user of fsautocomplete (emacs) so that the editor knows to parse the buffer unconditionally.

_Copied from original issue: fsharp/fsharpbinding#483_

[2015-06-09 15:39] rneatherway opened #16 "fsautocomplete caused FCS to throw an exception"
_From @rneatherway on October 15, 2014 13:5_

At the time I was in Emacs. I had just entered `[<Test>]` and was at the end of the line. I may or may not have pressed enter yet, ready to type `let``test name``= ...`

The text `[<Test>]` was highlighted as an error at that time.

`*fsharp-debug*` contents:

[code]

_Copied from original issue: fsharp/fsharpbinding#764_

[2015-06-09 15:40] rneatherway opened #17 "Clean up FSharp.CompilerBinding agent API"
_From @rneatherway on October 22, 2014 15:58_

Comment in FSharp.AutoComplete/Program.fs:

// TODO: Clean up the API these options are being generated to call
//
// That API is in FSharp.CompilerBinding.LanguageService.
// 1. It expects a Target Framework, but _only_ for FSI as
//    FCS is _rumoured_ not to return references including FSharp.Core
//    and it uses the framework to guess where it

[2015-06-09 15:40] rneatherway commented on #17
_From @7sharp9 on December 15, 2014 14:6_

Is this now complete then?

[2015-06-09 15:40] rneatherway commented on #17
_From @7sharp9 on April 29, 2015 15:51_

I removed the XS label as this is no longer an issue there as its "evolving"

[2015-06-09 15:40] rneatherway opened #18 "Timeout exception in FSharp.AutoComplete, very rare"
_From @rneatherway on October 24, 2014 13:37_

[code]

_Copied from original issue: fsharp/fsharpbinding#776_

[2015-06-09 15:40] rneatherway opened #19 "Unhandled exception from FCS while browsing tools/docs/generate.fsx"
_From @rneatherway on October 25, 2014 11:20_

[code]

_Copied from original issue: fsharp/fsharpbinding#777_

[2015-06-09 15:40] rneatherway commented on #19
_From @7sharp9 on December 11, 2014 8:11_

Upstream issue?

[2015-06-09 15:40] rneatherway commented on #19
Possibly it was due to requesting info for a position that didn't exist in
the file. I added it here because I didn't have a repro.
On 11 Dec 2014 15:11, "Dave Thomas" notifications@github.com wrote:

[2015-06-09 15:40] rneatherway opened #20 "Create releases of FSharp.AutoComplete using a FAKE task"
_From @rneatherway on November 5, 2014 11:25_

_Copied from original issue: fsharp/fsharpbinding#789_

[2015-06-09 15:40] rneatherway opened #21 "Add unit test for 'compilerlocation' command"
_From @rneatherway on November 21, 2014 13:28_

_Copied from original issue: fsharp/fsharpbinding#842_

[2015-06-09 15:40] rneatherway commented on #21
Reinstate the unit test structure removed in a4a344377aac2685534d3c917a1633b3e5a63509 and just use to check that compilerlocation returns a useful msbuildpath on each platform (i.e. that full paths exist and non-full paths are on the PATH)

[2015-06-09 15:41] rneatherway opened #22 "fsautocomplete integration tests inconsistent because of helptext"
_From @rneatherway on November 25, 2014 18:7_

Because the helptext is returned synchronously, if it isn't ready then "(loading description...)" is returned. This cause problems on slow machines (like the CI environment). To work around this large waits have been inserted in the JSON tests (plain text doesn't support helptext), which works most of the time, but is ugly and unpredictable.

For test

[2015-06-09 17:24] rneatherway opened #23 "MSBuild path search functionality"
Merge in this prototype: https://github.com/rneatherway/fsharpbinding/tree/msbuildpath

[2015-06-09 18:15] rneatherway opened #24 "FSharp.AutoComplete => FsAutoComplete"
Make change to namespaces and paths, also to build.fsx text

[2015-06-13 00:09] adamchester opened #25 "Error loading fsx: "internal error: BuildFrameworkTcImports: no successful import...""
FsAutoComplete does not seem to work correctly, on Windows 10 (10130), with VS2015 RC, Atom 0.209.0, [fsprojects/atom-fsharp](https://github.com/fsprojects/atom-fsharp) [0.5.5](https://github.com/fsprojects/atom-fsharp/releases/tag/v0.5.5).

atom-fsharp installs FsAutoComplete 0.18.0

[code]

I experienced issues where FsAutoComplete reported errors in Atom:
![fsautocomplete-errors](https://cloud.

[2015-06-13 00:12] adamchester commented on #25
It was [suggested](https://functionalprogramming.slack.com/archives/fsharp/p1434107004011128) that perhaps `optdata` and `sigdata` were required to be deployed along side FSharp.Core?

[2015-06-13 11:41] rneatherway opened #27 "Tests: increase FSHARP_*_TIMEOUT variables to make things more robust"

[2015-06-17 16:28] tpetricek opened #28 "Sometimes getting timeout"
Sometimes (when I'm not lucky!) I get an error "socket closed" in the Atom editor which happens when the `fsautocomplete.exe` process stops (cc @Krzysztof-Cieslak). It turns out that this was caused by a timeout:

[code]

This should be handled in some better way - it should probably not crash the process (or perhaps Atom needs to restart the process?)

[2015-06-18 08:45] rneatherway commented on #28
Right, this should definitely not happen. I have seen it myself but only once/twice. Is it reliably reproducible with that tiny session? it looks like the problem is in calling `GetScriptCheckerOptions`, which is surprising, does that happen with a particularly large script normally? Just on startup?

[2015-06-18 08:46] rneatherway commented on #28
Ah yes, perhaps it is related to #18?

[2015-06-18 08:53] rneatherway commented on #12
Emacs issue was: https://github.com/fsharp/fsharpbinding/issues/949

[2015-06-18 09:34] rneatherway commented on #25
Thanks for the report. I think that this is actually a problem with FSharp.Compiler.Service, which does not actually support F# 4 yet as far as I know. The strange behaviour that you see is because FCS then falls back to looking for FSharp.Core in the current directory, and find one without the .sigdata or .optdata, which it will always have in the GAC. This is related to https://github.com/fsharp

[2015-06-18 20:22] rojepp commented on #28
@tpetricek The timeout around that code is five seconds. Does it take five seconds when you get this error, or could it be an internal, smaller, timeout in FCS internals?
I can see how if you do a lot of `#load`, `#r` etc that it may take more than five seconds.

[2015-06-22 07:52] rojepp opened #29 "New command for parameter completions"
Parameter completions are sorely missing in Atom, Sublime etc.
Expose FCS `GetMethods` to provide parameter completions.

Do include all overloads, perhaps sorted by best-match?

Ident-parsing is ideally done here, not per editor?

[2015-06-22 12:02] rneatherway commented on #29
Yes, let's add it. A method that calls it with the ident parsing handled is available in the FSharp.CompilerBinding wrapper: https://github.com/fsharp/FsAutoComplete/blob/master/FSharp.CompilerBinding/LanguageService.fs#L98

This does require knowing which ident you want to get the parameter completion info for though, so if you have something like: `Hello.MyFunction(parameter1, $`, with cursor at

[2015-06-22 12:48] rojepp commented on #29
I'm working on it. Might be a few days..

What I mean is basically what happens in XS when you type the opening parenthesis, that you get to see the signature that you're trying to fill in.

A small spec from an editor point of view, so we know what we're working towards:
1. `(` is typed after a method
2. A popup is displayed with the current most likely method signature, and the first parameter h

[2015-06-22 13:21] rneatherway commented on #29
Right, this all makes sense, and is roughly what I imagined. I think that it probably should all be retrieved in one go. Compared to hundreds of possible completions, a few method overloads should not be too expensive.

One thing though, FSAC doesn't currently know how to get xmldoc. I have a [very old branch](https://github.com/rneatherway/fsharpbinding/tree/xmldocstring) where I started prototyp

[2015-06-22 13:48] rojepp commented on #29
@rneatherway Is text format output legacy? This output contains lots of info, and I'd rather not make up a louse text format if text mode is unused.  Are you ok with printing an error in text mode?

[2015-06-22 13:50] rneatherway commented on #29
Yes it is, I intend to remove it. Error is fine. It just means the test needs to use JSON mode. I need to port all the tests over to output JSON to get rid of the text mode.

[2015-06-27 10:47] rojepp commented on #22
Maybe we should always use the async version, allowing editors to optionally pass in a timeout?

[2015-06-27 10:50] rojepp opened #31 "Feature: Symbol locations"
Add a command that resolves all symbol locations for the symbol at a location in the code, so that editors can highlight occurrences.

[2015-06-27 16:11] 7sharp9 commented on #31
It's easy peasy  that one :-)

Im adding a whole gamut of code nav stuff to XS at the minute

[2015-06-28 18:03] rneatherway opened #33 "Travis and Appveyor build badges links incorrect"

[2015-06-28 18:05] rneatherway commented on #22
Yes that is quite reasonable although it looks as though we could also set this [environment variable](https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/vs/ServiceDeclarations.fs#L47) like we do already for others on [appveyor](https://github.com/fsharp/FsAutoComplete/blob/master/appveyor.yml).

If we allow the editors to pass in a timeout, then we need to account for the fa

[2015-06-30 10:25] rneatherway commented on #31
Implemented in #34

[2015-06-30 10:25] #31 closed, assigned to nobody

[2015-06-30 11:08] rojepp commented on #31
@rneatherway Care to do a release? I'm attempting an implementation for Atom.

[2015-06-30 11:29] rneatherway commented on #31
Yes, I'll do one after lunch.

[2015-06-30 11:30] rojepp commented on #31
Thanks!

[2015-06-30 14:37] Krzysztof-Cieslak opened #35 "Wierd output of helptext command"
Right now helptext command returns (example from tests) something like:

[code]

I'm not sure if format of returned JSON is right - I would suggest something like

[code]

I think such solution would be more consistent with results of others commands and would make it easier to parse result back in clients ( at least from F# in Atom point of view, no idea about rest editors and how "breaking" is t

[2015-06-30 14:40] 7sharp9 commented on #35
Possibly the right solution would be to start using the symbol API which can then supply the independent parts of the help text and indeed other API calls that use tips etc.  I think there reason for this format is the textual output from the DataTipText parts of FSC which is just simple strings.

[2015-06-30 15:09] Krzysztof-Cieslak commented on #35
I don't think I'm competent enough to give any opinions on which FSC API should be used. What bothers me right now is just serialization format which is inconsistent with other responses

[2015-06-30 15:37] rneatherway commented on #35
Dave is correct, this is an artifact of the preformatted tips. I'm
definitely open to using more of the FSharpSymbol API and returning more
strongly typed data rather than just a string.
On 30 Jun 2015 15:40, "Dave Thomas" notifications@github.com wrote:

[2015-06-30 15:53] rneatherway commented on #35
At the moment, we just call this method to convert the `FSharpToolTipElement` to a string: https://github.com/fsharp/FsAutoComplete/blob/master/FSharp.AutoComplete/TipFormatter.fs#L52

@7sharp9: are you suggesting to just serialize the F# type, or use something different from FSharpSymbol? Could you show me the place in the XS addin where you use that?

[2015-06-30 15:57] 7sharp9 commented on #35
Im suggesting returning the name, signature and helptext which is either the textual form of xmldoc in the case of local xmldoc references or the sigId/file for non local refs.  Im a bit busy finishing something off but If you leave it with me I can take a look later in the week.

[2015-06-30 16:12] rneatherway commented on #35
That would be great, thanks.

[2015-06-30 19:38] rneatherway commented on #14
Fixed

[2015-06-30 19:38] #14 closed, assigned to nobody

[2015-06-30 19:39] rneatherway opened #36 "Create NuGet package release"

[2015-06-30 21:52] rneatherway commented on #33
Fixed by #38

[2015-06-30 21:52] #33 closed, assigned to nobody

[2015-06-30 21:52] rneatherway commented on #24
Fixed by #38

[2015-06-30 21:52] #24 closed, assigned to nobody

[2015-06-30 21:53] rneatherway commented on #29
Fixed by #30

[2015-06-30 21:53] #29 closed, assigned to nobody

[2015-06-30 21:53] rneatherway commented on #20
This has already been implemented and is in use.

[2015-06-30 21:53] #20 closed, assigned to nobody

[2015-07-10 02:10] spiffytech opened #39 "Does not parse ProjectReferences?"
To reproduce:
1. Start a new project from the [F# Scaffold](https://github.com/fsprojects/ProjectScaffold)
2. Run `build.sh` a first time to generate the project
3. Open `tests/sample.Tests/Tests.fs` with Vim or Emacs, activate F# syntax checking

You'll see the editor complain that the `sample` module is undefined (`sample.Tests.fsproj` includes it as a `ProjectReference`). However, `build.sh` su

[2015-07-10 10:42] rneatherway commented on #39
Thanks for reporting, but I don't think this is a bug. Basically, it has parsed the project references, which is why it is expecting to find `sample.dll` under the output directory of the default configuration according to the test project file. This is `bin/Debug` as indicated by the Vim error message, but the ProjectScaffold builds in the Release configuration, so they aren't found. I'm pretty s

[2015-07-10 10:45] kjnilsson commented on #39
for completeness just run :make in vim to achieve the same.

On Fri, 10 Jul 2015 at 11:42 Robin Neatherway notifications@github.com
wrote:

[2015-07-10 11:33] dsyme commented on #39
@rneatherway - I believe it should be possible to use FCS inter-project references to get multiple projects working without requiring the compiled DLLs on disk (Visual Studio F# Tools does require dependent DLLs on-disk for its checking functionality, but Visual F# Power Tools added functionality does not).

Are you using [GetProjectOptionsFromProjectFile](https://github.com/fsharp/FSharp.Compiler

[2015-07-10 11:39] rneatherway commented on #39
@dsyme thanks for mentioning it. I'm currently not, but it should be a simple change. I thought that it was still in testing, so I hadn't tried using it yet. If you think it is worth using I will definitely switch, that will be a nice improvement.

[2015-07-10 12:02] dsyme commented on #39
Yes, give it  go, it should be stable.

The only area I know of that might need to be looked is what happens if a project in Release mode references a project in Debug mode (assuming that's even allowed).  I've never quite worked out exactly how Visual Studio manages such things - is that info recorded in the solution file?  I think it must be, since it seems absent from the project files.

[2015-07-10 12:05] rneatherway commented on #39
Yes, that's right, it is stored in the solution file. Projects contain a default value (which I have only ever seen to be Debug) so that they can be built separately. I expect that the referencing project would take priority, as the Configuration would already be set when the referenced project was imported.

We may have to consider parsing/using solution files at some point, see another discussio

[2015-07-10 12:31] 7sharp9 commented on #39
Juts a note: using `GetProjectOptionsFromProjectFile` adds quite a degree of latency **(can be 3-4 seconds)**, I use an LRU cache with expiration based on the project changing.

[2015-07-10 12:32] 7sharp9 commented on #39
(And it currently doesn't work on Android, iOS classic, iOS unified, Mac unified, and MonoMac projects)

[2015-07-10 15:23] dsyme commented on #39
@7sharp9  - Does that apply specifically to `GetProjectOptionsFromProjectFile` (which @rneatherway  is not yet using) or also to `FSharpProjectFileInfo.Parse` (which @rneatherway  is already using)

[2015-07-10 15:25] 7sharp9 commented on #39
Either, its the parse which calls msbuild which causes the latency.  To use it without caching I had to set the time to 10 seconds.

[2015-07-10 15:26] 7sharp9 commented on #39
Oh, and also if you do multiple calls without some form of lock it can cause a memory leak.

[2015-07-10 15:39] dsyme commented on #39
@7sharp9 - OK, thanks. Re locking - yes, this should be moved to the FCS reactor thread.  I'll add an FCS issue on that.  It would also make sense to add an FCS cache for this though I suppose that's lower priority.

[2015-07-10 15:50] 7sharp9 commented on #39
The thing with the cache is a project needs to be removed if it changes where it would result in different results, and possibly dependent projects may need to be recalculated depending on the change.  At the moment I have project change event simply clear the cache.

[2015-07-10 15:54] rneatherway commented on #39
I assume the project change event is a Xamarin Studio thing? Perhaps I could use a FileSystemWatcher for the same thing.

[2015-07-10 15:58] 7sharp9 commented on #39
I currently clear on:

[code]

[2015-07-13 17:42] rneatherway commented on #39
OK, I plan to fix this, but it will involve significant changes to the way that I get the project options, and I am looking at how best to remove the background agent anyway, so that will happen first.

[2015-07-17 22:08] oivvio opened #41 "fsautocomplete will not start under mono 3.2.8 in Ubuntu/Linux Trusty"
Sorry if this is the right place for this kind of report.

I've installed fsharpbinding for emacs via MELPA as per the instructions in the README.

When opening a fsharp script file I get

[code]

To investigate further I run the  `mono .emacs.d/elpa/fsharp-mode-20150604.1028/bin/fsautocomplete.exe`  on the command line and get the following dump:

[code]

[2015-07-18 08:20] rneatherway commented on #41
@oivvio as @dsyme said in the other issue, I would suggest upgrading your version of mono. Xamarin maintain an excellent set of up to date packages that will install cleanly on Ubuntu, see http://www.mono-project.com/docs/getting-started/install/linux/

I'm not sure what version is required, but you will get 4.0.X from those packages which should definitely work.

PS. This was the correct place fo

[2015-07-18 12:14] oivvio commented on #41
Thanks @rneatherway. Replacing the stock Ubuntu packages for mono and fsharp with the xamarin ones fixed everything.

[2015-07-18 12:15] #41 closed, assigned to nobody

[2015-07-26 12:29] rneatherway opened #42 "VS2015/F#4.0 installation not supported on Windows"
As reported by @xenocons at https://github.com/fsharp/fsharpbinding/issues/1019:

[2015-07-26 12:30] rneatherway commented on #42
Right, that is correct. FSAC doesn't currently support F# 4.0 and/or VS 2015. We are looking at how best to do this. It's difficult because other users of msbuild (e.g. Visual Studio and xbuild on Mono) get to distribute their own installation of msbuild and target files and don't need to worry about supporting different installations.

@xenocons please feel free to continue the conversation here.

[2015-07-28 14:07] #17 closed, assigned to nobody

[2015-07-28 14:07] #18 closed, assigned to nobody

[2015-07-28 14:07] #22 closed, assigned to nobody

[2015-07-28 14:07] #35 closed, assigned to nobody

[2015-07-28 14:07] #39 closed, assigned to nobody

[2015-07-28 14:07] rneatherway commented on #27
Addressed by #43

[2015-07-28 14:07] #27 closed, assigned to nobody

[2015-07-28 15:28] rneatherway commented on #28
Fixed by #43

[2015-07-28 15:29] #28 closed, assigned to nobody

[2015-07-28 16:08] rneatherway opened #44 "Add command to return additional colorizations (new computation expressions keywords)"

[2015-07-30 16:12] rneatherway opened #47 "Automatically reparse projects if they are changed on disk"

[2015-07-31 11:03] rneatherway commented on #19
Closing this without repro, no way to progress.

[2015-07-31 11:03] #19 closed, assigned to nobody

[2015-07-31 11:04] rneatherway commented on #16
Closing as no repro right now

[2015-07-31 11:04] #16 closed, assigned to nobody

[2015-07-31 15:13] rneatherway commented on #12
@dsyme, I was prompted by https://github.com/fsharp/FSharp.Compiler.Service/pull/384 to think about this issue again, and I was wondering if you had any thoughts. Basically if the project doesn't reference an FSharp.Core, then the one used by the host application (FsAutoComplete here) gets picked up, and then FCS fails because the optdata and sigdata are not present. Should I:

a) Give an error an

[2015-07-31 15:29] rneatherway opened #48 "Output the tooltips is a more structured way, without formatting them up front"
Simplest would be to use the existing `FSharpToolTip` type and output an array of arrays, which would be an outer array of "things" with inner arrays of overloads (reverse patch):

[code]

A more involved approach would be to use get the `FSharpSymbol` like is done in the XS support, and output information from that.

Some examples of current tooltips are:
- Normal: `List.map`

[code]
- Multiple i

[2015-07-31 15:30] dsyme commented on #12
@rneatherway  Maybe ask @LincolnAtkinson what the behavious of Visual F# Tools are for such project files?

[2015-07-31 15:30] rneatherway opened #49 "Output xmldoc for tooltips"
A prototype is at https://github.com/rneatherway/fsharpbinding/commits/xmldocstring

[2015-07-31 15:32] rneatherway commented on #12
@latkin would you mind commenting on the above?

[2015-08-02 00:27] rneatherway opened #51 "Ensure that release chooses remote that matches hosting organisation"

[2015-08-02 00:38] rneatherway opened #52 "Update to FCS 1.4.X"

[2015-08-02 11:19] rneatherway opened #54 "Script checker options need to inject best version of FSharp.Core found"
See https://github.com/fsharp/FSharp.Compiler.Service/issues/384

Related to #42, for supporting VS2015 and MSBuild > 12.

The script checker options will default to the version of FSharp.Core used by FSAC, which is FSharp.Core 4.3.0.0. So this is already a minor issue w.r.t. F# 3.1/ FSharp.Core 4.3.1.0.

[2015-08-02 12:19] 7sharp9 commented on #54
Could you keep me posted so I can get a potential fix into XS?   Better yet a PR :-)

[2015-08-02 12:35] rneatherway commented on #54
Yes, I'm waiting to see how @dungpa handles it, then I'll see if I can push it into FCS.

[2015-08-02 13:09] dungpa commented on #54
Here is the logic I used https://github.com/dungpa/PowerTools/commit/16dc45e678f5c6404df75270e00335e71f0f7f69 It uses registry readers already available in `CompilerLocationUtils.fs`.

[2015-08-02 15:13] 7sharp9 commented on #54
So in mono how would that work, the registry is not used.

[2015-08-02 23:45] rneatherway commented on #54
For VFPT mono isn't important, we'll need a different approach.

[2015-08-04 10:06] #51 closed, assigned to nobody

[2015-08-04 10:06] rneatherway commented on #52
Fixed by #53

[2015-08-04 10:07] #52 closed, assigned to nobody

[2015-08-04 10:07] rneatherway commented on #47
Fixed by #50

[2015-08-04 10:07] #47 closed, assigned to nobody

[2015-08-04 10:11] 7sharp9 commented on #52
Does moving to 1.4 mean packaging a different FSharp.Core with it also?

[2015-08-04 10:30] rneatherway commented on #52
Ah, you think I should switch to packaging FSharp.Core 4.0? I haven't done that yet, I was waiting for F# 4.0 to appear in Mono. @dsyme do you consider it sufficiently stable to communicate the tag to Xamarin?

[2015-08-04 11:00] dsyme commented on #52
We've done that, I think Xamarin are putting it through some testing - @7sharp9 can advise

[2015-08-04 11:05] rneatherway commented on #54
Easiest resolution for this will be to just ship FSharp.Core 4.4

[2015-08-04 11:10] 7sharp9 commented on #54
Note: most of `CompilerLocationUtils.fs` is now depreciated.

[2015-08-04 11:29] rneatherway commented on #54
Good to know, because I have a wanted to delete it for ages!

[2015-08-08 17:21] rneatherway opened #56 "Get rid of personal version of octokit.fsx once mono > 4.0.2 released by xamarin so that the normal version works"
Submit a PR to FAKE to put it back to normal there as well.

[2015-08-09 13:30] rneatherway commented on #54
@dungpa: I was just looking at this to see how you actually detect the Visual Studio version and it looks [hardcoded](https://github.com/dungpa/PowerTools/commit/16dc45e678f5c6404df75270e00335e71f0f7f69#diff-50a76cacdfa3fcc2c322c292a45f077bR26) to VS2013 for scripts. Does that get overridden somewhere that I'm not seeing?

[2015-08-09 13:33] rneatherway commented on #11
I found the magical trick: https://github.com/rneatherway/msbuildresolution/blob/master/MSBuildResolution/Program.fs#L377

I am using a standard redirect to get up to MSBuild v12 (VS2013), with a special event handler to try MSBuild v14 (VS2015) as a backup.

[2015-08-10 08:03] 7sharp9 commented on #11
Maybe this can be refined so that an array of assemblies and binding
versions can be passed in, the first one found is then bound.

On 9 August 2015 at 14:33, Robin Neatherway notifications@github.com
wrote:

[2015-08-10 10:05] rneatherway commented on #11
Yes sure, what do you imagine using that for?

It's worth noting that this handler _only_ executes if the assembly resolution fails, so we still need the standard `App.config` binding redirect as well to pull MSBuild v4 up to at least v12.

[2015-08-10 10:23] rneatherway commented on #54
Just a note that upgrading to FSharp.Core 4.4.0.0 did not help. FCS always returns a reference of "FSharp.Core.dll" on Mono: https://github.com/dsyme/FSharp.Compiler.Service/blob/c5a64b00bdd645e7505dea6879673615a05df3ae/src/fsharp/build.fs#L1560

[2015-08-10 10:25] 7sharp9 commented on #11
To avoid three calls in the event handler

On 10 August 2015 at 11:05, Robin Neatherway notifications@github.com
wrote:

[2015-08-10 10:28] dungpa commented on #54
@rneatherway That part is used in unit testing only. We pass the Visual Studio version at https://github.com/dungpa/PowerTools/blob/dfbd8cc1c02264db883b358b10c25e97c2b84e1f/src/FSharpVSPowerTools.Logic/ProjectFactory.fs#L161-L162.

[2015-08-10 10:40] rneatherway commented on #11
Ah I see. The one I'm adding to FsAutoComplete will just redirect all `Microsoft.Build*` assemblies, so that should be OK. If I get that working, then we can look at combining your external process stuff with this into FCS.

[2015-08-10 10:40] rneatherway commented on #54
Ah right, of course VS will tell you! Thanks.

[2015-08-11 12:29] rneatherway opened #58 "Referenced projects seem not to pick up uncompiled changes still"
Perhaps the output assemblies should _not_ also be included in the list returned by FCS?

[2015-08-11 18:08] latkin commented on #12
If there is no FSharp.Core version in your fsproj, it looks like the VS tooling will assume an environment of "latest", i.e. whatever version it's currently running against.  The generated compiler command line has no FSharp.Core ref in it.  The compiler will make the same fallback decision (assume reference to whatever version it is running) in order to determine the FSharp.Core version it will u

[2015-08-11 18:30] dsyme commented on #12
@latkin I added this information here: https://github.com/fsharp/fsharp.github.io/pull/33

[2015-08-11 22:10] rneatherway commented on #12
@latkin: thanks, that is very helpful. I think I will mimic that behaviour.

So: I'll find the newest FSharp.Core.dll with .optdata/.sigdata, and use it:
1. To replace the FSharp.Core reference returned by FCS (on Mono this is always "FSharp.Core.dll")
2. To add to project options if FSharp.Core.dll is ever missing.

Rather than messing around with the registry I think I will search through `%Prog

[2015-08-13 23:05] rneatherway commented on #11
Fixed by #57

[2015-08-13 23:05] #11 closed, assigned to nobody

[2015-08-13 23:06] rneatherway commented on #42
Fixed by #57. @xenocons the next release of fsharp-mode should fix this.

[2015-08-13 23:06] #42 closed, assigned to nobody

[2015-08-14 08:23] rneatherway commented on #54
VS2012:

VS2015:

[2015-08-14 08:24] rneatherway commented on #54
(for reference)

[2015-08-14 09:42] #12 closed, assigned to nobody

[2015-08-14 09:42] rneatherway commented on #54
Fixed by #59

[2015-08-14 09:42] #54 closed, assigned to nobody

[2015-08-14 09:42] rneatherway commented on #25
Fixed by #59

[2015-08-14 09:42] #25 closed, assigned to nobody

[2015-08-14 09:44] rneatherway commented on #21
Fixed by #59

[2015-08-14 09:44] #21 closed, assigned to nobody

[2015-08-14 09:44] rneatherway commented on #23
Fixed by #59

[2015-08-14 09:44] #23 closed, assigned to nobody

[2015-08-14 13:50] #44 closed, assigned to nobody

[2015-08-14 15:39] rneatherway commented on #58
@dsyme, I'm a bit unclear on how this should work. At the moment I don't get any completions for another project unless it has been compiled, and I have to recompile if I make any externally visible changes. I had a read of https://fsharp.github.io/FSharp.Compiler.Service/project.html#Analyzing-multiple-projects, but I'm still not sure how I should use the API.

At the moment I only ever call `Par

[2015-08-14 16:59] dsyme commented on #58
I looked at your code and didn't immediately spot a bug.  Could you show me a log of the two ProjectOptions you're passing, one for the library project and one for the consuming project (the latter should contain an identical copy of the options for the library project as a project reference)

You shouldn't need to call ParseAndCheckProject - what you're doing should be OK

[2015-08-14 21:58] rneatherway commented on #58
Here are the options. There is a single difference in the 'library project' options. The ProjectFileName is not the same, it hasn't been canonicalised in the referencing project. However, I inserted a `Path.GetFullPath` call in the loop that builds up ReferencedProjects and this didn't help.

FsAutoComplete.fsproj:

[code]

Referencing project (FsAutoComplete.Tests.fsproj):

[code]

With canonical

[2015-08-14 23:24] dsyme commented on #58
Here's an example set of options from MultiProjectAnalysisTests.fs.  Notice that the keys in the pairs for ProjectReferences are the DLL names, _not_ the project file names.  Using the output DLL names should fix it for you I think

[code]

[2015-08-14 23:54] rneatherway commented on #58
Right, thanks for the pointer. We'll have to update FCS as well: https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/vs/service.fs#L3087

I did just try subbing in the output file instead, and that didn't seem to do it for me. Perhaps it's different for .exe dependencies, not sure. I'm going away tomorrow so will have to come back to this, testing a bit more carefully.

[2015-08-19 02:37] cloudRoutine opened #61 "Incorrect Error on Unicode Characters"
_copied from https://github.com/fsprojects/atom-fsharp/issues/108_

---

When I tried to declare a function using Σ in Atom it said the character was unexpected.

![2015-08-09_00-10-47](https://cloud.githubusercontent.com/assets/680051/9153540/7363f9a2-3e2b-11e5-9c1f-06547c831c94.png)
![2015-08-09_00-19-21](https://cloud.githubusercontent.com/assets/680051/9153555/53a1bef0-3e2c-11e5-8f3e-5dc85c3d6

[2015-08-26 16:53] bsermons opened #62 "Malformed json being produced when doc comment has quotes."
I keep getting a malformed json error with the following code snippet when I put the cursor at SqlCommandProvider.  Once the error happens, fsharp-mode becomes useless as the status window is out of control.  Not sure if this is an FsAutoComplete issue or a Newtonsoft issue as to which is outputting the malformed json so posting here until I can dig deeper.

[code]

from _Messages_ buffer

[code]

[2015-08-26 23:41] rneatherway commented on #62
Thanks for reporting. It seems the issue is due to the unescaped quotes `"` that have come from the doc comment for `SqlCommandProvider`. However, NewtonSoft should have quoted these, so I'm not quite sure why it is happening. I will investigate and post a fix next week.

[2015-08-31 09:54] s-trooper opened #64 "Broken on Windows"
With all F# Plugins for Atom,ST and Vim i got `StackOverflowException` on Win7 64bit (VS2015  installed). Then I tried the following:

I have cloned master branch and build it with `build.cmd`, in the FsAutoComplete folder i have executed "bin\Debug\fsautocomplete.exe" and put in:

[code]

Result

[code]

[2015-08-31 10:02] rneatherway commented on #64
@s-trooper: thanks for reporting! This is obviously a big issue. I haven't seen this problem myself on Win7 with VS2013 or VS2015. Have you used git bisect before? It should be quite quick to find the offending commit using that technique as it is so easy to reproduce on your machine.

[2015-08-31 10:10] Krzysztof-Cieslak commented on #64
Hmm... I've also experienced some  StackOverflowException while using Atom, but it seemed pretty random / I have not found any reliable replication yet. Also bear in mind that Atom is still using `0.21.1` (so F# 3.1 and MSBuild 12)

[2015-08-31 13:23] s-trooper commented on #64
Just to info, i have tested "0.22.0" brunch now and don't get "StackOverflowException" error but "normal" reference not found as i don't have msbuild12 installed:

[code]

sadly i am not familiar with git/bisect and functional code debugging can be tricky but i will look at code maybe i am lucky ....

[2015-08-31 13:32] rneatherway commented on #64
@s-trooper: that is good to know. git bisect is very easy to use, I really recommend you try it. This page explains how: https://git-scm.com/book/en/v2/Git-Tools-Debugging-with-Git#Binary-Search

In essence you will want to do:

[code]

At which point git will automatically choose the middle revision to test next, so you can run:

[code]

To check if it fails, and then enter `git bisect bad` if it

[2015-08-31 13:33] rneatherway commented on #64
PS. You may have to run `git fetch --tags` so that git knows what `0.22.0` means.

[2015-09-01 06:35] s-trooper commented on #64
thanks for git tips i will look at it closer.

meanwhile i was lucky and found the bug in the old school fashion (debugging). i have a "Microsoft.Build.resources" file in my msbuild v14 and that cause the stackoverflow error. As i am not familiar with git yet, i have make attachment with patch i hope one can apply it :)

[fix msbuild v14 resolution](https://gist.github.com/s-trooper/4afa0b3dfc9ccd

[2015-09-01 07:33] Krzysztof-Cieslak opened #65 "Asynchronus FCS requests"
That's more question then true issue. I just wonder why most calls to FCS are run synchronously (only parse call is run async). It doesn't feel right (but I might be wrong as I'm only starting to understand what's going on here ;) ).

Another thing I'd like to ask (sorry for such multi-topic issue) is whether we could support cancellation of calls to FCS. I think it's reasonable to assume that if

[2015-09-01 17:03] rneatherway commented on #64
Thanks a lot for the patch. Please could you provide a directory listing for the directory where that file came from, so I can compare it to my own situation?

[2015-09-02 07:09] s-trooper commented on #64
i suppose you mean the resource file? i am not sure where that come from but i located one here. btw i have German installation here.

[code]

[code]

[2015-09-02 12:05] rneatherway commented on #64
OK, it's great that that fixed it, but I would like to understand exactly what is going wrong. Unfortunately I don't have a German installation so I can't easily reproduce, but would you mind running it with a bit more debug and posting the output here?

Specifically, could you replace the event handler with:

[code]

And then also try adding `requestedAssembly.CultureInfo <- System.Globalization.

[2015-09-02 12:17] rneatherway commented on #65
I think the main reason is that in the editing context if information such as completions is requested and it cannot be returned within a small amount of time it is assumed that it will no longer be useful. So perhaps this is related to your second question. The `parse` command (which then outputs any errors found) operates asynchronously, is this more how you feel it should be?

I think we could

[2015-09-02 12:52] s-trooper commented on #64
Sadly i don't know what is the reason of trouble. I have tested on college PC with VS2012 (German). The same Problem. Loading of "Microsoft.Build.resources.dll" ends in recursion but why?

Anyway

[code]

don't solve the Problem with and without this line i get the same following output:

[code]

Where "..." long list of:

[code]

EDIT: of course not exactly the same, Culture is changed =)

[code]

[2015-09-02 16:58] rneatherway commented on #64
OK, latest version on MELPA now seems to fix this.

[2015-09-02 16:58] #64 closed, assigned to nobody

[2015-09-02 19:43] Krzysztof-Cieslak commented on #65
Re 1: I just don't think that for example `tooltip`request should block other requests. If for any reason `tooltip` is taking long time I'm not sure if it should stop client from getting other results of other requests. (That's just an example, I don't know how long can take `tooltip` request or if there exist possibility of FCS working longer than usual on response)

Re 2: `IsResultObsolete` soun

[2015-09-03 21:51] 7sharp9 commented on #65
Some of these issues would have to mean changes to FCS.  I suggest start discussing that here too.

[2015-09-04 09:31] rneatherway commented on #65
@Krzysztof-Cieslak almost all the commands apart from `parse` just check "are there any typecheck results available" and then if so return the result, so even though they are async I wouldn't expect them to take a long time. However, it is possible, but rather than reworking everything I would suggest first inserting some instrumentation to see whether the command queue is frequently >1, and wheth

[2015-09-04 09:51] Krzysztof-Cieslak commented on #65
I will add some counters and check it on my machine - I sometimes have some performance problems with FSAC ( for example hanging on one request for 30 seconds and using whole CPU core) so I've thought that making sure we don't process outdated requests will be easiest point to make performance better.

I'm working on some better logging system in atom-fsharp so I can collect more data and reliably

[2015-09-04 10:16] Krzysztof-Cieslak opened #66 "Integration with other tools using FCS"
There exists other tools created by community such as [Fantomas](https://github.com/dungpa/fantomas) and [FSharpLint](https://github.com/fsprojects/FSharpLint) using FCS under the hood. It would be nice if we could integrate those tools into FSAC to not force editors to host multiple FCS sessions if they want use those tools. Also both tools provide API which can be used with AST, so they don't ne

[2015-09-04 10:42] rneatherway commented on #65
OK, well if that is the case then it definitely sounds like it needs addressing. Those results will be very interesting, thanks.

[2015-09-07 11:09] rneatherway commented on #66
@Krzysztof-Cieslak that's a really nice idea. I won't have time in the near future, but would accept a PR, or maybe I'll get to it next month.

[2015-09-07 11:19] Krzysztof-Cieslak commented on #66
I should be able to handle it and make PR (at least a bit sooner - I'm finishing stuff I want to make for atom-fsharp 1.0 release, and next week I'll be few days on conference - but after it I should have some time to play with it).

So i was mostly asking if we want to have it, I should be able to code it ;)

[2015-09-07 11:33] rneatherway commented on #66
Yeah, I really like the idea, and in general I welcome all PRs! It is nice to have a few people helping to push things forward now.

[2015-09-07 13:18] rneatherway commented on #61
This is on Windows? I wonder if this is related to https://github.com/fsharp/FsAutoComplete/issues/62, where unicode quotation marks are being flattened to ordinary ones. What encoding are the files you are working with, UTF-8? Could you post one as a gist, or create a failing test with it?

[2015-09-07 13:19] rneatherway commented on #62
Something is going wrong with the unicode "smart quotes" in the docstring: https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient/SqlCommandProvider.fs#L68

Are you running on Windows? This works fine on Linux, so perhaps the default encoding is at fault.

[2015-09-07 13:20] rneatherway commented on #48
Closed by #63

[2015-09-07 13:20] #48 closed, assigned to nobody

[2015-09-07 13:29] bsermons commented on #62
Yes this was on windows 8.1 machine I noticed it on. Is there something I can do to change the default encoding to see if that fixes it?

[2015-09-07 13:50] rneatherway commented on #62
There actually isn't a way without recompiling FsAutoComplete. If you could try setting the encoding to UTF8 that would be great. Just add `System.Console.InputEncoding <- System.Text.Encoding.UTF8` at the beginning of the `entry` function in `Program.fs`, rebuild, and replace the copy that came with your fsharp-mode.

[2015-09-07 14:17] Krzysztof-Cieslak commented on #61
Not sure if it's FSAC bug (I'd bet my money on Atom / node [however I set encoding to UTF-8]). Last time I've tried debug it, it looked like FSAC is getting malformed string from Console.ReadLine(). But it was some time ago so I might remember it wrongly ;)

[2015-09-08 11:31] rneatherway commented on #61
I think FSAC might be using UCS-2 on Windows, as that is the default, in which case sending it UTF-8 on Windows would give a malformed string.

[2015-09-08 12:58] bsermons commented on #62
Setting the console InputEncoding to UTF8 didn't fix it but when I tried setting the OutputEncoding to UTF8, that seems to work.

[2015-09-08 14:25] rneatherway commented on #61
@Krzysztof-Cieslak are you able to reproduce this? It seems to work OK testing from the command line with a Σ character on Windows (as in I added a test and the correct character is printed back out: https://ci.appveyor.com/project/rneatherway/fsautocomplete-k25vg/build/job/l8b7hnvmfts29vnr).

It probably wouldn't hurt for me to set the input and output encoding of stdin to UTF8 and that might jus

[2015-09-09 11:34] Krzysztof-Cieslak opened #68 "StackOverflow exception"
I've started using Atom-fsharp developing one of my projects and I'm experiencing really a lot of StackOverflow exceptions - I've mentioned it some time ago but it was not as often as this time, so I've started investigated it bit more.

First observation (pointed out by smarter-than-me people from F# Slack channel): looks like our main function is not tail recursive - I was pointed out to this bl

[2015-09-09 11:42] rneatherway commented on #68
Ah! Thanks for finding that. What do you think about changing the recursive function to a `do .. while` with `state` being a mutable variable instead?

[2015-09-09 11:55] Krzysztof-Cieslak commented on #68
Yep, that's one of the solutions that will definitely work. Don't see any problem with that since state is accessed only by main thread anyway.

[2015-09-09 12:12] s1monfarrow opened #69 "Could not load file or assembly 'Microsoft.Build.Utilities.v12.0' or one of its dependencies. The system cannot find the file specified."
Everything was working fine with Mono 4.x installed but I've had to move back to 3.1.2 to sort out a build issue. I'm now getting this exception when I open up an fs or fsx file. This is pasted in directly in from messages.

System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Build.Utilities.v12.0' or one of its dependencies. The system cannot find the file specified.
File

[2015-09-09 12:38] rneatherway commented on #69
I'm afraid that MSBuild v12 is a required dependency and FsAutoComplete expects Mono >= 3.10.0.

[2015-09-09 12:38] #69 closed, assigned to nobody

[2015-09-09 13:06] s1monfarrow commented on #69
Apologies for this, it was a user error picking the version of mono to install.

[2015-09-11 11:24] #61 closed, assigned to nobody

[2015-09-11 11:24] #68 closed, assigned to nobody

[2015-09-11 11:44] rneatherway commented on #62
This should be fixed by #70, although emacs fsharp-mode will need to be updated to use the new release.

[2015-09-11 11:44] #62 closed, assigned to nobody

[2015-09-11 11:45] rneatherway commented on #61
If this isn't fixed by upgrading atom-fsharp to fsac 24.1 then let's discuss again, but I am also suspicious that it is probably due to atom rather than fsac.

[2015-09-29 15:38] Krzysztof-Cieslak commented on #61
@rneatherway, problem fixed after updating to `0.24.1`

[2015-09-30 09:25] lulu-berlin opened #72 "A project with reference to System gets "The namespace or module 'Process' is not defined""
I use FsAutoComplete via `vim-fsharp`, but the same error happens when it is run directly. It complains about not finding `System.Diagnostics.Process`, even though the same project compiles perfectly well Visual Studio, MSBuild, or just fsc.

This issue can be easily reproduced: create a minimal F# project (referencing `System` by default) and try to use anything from the module `Process` in an in

[2015-09-30 09:46] rneatherway commented on #72
1. Which version of fsautocomplete are you using?
2. Which versions of VS do you have installed, and which did you use to create this project file?
3. Please can you post the whole project file so I can try to reproduce?

[2015-09-30 10:01] lulu-berlin commented on #72
Hello @rneatherway :) Thank you for the quick reply.
1. I'm using version 0.23.0 of fsautocomplete. _EDIT: I checked and it doesn't work on 0.24.1 either._
2. Visual Studio Community 2015, Version 14.0.23107.0
3. The project file is nothing more than the `fs` file given above, used inside a template project (Visual F#: Console Application).
   Here is a copy-paste:

[code]

[2015-09-30 10:12] lulu-berlin commented on #72
Note that it compiles fine with `fsc` and with `MSBuild` from the command line.
Also, the same error occurs in fsautocomplete even if I don't provide a project file:

[code]

But no error if I try to use, for instance, `System.Console.WriteLine`:

[code]

[2015-09-30 10:30] rneatherway commented on #72
Can you paste the output of the compilation from the command line, most importantly the arguments given to `fsc` by `msbuild`.

[2015-09-30 10:38] lulu-berlin commented on #72
[code]

But a simple call to `fsc Program.fs` succeeds just as well.

[2015-09-30 13:16] rneatherway commented on #72
OK, it does seem like a bug. I will have to try to reproduce in my VM, I'll post back here once I learn something. In the meantime, if you want to keep using VIM, I could recommend a few ideas that might help:
1. Try lowering the .NET Framework version to 4.5
2. Find a project file generated by VS2013 (there are examples in the http://github.com/fsharp/fsharp repo among other places)
3. Generate a

[2015-10-04 21:27] rneatherway commented on #72
@yever I reproduced this using your project file. When I enabled more logging, I found that the issue was the absence of the App.config file referenced by the project. After I removed that entry from the project file, I received the following output:

[code]

[2015-10-11 20:39] rneatherway commented on #72
@yever as far as I can tell this is just a problem due to the missing AssemblyInfo.fs, so closing for now. If that isn't the case let me know.

[2015-10-11 20:39] #72 closed, assigned to nobody

[2015-10-21 16:12] Krzysztof-Cieslak opened #80 "Performance of completion command"
I'm not sure if I've introduced some bug while refactoring or if it was actually as slow in old version but this definitely not looking right (especially in comparison to other commands times).
![image](https://cloud.githubusercontent.com/assets/5427083/10642688/3f251d64-781f-11e5-8bdb-3319ef7d0f59.png)

[2015-10-21 16:35] rneatherway commented on #80
Ouch! Is this after it has been running for a while, so it isn't due to JIT?

[2015-10-21 16:42] Krzysztof-Cieslak commented on #80
I've tested it for few minutes, and every `completion` request have such slow response time. I'll try to profile FSAC and find issue.

[2015-10-22 08:31] rneatherway commented on #80
Great, what are you going to use for profiling? Something in VS or a more basic approach? `git bisect` might also help to find the point where this started getting very slow.

[2015-10-24 11:00] rneatherway commented on #58
Fixed by #78

[2015-10-24 11:00] #58 closed, assigned to nobody

[2015-10-24 11:23] rneatherway commented on #80
I've tried profiling fsautocomplete.exe locally and I don't see the same behaviour. All the requests are under a second, mostly much less. Have you had any luck tracking it down?

[2015-10-24 11:40] Krzysztof-Cieslak commented on #80
Sorry, I've been busy for last few days and haven;t got time to play with it recently. I will try to do some profiling next week.

[2015-10-24 11:48] rneatherway commented on #80
Cool, no rush.

[2015-10-24 21:14] rojepp commented on #80
Same here, typically around 300 ms.

[2015-11-09 09:09] s-trooper opened #84 "FsAutoComplete.Suave broken on Win(Ger) + F# 4.0"
Hi,
i have Suave/Web Service version of this Problem https://github.com/fsharp/FsAutoComplete/issues/64 . I have just tested master and FsAutoComplete CLI, work as expected, thus it is no regresion!

Here is web response:

[code]

Btw. the other way to solve that, other as patching "addMSBuildv14BackupResolution" as in the FsAutoComplete CLI, is to add "FSharp.Compiler.Tools/4.0.0.1" dependencies

[2015-11-09 09:54] rneatherway commented on #84
@Krzysztof-Cieslak which version are you currently releasing, from your repo or from here? I think we should get the `addMSBuildv14BackupResolution` in and then I'll do a release, the FSharp.Core and MSBuild resolution issues should be fixed then.

[2015-11-13 09:58] Krzysztof-Cieslak commented on #84
@rneatherway: Right now I'm using my fork and it has `addMSBuildv14BackupResolution` in there (https://github.com/ionide/FsAutoComplete/blob/canceling/FsAutoComplete.Suave/FsAutoComplete.Suave.fs#L47). However issue on `ionide-fsharp` might get reported earlier - i reopened it and suggested using latest `ionide-fsharp` version.

[2015-11-13 10:57] Krzysztof-Cieslak commented on #84
ionide/ionide-fsharp#176 is closed, working on latest version using my fork. So indeed, adding `addMSBuildv14BackupResolution` solves this issue. I'll add it in my next PR.

[2015-11-13 10:59] s-trooper commented on #84
my atom issue is solved, i assume it is the case here too! but i have no time to test yet. @rneatherway close it please if you think its solved here too

Edit: btw my thank for you great work, i looking forward to get rid of the VS in times that come :)

[2015-11-13 11:12] rneatherway commented on #84
@s-trooper thanks for the testing. Ionide is currently released from the other repo, so this will be synced up here soon.

[2015-11-13 11:12] #84 closed, assigned to nobody

[2015-12-01 20:05] monkieboy commented on #54
@7sharp9 @rneatherway I know this is closed but I am experiencing the same thing with Xamarin Studio. Is the fix out yet? Can I do anything to fix this myself?

<img width="693" alt="screen shot 2015-12-01 at 20 00 41" src="https://cloud.githubusercontent.com/assets/1375185/11512500/472c3f08-9866-11e5-8151-4e85b383c168.png">

[2015-12-07 18:29] monkieboy opened #87 "Exception when getting check options.... FileNotFoundException"
Linked to https://github.com/fsharp/FsAutoComplete/issues/54

I was hoping that a solution has already been identified by @rneatherway or @7sharp9 ??

I am experiencing an auto complete issue in Xamarin Studio when trying to dot into a records property, image explains the issue clearly:

<img width="693" alt="472c3f08-9866-11e5-8151-4e85b383c168" src="https://cloud.githubusercontent.com/assets/137

[2015-12-07 20:14] 7sharp9 commented on #87
This project is not used by Xamarin Studio, if you have issues with XS/F# then a raise a bug here: https://bugzilla.xamarin.com/enter_bug.cgi?product=Xamarin%20Studio using the component F# addin

[2015-12-09 09:29] rneatherway commented on #87
Hopefully this might be fixed in Xamarin Studio by upgrading to FCS 2.0.0.0. However, this is not an FSAC issue.

[2015-12-09 09:29] #87 closed, assigned to nobody

[2015-12-16 18:59] monkieboy commented on #87
Thanks for your feedback @rneatherway and @7sharp9 I will log a bug with XS.

[2015-12-22 16:59] drvink opened #88 "fsautocomplete doesn't respond to commands when running on mono 4.2.x"
fsautocomplete.exe starts up, but doesn't respond to commands and can't be terminated via ^C when running on mono 4.2.1 or 4.2.2. Running on 4.0.4 works fine. I can reproduce this 100% of the time on my x86_64 Arch install.

[2015-12-22 17:03] rneatherway commented on #88
Hmm, it seems to be working for me, having just rebuilt from the latest source:

[code]

What Mono version are you using exactly?

[2015-12-22 17:10] drvink commented on #88
This version works:

[code]

These don't (for me):

[code]

[code]

[2015-12-22 17:18] drvink commented on #88
Forgot to mention: I'm using F# 4.0.1.1.

[2015-12-22 18:01] rneatherway commented on #88
Are the results similar if you try running the integration tests? `./build.sh test`

[2015-12-22 18:04] drvink commented on #88
Yes, it seems to hang immediately:

[code]

[2015-12-22 18:25] drvink commented on #88
I tried all the other F# 4.0 versions just now (on mono 4.2.2) too--no good. :(

[2015-12-22 19:01] drvink commented on #88
mono 4.0.4:

[code]

mono 4.2.2:

[code]

Note the differences starting from the innermost frame of the worker thread. (It seems that mono replaced their own threadpool implementation with Microsoft's as of mono 4.2.1.) Also, sometimes when I do the thread dump, there's a trailing `"<threadpool thread>"` line, so this is looking suspicious.

[2015-12-22 19:25] drvink commented on #88
Progress: on mono 4.2.2, if I run fsautocomplete.exe with `MONO_THREADS_PER_CPU=2 mono fsautocomplete.exe`, it works fine. My guess is you're on a multicore system and that's why you're not seeing the issue--the default for `MONO_THREADS_PER_CPU` is 1, and my VM has only one virtual CPU assigned to it. `MONO_LOG_LEVEL=debug` was useful in finding this. Of course, now it seems likely that this is,

[2015-12-24 16:34] rneatherway commented on #88
Thanks for this investigation. FsAutoComplete does use one thread to listen on stdin for incoming commands and another to execute them. This is partly so that the FileWatcher to reload modified projects can insert additional commands into a queue that is processed synchronously.

Please could you try inserting the following at the beginning of the function `entry` in `FsAutoComplete/Program.fs`:

[2015-12-24 16:42] drvink commented on #88
I found that yesterday as well and tried it--no dice. It didn't seem to affect the minimum number of threadpool worker threads or IOCP threads at all. However, since the environment variable does seem to do the trick, we could just `setenv` `MONO_THREADS_PER_CPU` within Emacs before launching fsautocomplete. (BTW, a value of 2 was enough to get it to reply to commands, but I had to set it higher i

[2015-12-24 18:21] rneatherway commented on #88
That's a reasonable suggestion. A bit busy right now but would happily accept a patch if it's working for you. (If I do it I'll have to ask you to test it anyway) If you have time please also open a bug at Xamarin.

[2015-12-25 23:15] drvink commented on #88
I made a pull request at fsharp/emacs-fsharp-mode#46. Will submit a bug with Xamarin in a bit.

[2015-12-25 23:51] drvink commented on #88
Xamarin bug: https://bugzilla.xamarin.com/show_bug.cgi?id=37288

[2016-01-26 12:35] rneatherway commented on #88
@drvink on the Xamarin bug they suggest trying the SetMinThreads again with Mono 4.2.2. Would you mind trying that?

[2016-01-27 11:00] drvink commented on #88
@rneatherway I already tried on 4.2.2, but it sounds like maybe they've issued a patch release to 4.2.2? I replied in the bug, so I'll wait for their response.

[2016-01-27 11:11] rneatherway commented on #88
Cool, thanks for taking the lead on chasing this down.

[2016-02-03 14:11] drvink opened #90 "fsautocomplete doesn't handle project paths with spaces"
[code]

[2016-02-03 14:31] drvink commented on #88
The latest 4.2.2 patch version fixes the issue without the need for the environment variable if you use `ThreadPool.SetMinThreads` at the beginning of the program as we'd initially tried. We'd still want to have each editor mode continue to do the environment variable hack in order to cope with the broken Mono versions, though.

[2016-02-03 15:18] rneatherway commented on #90
I believe that is an FCS issue, probably here: https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/FSharp.Compiler.Service.ProjectCracker/ProjectCracker.fs#L39

[2016-02-03 15:23] drvink commented on #90
Quite possibly. I wonder when this broke, since it certainly used to work in the past. Should I file an issue there instead?

[2016-02-03 15:23] forki commented on #90
quotes around https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/FSharp.Compiler.Service.ProjectCracker/ProjectCracker.fs#L31 ?

[2016-02-03 15:24] forki commented on #90
@drvink better send a PR and reference this issue here ;-)

[2016-02-04 11:24] rneatherway commented on #90
https://github.com/fsharp/FSharp.Compiler.Service/pull/523

[2016-02-05 15:45] rneatherway commented on #90
Fixed in 0.27.2

[2016-02-05 15:45] #90 closed, assigned to nobody

[2016-02-05 15:45] rneatherway commented on #90
@kjnilsson @Krzysztof-Cieslak I suggest you update to this version to fix this issue

[2016-02-06 18:34] rneatherway commented on #88
OK, what did you set the minimum threads to?

[2016-02-07 16:33] drvink commented on #88
I used 8.

[2016-02-07 22:17] #88 closed, assigned to nobody

[2016-02-08 22:40] cloudRoutine opened #93 "The name "FSharp.Compiler.Service.ProjectCrackerToolCopy" contains an invalid character ".""
![](http://i.imgur.com/GF2LkoH.png)

I've been trying to get this reorg of the project structure working before I submit this PR https://github.com/ionide/FsAutoComplete/pull/6 onto this repo, but I've run into this issue and haven't been able to figure out how to resolve it.

Any ideas?

[2016-02-08 23:09] cloudRoutine commented on #93
I'm not doing the PR anymore, nevermind

[2016-02-08 23:09] #93 closed, assigned to nobody

[2016-03-08 13:25] rojepp opened #96 "Unable to resolve 'System.Data'"
Compiler error:
<img width="284" alt="screenshot 2016-03-08 14 22 50" src="https://cloud.githubusercontent.com/assets/445888/13602809/466d4b6e-e539-11e5-9143-5c189852f57b.png">

I see this in VS code and in Atom. The project works fine in VS, and `System.Data` is referenced.

Small repro project:
[ConsoleApplication3.zip](https://github.com/fsharp/FsAutoComplete/files/163219/ConsoleApplication3.zi

[2016-03-08 13:36] rneatherway commented on #96
Please could you try to get the log output as described at https://github.com/fsharp/emacs-fsharp-mode#project-file-issues ?

[2016-03-08 13:50] rojepp commented on #96
This is what I get after running ProjectCracker from command line:

This project file was created in VS2015, and should work without modification?

[2016-03-08 13:54] rojepp commented on #96
There are two imports in the generated fsproj and none of them have a `path` attribute:

[code]

[2016-03-08 13:58] rojepp commented on #96
If I remove both of the imports I get a different error:

[2016-03-08 14:30] rneatherway commented on #96
I'm pretty sure the error means that `<Import Project="$(FSharpTargetsPath)" />` is where the problem is. The value of the attribute `Project` is what is being referred to as `path`.

`FSharpTargetsPath` is set by:

[code]

And the VisualStudioVersion is set in turn by this code: https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/FSharp.Compiler.Service.ProjectCrackerTool/Pro

[2016-03-08 19:22] rojepp commented on #96
MSBuild is in standard locations:
C:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild.exe
C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe

So it looks like the code you pointed to should find it?

But I did notice that VS generated this for FSharpTargetsPath:

[code]

This means FSharpTargetsPath _will_ be empty, because VS version is 14.0 and my Fsharp targets file is at
C:\Program Files (x

[2016-03-08 21:28] rneatherway commented on #96
It seems as though it might be choosing the DLLs for MSBuild v12, but preferring to set VisualStudioVersion to 14 and that might be causing problems.

Which versions of VS do you have installed currently?

You said:

but I find the targets file at `C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v12.0\FSharp` as expected, do you not have it there or at the `v14.0` path? (`$(MSBuildExtensions

[2016-03-08 21:41] rneatherway commented on #96
One oddity I see in your log is the failure to cast the Fsc task to the correct type, which works on my machine (VS2013). However, we should fix the first problem (FSharpTargetsPath) first, as it may be related and it more serious. Even if the "build" fails as it did in your case normally you still get good references back, and in fact it does look like you did so I am very surprised there was sti

[2016-03-09 09:09] rojepp commented on #96
On this computer I have VS2010 (for a legacy project) and VS2015. I don't know where it gets v12.0 (VS2013) from..

I have the .targets file at C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\FSharp but as you said, ProjectCracker seems to choose v12.0 instead of v14.0, and can't find it. It warns of it:

Very odd. Just to be clear, the build doesn't fail. I see this error (missing typ

[2016-03-09 09:12] rojepp commented on #96
I'm using whatever version of FsAutoComplete/ProjectCracker that ship with VSCode/Atom extensions. FsAutoComplete.exe has a file version of 0.27.3.0. ProjectCracker doesn't have versioning information.

[2016-03-09 11:42] rneatherway commented on #96
The ProjectCracker links against v12 and uses a backup redirect to v14 if that isn't available, but if you don't have v12 then it should certainly end up using v14. I have a VM with just VS2015 so will see if I can repro there.

Yes, I just mean the fake build that ProjectCracker does.

[2016-03-09 12:25] rneatherway commented on #96
The selection of the MSBuild dlls and the VisualStudioVersion is completely separate. It looks like ProjectCracker is using v12 dlls, but you said you don't have them installed? Did you ever have VS2013 on this machine? Or install the MSBuild standalone pack?

I can't reproduce this behaviour on my VM, but I would really like to get this fixed. Can you try running a patched version? The first thin

[2016-03-09 21:02] rojepp commented on #96
I'd be happy to, but it will have to wait until next week. Mini vacation coming up.

[2016-03-10 14:26] rneatherway commented on #96
OK, thanks.

[2016-03-24 13:42] kjnilsson opened #100 "coreclr support"
Hi

There is a branch of FCS for coreclr support - no idea if it works or not .

Has anyone been trying to update fsac to work against this code?

Cheers
Karl

[2016-04-07 10:39] nosami commented on #65
Now that we send the linestr from the editor, I think there is no need for the background parse to block completions.

Would probably need to lock the stdout writer though.

[2016-04-07 13:55] Krzysztof-Cieslak opened #102 "Handling colorization"
I was looking at possibility of simplifying Core API by making functions return result instead of list of results (discussed in #99). At the moment, there are 2 cases when we return multiple results - completion and helptext (https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete.Core/FsAutoComplete.Core.fs#L104-L105) and errors in case colorization is enabled (https://github.com/

[2016-04-07 13:56] nosami commented on #102
I was about to add colorization to emacs, but not started yet.

Maybe errors could be written separately and handled generically?

[2016-04-13 21:29] jadski opened #103 "Unexpected internal error kills emacs intellisense"
Reporting this as requested by the error message. Error occurs in emacs whilst editing code using fsharp-mode (any edit seem to trigger it). Renders intelli-sense dead.

Error is preceded by: File '/local/jadski/projects/dotnet/fsharp/test2/src/World.src' not parsed [7 times]

<code>
Unexpected internal error. Please report at https://github.com/fsharp/FsAutoComplete/issues, attaching the exceptio

[2016-04-13 21:33] jadski commented on #103
additional info: Ubuntu 14.04, Emacs 24.4 (compiled), fsharp-mode installed via MELPA. Mono & fsharp installed via

<pre>
sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
echo "deb http://download.mono-project.com/repo/debian wheezy main" | sudo tee /etc/apt/sources.list.d/mono-xamarin.list
sudo apt-get update
</pre>

[2016-04-13 21:37] jadski commented on #103
solved: filename ends .src instead of .fs

[2016-04-13 21:37] #103 closed, assigned to nobody

[2016-04-21 09:11] deapsquatter opened #105 "100% CPU usage - Reproducible (caused by complex dependency graph passed to project cracker)"
I originally logged this issue at the Ionide project https://github.com/ionide/ionide-vscode-fsharp/issues/55 but I think it needs to be here. This issue may in fact be with the compiler.cracker project but I'll leave that to the experts.

This issue looks like some type of circular dependency with project references. The graph is as follow:
1. Project A -> Project C
2. Project A -> Project B
3. P

[2016-04-23 16:35] rneatherway commented on #105
Hi @deapsquatter, this looks like a tricky one. Let's try ruling out the project cracker tool first. You can execute it directly like so:

[code]

You will have to adjust the paths of course, the above is for a version installed with emacs.

[2016-04-23 16:39] deapsquatter commented on #105
Thanks Robin. I actually tried that already. The projectcracker tool completes normally without much CPU usage. 

[2016-04-23 16:51] rneatherway commented on #105
Hm, I don't see a circular dependency in your example actually.

Can you get a debug log from Ionide? If not, perhaps you could load the project in emacs and try getting one there (https://github.com/fsharp/emacs-fsharp-mode/#fsharp-ac-debug). If we can see the communication with the background process then we should be able to see what command is triggering the bad behaviour.

[2016-04-25 08:25] deapsquatter commented on #105
See the output from Ionide below. The following commands are executed the moment I open Program.fs in Project A (Console.fsproj) and result in a pegged CPU.

[code]

[2016-04-25 08:33] kjnilsson commented on #105
Hi,

I too have seen this behaviour for a project reference graph as described
but have not had time to create a minimal repro. It is not a circular
dependency issue more that a project is referencing the same project as one
of it's dependencies, in the example above both project A and B directly
reference C with A also referencing B directly. I can't quite recall from
my testing but I suspect the

[2016-04-25 08:35] deapsquatter commented on #105
Thanks Karl - apologies for using the term "circular dependency" above. Your description of the problem is more accurate.

[2016-04-25 08:50] kjnilsson commented on #105
No worries - I really should have raised this myself a few weeks ago but
got snowed under with actual work. :)

I've set up a minimal github repo with the structure but can't test right
now if it actually reproduces the issue or not.

https://github.com/kjnilsson/fsac_issue_105

Karl

On Mon, 25 Apr 2016 at 09:35 deapsquatter notifications@github.com wrote:

[2016-04-25 09:03] deapsquatter commented on #105
@kjnilsson I've just tested your repo above and I'm seeing the exact same issue. Pegged CPU after opening Library1.fs in A.fsproj.

[2016-04-25 09:08] kjnilsson commented on #105
Great! thanks

On Mon, 25 Apr 2016 at 10:03 deapsquatter notifications@github.com wrote:

[2016-04-25 09:34] rneatherway commented on #105
I've also just tested it in Emacs with fsautocomplete 28.0 and everything is working fine here, no pegged CPU. I am running on Linux by the way.

[2016-04-25 09:38] deapsquatter commented on #105
@rneatherway What version of Mono you on? Here is mine for the record:

[code]

[2016-04-25 09:39] rneatherway commented on #105
[code]

[2016-04-25 09:42] deapsquatter commented on #105
Thanks - I may try going back to that version just to test. Do you know if Emacs issues the same command sequence to fsautocomplete as above? Looks like `project' and then 'errors'.

[2016-04-25 10:02] kjnilsson commented on #105
which version of fsautocomplete is ionide using?

[2016-04-25 10:04] rneatherway commented on #105
It looks like this:

[code]

[2016-04-25 10:05] rneatherway commented on #105
The `errors` message comes as an asynchronous response to the `parse` command.

[2016-04-25 10:09] deapsquatter commented on #105
Maybe @Krzysztof-Cieslak can chime in here on the version. Although looks like it may in fact be a fork [https://github.com/ionide/FsAutoComplete](https://github.com/ionide/FsAutoComplete)

[2016-04-25 10:20] kjnilsson commented on #105
just tested it on latest fsac master on a windows machine and don't get the
issue - I will do the same test on my mac when I get an opportunity. Could
be that the latest fsac/compiler tools don't have the issue.

On Mon, 25 Apr 2016 at 11:09 deapsquatter notifications@github.com wrote:

[2016-04-25 10:26] deapsquatter commented on #105
I replaced all files in the bin folder used by Ionide for fsautocomplete with fsautocomplete.suave.zip version 0.28 downloaded here. Same issue. Maybe an OS X issue?

[2016-04-25 10:29] kjnilsson commented on #105
I seem to have some memory of it happening on window as well. Mind, since
then I have upgraded both mono and .net. - just tried it against fsac
0.26.1 and no repro there either.

On Mon, 25 Apr 2016 at 11:26 deapsquatter notifications@github.com wrote:

[2016-04-25 10:54] deapsquatter commented on #105
Just tested your minimum repo with VS Code and Ionide on Windows. Works perfectly - no pegging of the CPU   ¯_(ツ)_/¯

[2016-04-26 07:39] kjnilsson commented on #105
I get cpu pegging on my mac with the following:

oryx:fsac_issue_105 karlnilsson$ mono  ../fsharp-vim/ftplugin/bin/fsautocomplete.exe --version
FSharp.AutoComplete 0.9.1
oryx:fsac_issue_105 karlnilsson$ mono --version
Mono JIT compiler version 4.2.1 (explicit/6dd2d0d Fri Nov  6 12:25:19 EST 2015)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
    TLS:

[2016-04-26 07:42] kjnilsson commented on #105
sorry that should be: FsAutoComplete 0.27.0

[2016-04-26 09:23] rneatherway commented on #105
Latest is 0.28.0, so I would double-check with that. I can try on my Mac later. I think this is 99% likely to be an FCS issue to be honest.

[2016-04-30 09:21] rneatherway commented on #105
I just tried on OSX, with Mono 4.2.1 and then updated to 4.2.3, both worked fine here.

[2016-05-14 15:27] rojepp commented on #96
I have raised an issue with FCS, and sent a PR for it as well. Please take a look. https://github.com/fsharp/FSharp.Compiler.Service/pull/566

[2016-05-17 16:05] 7sharp9 opened #106 "Autocomplte for double ticked modules and types"
The following code will not produce a tooltip at the § location:

[code]

They do however work here `let (|``BTST Imm§ediate``|_|) data =`

I suspect the parser combinator is not working correctly in this case.

[2016-05-22 21:36] Krzysztof-Cieslak opened #107 "MSBuild 12 requirement"
Why actually do we depend on MSBuild 12 on Windows? It was distributed with VS2013 (or can be obtained by using `Microsoft Built Tools 2013`). But why FSAC doesn't work with MsBuild 14 (VS2015 one)?

[2016-05-22 22:05] rneatherway commented on #107
FSAC should work with MSBuild 14. FCS Project Cracker depends on 12, but uses a backup assembly loader to use 14 if 12 isn't present. That works on my machine, but I'm aware there are some cases where it doesn't. A trial PR to fix this is https://github.com/fsharp/FSharp.Compiler.Service/pull/566

[2016-05-22 22:16] Krzysztof-Cieslak commented on #107
Well, https://github.com/ionide/ionide-fsharp/issues/230#issuecomment-220805775 suggests there are some problems with having just MsBuild 14 installed. But good to know it's known issue, hope it'll get fixed soon! :)

[2016-05-23 10:59] rneatherway commented on #107
I notice in that thread that one person said it was fixed by installing VS2015, which makes it sound like sometimes it works with v14 and sometimes not. Because I can't reproduce it, I have no real way of testing proposed fixes and feeling confident that they will work.

[2016-05-23 11:30] rojepp commented on #107
I can hopefully take a look again in the weekend.

[2016-05-23 22:26] smoothdeveloper commented on #107
I have the same problem on a machine (with only VS2015), so I'll happily give a shot at the fix, and eventually look into hacking at it with @rojepp :)

[2016-05-23 22:55] rneatherway commented on #107
@smoothdeveloper thanks very much! Do you need any help with building/testing the project cracker?

[2016-05-23 23:11] smoothdeveloper commented on #107
Thanks @rneatherway!

I'll give a try at building this repository on it's own, should I also pull another project and use it instead of nuget pakets that are used here?

[2016-05-23 23:43] rneatherway commented on #107
The project cracker is in the FSharp.Compiler.Service repository, so that's
the one to build. You can then run the project cracker against project
files in isolation like:

[code]

to>/MyProject.fsproj true
On 24 May 2016 12:11 am, "Gauthier Segay" notifications@github.com wrote:

[2016-05-24 00:16] smoothdeveloper commented on #107
mmh actually, I tried building this repository, and replacing the binaries in my `C:\Users\gauthier\AppData\Roaming\.emacs.d\elpa\fsharp-mode-20160427.848\bin` and it seems to work in `.fsx` and `.fs` files. My machine only has VS2015.

I'll try the project cracker on it's own to check if I see any issue.

[2016-05-24 04:46] rojepp commented on #107
@smoothdeveloper What was the output of projectcracker as distributörs?
On Tue, 24 May 2016 at 02:16, Gauthier Segay notifications@github.com
wrote:

[2016-05-24 08:29] smoothdeveloper commented on #107
@rojepp what do you mean "as distributörs"?

[output.txt](https://github.com/fsharp/FsAutoComplete/files/279056/output.txt)

Attached output on a sample project, with the `FSharp.Compiler.Service.ProjectCrackerTool.exe` file I got after compiling this repository.

The project is building in Visual Studio, but it says "build failed" at the end of the log. Is that what we are dealing with?

[2016-05-24 10:00] rojepp commented on #107
Sorry, autocorrect on my phone. :/
'as distributed'. You attached the output of building a project, I'd like to see the output of running projectcrackertool on it instead. Related issues:
https://github.com/fsharp/FSharp.Compiler.Service/pull/566 and
https://github.com/fsharp/FSharp.Compiler.Service/issues/565

[2016-05-24 10:12] rneatherway commented on #107
@rojepp I think the output is actually from the projectcracker tool. The output at the start is:

[code]

Which indicates that the assembly resolution has succeeded. This is good and means that it should work in Ionide/similar. Unless there are some assemblies missing from that list @smoothdeveloper?

This fake build will often fail because the compilation phase is stubbed out for performance reas

[2016-05-24 11:07] Krzysztof-Cieslak opened #108 "Add keywords to completion command result"

[2016-05-27 12:52] babusri opened #109 "Unexpected internal error when loading the project"
Macos 10.11.5,
GNU Emacs 25.0.50.1 (x86_64-apple-darwin15.0.0, NS appkit-1404.13 Version 10.11.1 (Build 15B42)) of 2015-11-03.
Used "yo fsharp" to create proj file --- Stanalone Project/Console Application/use Paket/use FAKE.
## When I open the fsharp file or load project (^C^P), I get this error.

Unexpected internal error. Please report at https://github.com/fsharp/FsAutoComplete/issues, attachi

[2016-05-27 13:38] rneatherway commented on #109
What version of Mono/F#?

[2016-05-27 17:12] babusri commented on #109
F# 4.0

mono --version
Mono JIT compiler version 4.4.0 (mono-4.4.0-branch/fcf7a6d Tue Apr 26 11:53:52 EDT 2016)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
    TLS:           normal
    SIGSEGV:       altstack
    Notification:  kqueue
    Architecture:  x86
    Disabled:      none
    Misc:          softdebug
    LLVM:          yes(3.6.0svn-mono-master/

[2016-05-28 00:03] rneatherway commented on #109
How did you install this version of Mono? Homebrew only has 4.2. I think this must be a Mono bug, I suggest filing it at https://bugzilla.xamarin.com/

[2016-05-28 07:12] babusri commented on #109
I installed xamarin, which would have installed mono.

[2016-05-28 11:14] rneatherway commented on #109
Are you on the Alpha/Beta channel? There are sometimes issues like this introduced with the unstable versions.

[2016-05-29 08:47] babusri commented on #109
Used "yo fsharp" to create proj file --- Stanalone Project/Console Application/use Paket/use FAKE.

I was using alpha channel. I switched to stable channel and the mono version is now 4.2.4. I created a new project. I get the same error. So it doesn't appear to be a mono issue. I switched back to alpha.

For now, I will be using Xamarin studio and will check back periodically if this issue has bee

[2016-05-29 18:36] rneatherway commented on #109
I can't reproduce this on OS X 10.11.5 with mono 4.2.3.4 (which is what Homebrew gives you). I can't really do anything about it. One thing to do would be to try invoking FsAutoComplete.exe on the command line and see if it happens outside Emacs. To load the project just type `project '/full/path/to/fsproj'` after running `fsautocomplete.exe`.

[2016-05-29 18:49] nosami commented on #109
I've seen this a few times on both stable and alpha versions of mono, but usually only after I've left emacs running overnight.

@babusri : what does the output of `ulimit` show? Sounds like it could be a problem with a setting that's too low.

Another thing that might be worth trying is setting `export MONO_MANAGED_WATCHER=disabled` in your `~/.bash_profile`. Note that on OSX, this setting will o

[2016-05-30 03:52] babusri commented on #109
@nosami : ulimit returns unlimited.
I added MONO_MANAGED_WATCHER and launched emacs from the terminal.
fsproj now loads without errors.
Thanks.

[2016-05-30 18:09] rneatherway commented on #109
Glad to hear it. I added a troubleshooting section: https://github.com/fsharp/FsAutoComplete/blob/master/README.md#troubleshooting

[2016-05-30 18:09] #109 closed, assigned to nobody

[2016-06-20 14:08] Krzysztof-Cieslak commented on #65
I haven't seen any problems since I've moved Core to fully async.

[2016-06-20 14:08] #65 closed, assigned to nobody

[2016-06-20 14:09] Krzysztof-Cieslak commented on #80
No similar problems for long time, I guess we've fixed it somewhere accidentally ;)

[2016-06-20 14:09] #80 closed, assigned to nobody

[2016-06-23 13:20] Krzysztof-Cieslak commented on #100
Please check https://github.com/ionide/ionide-vscode-fsharp/issues/78. @7sharp9 has already working version of CoreCLR compiled FSAC.

[2016-06-23 13:53] 7sharp9 commented on #100
@kjnilsson  Yeah it works, I have vscode running with dotnetcore

[2016-07-02 06:50] vasily-kirichenko opened #112 "FSharpCompilerServiceChecker is not used in many Commands"
![image](https://cloud.githubusercontent.com/assets/873919/16538911/54ca187a-403a-11e6-9a41-80457280a664.png)

Is it intentionally?

[2016-07-02 07:06] vasily-kirichenko opened #113 "`GetUsesOfSymbol` should narrow the scope it looks for symbol usage"
Here https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete.Core/CompilerServiceInterface.fs#L122

In VFPT we classify a symbol into three categories: local for current file, local for current project, solution wide. After that we do the following:
- for file local symbol: `ParseAndCheckFileInProject` -> `GetUsesOfSymbolInFileAtLocation`
- for project local symbol: `ParseAndCheckP

[2016-07-03 08:49] vasily-kirichenko commented on #112
Fixed in https://github.com/fsharp/FsAutoComplete/pull/114

[2016-07-03 08:49] #112 closed, assigned to nobody

[2016-07-10 18:00] alexpanter opened #118 "EntryPoint caused crash with auto-complete-mode (emacs fsharp-mode)"
Hi there,

I was (ab)using an entrypoint attribute in an F# script when auto complete crashed. I was writing in emacs using the fsharp-mode package.

MY CODE:
`#load "classes.fs"`
`[<EntryPoint>]`
`let main(param: string, params: string []) =`
`0`

THE BUFFER MESSAGE:
This expression was expected to have type
    string []
but here has type
    'a \* 'b
Unexpected internal error. Please report at

[2016-07-14 18:08] rneatherway commented on #118
I also saw this the first time I tried, but now I can't reproduce it. This code has changed a bit so I will try doing a rerelease with the latest FsAutoComplete and see if it still happens.

[2016-07-19 10:31] rneatherway commented on #118
OK, I've released a new version of fsharp-mode, which should be up on MELPA in a few hours. Please reopen this issue if it happens again.

[2016-07-19 10:31] #118 closed, assigned to nobody

[2016-07-21 21:35] Krzysztof-Cieslak opened #120 "Broken auto completion for integer literals"
"If I write (1). for it should show 4 members of System.Int32 but instead it shows all possible types."

Reported by @ReverseBlade in https://github.com/ionide/ionide-atom-fsharp/issues/234

[2016-07-25 10:46] rneatherway commented on #120
Please see the comment here: https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete.Suave/FsAutoComplete.Suave.fs#L59

If you wait a bit so that a reparse occurs and completes, then you should see just the 4 members. To be more sophisticated requires determining when to invalidate the results, or perhaps we can detect that FCS wasn't able to return useful results in a particular s

[2016-08-13 22:57] cloudRoutine opened #121 "FSAC cannot process valid fsproj files"
I believe this issue is due to the projectcracker

The file in question is [Ionide.FSharp.fsproj](https://github.com/ionide/ionide-vscode-fsharp/blob/master/src/Ionide.FSharp.fsproj)

when the fsharp targets path is resolved via

[code]

everything works fine, but change it to

[code]

it can no longer parse and resolve references properly.
MSBuild can evaluate this choose branch properly in Visua

[2016-08-22 02:54] Banashek commented on #105
OSX with mono 4.2.3 here, still experiencing the issue when using latest vim-fsharp with fsautocomplete 0.27.0

[2016-09-03 22:55] Banashek commented on #105
Anyone have any updates or workaround for this? I've been ignoring my macbook air heating up on my lap and contsantly killing mono-sgen, but it's starting to bring my productivity down. If there are any tests I can do other than checking the versions installed, please let me know.

[2016-09-03 23:43] blumu commented on #105
I'm hitting a similar issue on VSCode + Ionide running on Windows (not using mono) where the CPU usage goes up to 25%. The process explorer reveals that the issue comes from the ~~project cracker tool~~ `FsAutoComplete.Suave.exe`
![image](https://cloud.githubusercontent.com/assets/3913258/18228334/fa267ca0-71fe-11e6-9044-9a858a792538.png)

[2016-09-04 11:05] rneatherway commented on #105
I would love to get this sorted, but have never been able to reproduce locally. If any of you can attach the profiler (probably easiest using the VS sampling profiler: https://msdn.microsoft.com/en-us/library/ms182384.aspx) then that might help. I strongly suspect it is something in FCS, but we need to figure out exactly what is triggering it.

PS Welcome to a fellow Ong student @blumu!

[2016-09-14 01:34] Banashek commented on #105
So I have no problems with other files, but it seems like every suave project I work on has this problem. I also see `FsAutoComplete.Suave.exe` in @blumu 's pic.

Is there any information that I can collect on my mac to help out?

[2016-09-14 08:01] rneatherway commented on #105
I think there is a mono profiler as well, you could try using that.

[2016-09-24 09:45] Krzysztof-Cieslak opened #127 "Error Reporting for Incorrect #load and #r"
Reported in https://github.com/ionide/ionide-vscode-fsharp/issues/112

Looks like we only use errors reported by type check, ignoring errors from parseResult:

https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete.Core/Commands.fs#L31-L42

[2016-09-24 09:49] Krzysztof-Cieslak commented on #127
How it's fixed in MD/XS: https://github.com/fsharp/xamarin-monodevelop-fsharp-addin/blob/108e0d2ea6980af775b821d55e1e2c218c253070/MonoDevelop.FSharpBinding/Services/LanguageService.fs#L153-L161

[2016-09-24 22:28] rneatherway commented on #127
Good catch, I'll take a look at that.

[2016-09-24 22:35] vilinski commented on #127
No clue how to test, but it seems to be easy as that:

[code]

[2016-09-25 17:21] rneatherway commented on #127
Hey guys, I've tested the behaviour using FCS directly and we get the correct errors from the typechecking results there (not the parse results), so it seems like there must be a mistake in the way FSAC uses the API. I am looking into what goes wrong.

[2016-10-06 10:08] deapsquatter commented on #105
Added a video of my experience with ionide. The video shows extremely long processing times for new code. Adding a simple function can take minutes to clear. VS Code was started fresh for the video. See mono-sgen CPU utilization in task window.
[Youtube - ionide performance issue HD](https://www.youtube.com/watch?v=RHNFVLeacRk&feature=youtu.be)

[2016-10-06 14:34] deapsquatter commented on #105
I managed to profile FsAutoComplete.Suave.exe using the mono profiler [mono-profiler-output.txt](https://www.dropbox.com/s/ljee776p9koxjtt/mono-profiler-output.txt.zip?dl=0). I profiled a session lasting about 2 minutes where an edit to a .fs file in VS Code on Mac OS sent my CPU into a spin. Hoping someone can spot something in this profiler output. [Documentation for Mono Profiler.](http://www.m

[2016-10-06 20:49] dsyme commented on #105
Interesting log. Random snippet:

[code]

[2016-10-06 20:54] dsyme commented on #105
The number of thread pool workers looks very suspicious - I don't know the async architecture, but it may be that asyncs are flooding the  thread pool queue through lots of (uncancelled or uncancellable) requests.  If FsAutoComplete supports async requests that represents a major risk.  You have to make sure that requests for information (where the request is in the work queue and the information

[2016-10-10 22:31] rneatherway commented on #105
@dsyme good observation, that clearly looks bad. There was a refactoring and now all the commands are handled in `async` blocks, but I can't see why the number of active threads would be growing so much, unless the editor is really sending such a large number of requests. Is it possible to correlate this high CPU activity with requests in the vscode log?

@Krzysztof-Cieslak how often does your vsc

[2016-10-11 08:54] dsyme commented on #105
@rneatherway I took a quick look at the code and it seems that you use RunImmediately from the .exe command line tool.  But the Suave access point may do everything async.  It feels like Suave requests will need to reply with a numeric token that can then be used for a later cancellation.

Perhaps you were previously relying on HTTP/TCP web request throttling (with basically one-by-one synchronous

[2016-10-11 09:21] kjnilsson commented on #105
Just a note to say I've had the same issues in the vim plugin that doesn't
use the http api. Instead it appears related to the project referencing
graph. I did some profiling in the past. Will see if I can still reproduce.
On Tue, 11 Oct 2016 at 09:54, Don Syme notifications@github.com wrote:

[2016-10-11 09:25] Krzysztof-Cieslak commented on #105
I think we can have 2 separate issues - project cracker (?) behavior with graph dependency of projects ( described in 1st post of this thread), and - Ionide flooding FSAC.Suave with too many requests (as described by @dsyme ).

[2016-10-11 10:53] rneatherway commented on #121
This is an issue with FCS rather than FSAC, not a lot we can do here.

[2016-10-11 10:53] #121 closed, assigned to nobody

[2016-10-11 10:53] rneatherway commented on #107
This is an FCS issue, not a lot we can do in this repository.

[2016-10-11 10:53] #107 closed, assigned to nobody

[2016-10-11 10:56] rneatherway opened #128 "Heavy CPU usage caused by many async requests"
Splitting this issue out from #105.

@dsyme:

@rneatherway:

[2016-10-11 10:57] rneatherway commented on #105
I agree, we should have two separate issues. I've opened #128 to cover the async flooding issue, so let's discuss that one over there. I definitely like the idea of keeping cancellation tokens. How about using them to cancel requests if the same command is issued for the same file?

[2016-10-11 10:57] rneatherway commented on #105
@kjnilsson that would be great if you can reproduce I will then try with vim-fsharp and the same project as well.

[2016-10-11 21:33] dsyme commented on #128
Best to rely on FCS caching (i.e. quick responses) to handle this (canceling would indicate the request had failed)

[2016-10-12 01:25] blumu commented on #105
I'm not sure if it helps but here is a perf trace that I captured some time ago showing ProjectCrackerTool running hot when using VSCode+Ionide.
![image](https://cloud.githubusercontent.com/assets/3913258/19294299/0ef8deee-8fe0-11e6-82ea-12126927ad93.png)

[ProjectCrackerTools Perf trace - Report160905.zip](https://github.com/fsharp/FsAutoComplete/files/523291/ProjectCrackerTools.Perf.trace.-.Repo

[2016-10-14 17:09] Tombert opened #131 "Not finding record properties in Emacs or Atom"
In this example, when I try doing

[code]

I don't get any autocomplete suggestion for `Bar` or `Baz` in either Atom, VS Code, or Emacs when I was defining `Empty`.  This _does_ work with vanilla Visual Studio, leading me to believe that it's either a bug in `fsautocomplete` or the implementations.

Is this the result of these plugins just not sending the correct flags to `fsautocomplete` or is it

[2016-10-15 23:39] rneatherway commented on #131
Hi @Tombert, I think this is an issue with `fsautocomplete` itself. It's an interesting one, I can't see immediately why there would be a problem here. I do notice that this works fine interacting with a record in the usual way e.g:

[code]

The only thing that springs to mind as a possible candidate is `Program.fs:48`, where a reparse is required in the case of typed expressions e.g. `(f x).$` ($

[2016-10-17 13:26] Tombert commented on #131
@rneatherway I should amend my snippet for `Empty` to this:

[code]

so that I may have a way to generate an empty base-instance of a type.

Regardless, the autocomplete doesn't work, and looking at the line you cited, it appears that there's a `TODO` for what you mentioned.  How hard would a reparse be? Would that be too expensive to just add in?

[2016-10-17 13:53] rneatherway commented on #131
After further thought, I think it is correct that no completions are offered here. I don't think it makes sense to offer completions for a field name, after all it isn't possible to call `ToString()` on the field name, only on a _value_ of that field. I get completions perfectly in a non-static method (see `ToUpper()` below):

[code]

The reparse would be useful in other cases, but it is a case of

[2016-10-17 14:40] Tombert commented on #131
@rneatherway That's fair enough, I'm mostly curious now to why it works that way in vanilla VS.

Since `Foo` is a kind of contrived example, I realize it's not abundantly obvious why I would care about this feature; I have a type with around 30 properties, so the autocomplete in `Empty` would be useful to prevent me from a) typing a lot cuz I'm lazy and b) offset my incompetence and prevent typos.

[2016-10-18 09:19] rneatherway commented on #131
Actually, I think I am wrong after all, sorry. I thought you wanted autocompletions of `Foo.Bar.$` (like ToCharArray, ToString, etc.), but you actually want completions of `Foo.$`. I absolutely think that the field names should be offered here. I have in fact verified that FCS returns the correct completions if called in isolation:

[code]

So I'll dig a bit more into the FSAC calls to make sure t

[2016-10-19 14:25] Tombert commented on #131
@rneatherway It appears that it works ok with the first field name, but if you do any more than one, all it offers are the methods, not the properties.

[2016-10-19 14:29] rneatherway commented on #131
How are you testing now? Emacs/VsCode?

[2016-10-19 14:31] Tombert commented on #131
I'm using Atom for testing this out with the Ionide plugin.

[2016-10-20 13:53] rneatherway commented on #131
I confirm the behaviour in FSAC. I find it confusing that repeated requests yield different results. Perhaps it is related to some caching.

[2016-10-20 15:04] Tombert commented on #131
I'd be happy to help fix it somehow, if I had any intuition on how to do so; what would be a good place to start looking?

[2016-10-21 21:28] rneatherway commented on #131
To be honest it will be quite involved to do so. However, if you are feeling brave, I started investigating by creating a new small integration test based on one of the existing ones, with a single script file, and sending completion requests from there. You can run the integration tests from the command line with FAKE (e.g. `./build.sh test`). The output.json file created in the test directory co

[2016-10-27 19:38] vasily-kirichenko opened #133 "FSharpLint throws exception"
![image](https://cloud.githubusercontent.com/assets/873919/19782311/f62b7f3a-9c95-11e6-8d27-e8a3bdfa56a0.png)

[2016-10-27 19:49] Krzysztof-Cieslak commented on #133
CC: @duckmatt

[2016-10-27 21:05] duckmatt commented on #133
I'll take a look into it. Probably due to the version of the linter being built against a diff FCS version

On 27 Oct 2016 8:49 p.m., Krzysztof Cieślak notifications@github.com wrote:

CC: @duckmatthttps://github.com/duckmatt

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/fsharp/FsAutoComplete/issues/133#issuecomment-25675003

[2016-10-28 17:57] vasily-kirichenko commented on #133
Fixed in https://github.com/ionide/FsAutoComplete/pull/27

[2016-10-28 17:57] #133 closed, assigned to nobody

[2016-10-29 15:53] kjnilsson opened #136 "Any chance of a new release soon?"
It seems the project.json support doesn't work with 0.29. I could change the vim-fsharp makefile to build from git instead but ideally I'd like to avoid it.

Cheers

[2016-10-29 22:32] rneatherway commented on #136
Yes! Planning to do one Sunday.

On 29 Oct 2016 4:53 p.m., "Karl Nilsson" notifications@github.com wrote:

[2016-10-30 23:26] rneatherway commented on #136
Now available: https://github.com/fsharp/FsAutoComplete/releases/tag/0.30.0

[2016-10-30 23:26] #136 closed, assigned to nobody

[2016-10-31 09:04] kjnilsson commented on #136
Thanks Robin!

[2016-10-31 16:52] rneatherway commented on #127
Fixed by #135

[2016-10-31 16:53] #127 closed, assigned to nobody

[2016-11-03 12:07] kjnilsson commented on #105
FWIW - I just tried it with the [test project](https://github.com/kjnilsson/fsac_issue_105) I previously used to reproduce and was no longer able to (fsac 0.30).

[2016-11-27 20:12] enricosada opened #137 "Support msbuild version 15 fsproj format"
The .net core sdk preview3 (and soon the preview4) use msbuild 15

Some new features:

- `PackageReference` => first class support for nuget (from preview3)
- `Version` as attribute (from preview4)
- additional sdk from nuget packages, like F# from `FSharp.NET.Sdk`
- Conditionals in `PropertyGroup`/`ItemGroup`
- multiple target framework `TargetFrameworks`

the msbuild can also be run as `dotnet m

[2016-12-06 12:40] Thorium opened #138 "Intellisense doesn't work on double-tick discriminated union types"
Double-ticked variable names are pretty useful when you want to model complex domain.

However, autocomplete don't work on double-ticked discriminated union options. This makes using them quite painful.

Example:
[code]

Tested on VS Code and Ionide.

[2016-12-13 20:34] Krzysztof-Cieslak commented on #108
Added in one of those huge Ionide PRs

[2016-12-13 20:34] #108 closed, assigned to nobody

[2017-01-13 18:12] mushed-dev commented on #128
I am assuming this is the same issue but many minutes after changing a file my cpu is still pegged at 30% usage.

[2017-02-16 02:53] enricosada commented on #100
As a note, now is easier with .NET Core Sdk rc4 to add .net core support than previously with project.json

ref https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-rc4

- fsprj based, no more project.json
- fsharp.core v4.1.0 pkg support netstandard
- side by side with old fsproj, can share props files too (compiler define?)

[2017-02-17 10:58] kjnilsson commented on #137
seems like in RC4 there are no longer any .rsp files generated which breaks parsing.

[2017-02-17 11:20] enricosada commented on #137
I know. that's because now we are completly msbuild, so using old `FscTask` from `FSharp.Build.dll`, like old fsproj! that's good (lots of bug fixed, same codebase, etc) but i dont have yet the compiler args :D
Old fsproj had the need of projectcracker to guess compiler args, but we can fix that.

I'll restore response file support asap, but a bit better (no hardcoded name) 😄 . Sorry but i had to

[2017-03-03 21:45] Korbin73 commented on #100
@7sharp9 Have you trying running it against .NET-Core-SDK-rc4 yet? Particularly with aspnetcore?

[2017-03-03 23:10] enricosada commented on #100
@Korbin73 yes works, see https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-rc4#ide-support for info about rc4. Aspnet works, is just a console app

[2017-03-04 01:05] Korbin73 commented on #100
Thanks for the help @enricosada. Unfortunately, after making the changes to fsproj listed in the section for ide support, the results were still the same [https://gist.github.com/Korbin73/c00fd24bcc6eefa964398e012eb41dca](fsproject_gist)
![screenshot from 2017-03-02 19-29-37](https://cloud.githubusercontent.com/assets/885138/23574423/7f25684c-003b-11e7-8ff0-1d82e04d850b.png)

[2017-03-17 23:16] enricosada commented on #137
proposed implementation in https://github.com/ionide/FsAutoComplete/pull/55 with more info in  issue https://github.com/fsharp/FSharp.Compiler.Service/issues/705#issuecomment-287493551

[2017-03-19 22:30] enricosada commented on #137
Ok, as a note, Ionide 2.25.1 for VSCode, merged https://github.com/ionide/FsAutoComplete/pull/55

result is ok atm

![recf-ionide2](https://cloud.githubusercontent.com/assets/147243/24085413/e31a3fcc-0cfb-11e7-8c70-6a59b751b778.gif)

I'll close this after the merge the ionide fork

[2017-03-19 22:32] xperiandri opened #152 "Language services issues with whitespaces in paths using .net core sdk"
Tried in VS Code with Ionide 2.52.2
Actions:
1. dotnet new console -lang f#
2. dotnet restore
Results:
1. test1.fsproj works
2. test 2.fsproj does not work

@enricosada confirms, that the problem is here.

[2017-03-20 10:30] rneatherway commented on #137
That is great, thanks for the update.

[2017-03-20 10:35] enricosada commented on #137
@rneatherway it should be already ok for emac/vim, but feel free to ping me if you think i can help with.

[2017-03-20 11:28] rneatherway commented on #137
I will give it a try and look at adding a test once the PR back from Ionide arrives? @Krzysztof-Cieslak any reason not to do the dev work here? I can make you an admin on this repository so there's no need to wait for me to review PRs.

@enricosada if you have a small example fsproj to attach here that would be great and I will use that for the test.

[2017-03-20 11:38] enricosada commented on #137
@rneatherway the `dotnet new console -lang f#` or lib is ok

But creating meaningful examples is repetitive, so I create a samples repo with a more complex case ready to use
https://github.com/enricosada/DotnetNewFsprojTestingSamples
The sample1 has project2project ref, console and lib, and external packagereference, see readme.md

[2017-03-20 20:28] rneatherway commented on #152
Hi @xperiandri, I do not think I can look at this yet until the new MSBuild support is merged into this repo. @enricosada can you provide more context?

[2017-03-21 22:04] xperiandri commented on #152
I checked different cases with spaces dots and Unicode characters and the issue only occurs if path to `.fs` file contains spaces.

[2017-03-27 16:29] Krzysztof-Cieslak commented on #137
@rneatherway, no there is no reason to not work here.

If you want we can move everything here, at least will make issue management, and discussing easier.

[2017-03-27 17:43] rneatherway commented on #137
Great, if you are happy with that, it would certainly make things easier for me. You are clearly the more active developer at this point, so you can just keep working as you have over on the Ionide fork, and it would make it really easy for me to make releases of the cmd-line/pipe version.

[2017-03-28 10:05] enricosada commented on #137
so, missing is merging ionide's fork progress there?

[2017-04-03 12:09] enricosada commented on #152
@rneatherway the bug is in the code of the #153 pr, i'll fix after that is merged (need to quote args sigh).

@xperiandri can you change the title as "Language services issues with whitespaces in paths using .net core sdk" (i am not admin there)

afaik issue are if:

1. fsproj path contains blanks
2. windows username contains blanks (because temp path will contains spaces)
3. temp path contains bl

[2017-04-07 13:53] nicholas-peterson opened #156 "FsAutoComplete used with Type Providers"
I often use type providers like SQLProvider and DynamicsCRMProvider. It seems like when I point these type providers at a target (even locally), Visual Studio is able to almost instantly start providing intellisense, but if I switch over to emacs/ionide it often takes ages (as in 'hit period and let it sit for 20 minutes'). Is this a known issue or do I possibly have something fishy going on? I mo

[2017-04-08 23:35] rneatherway commented on #156
I have used type providers successfully in the past, mainly simple ones such as CSV, JSON and World Bank. Have you had the same problem with any of those? If using emacs you can get a more detailed log, which may be interesting, see instructions at https://github.com/fsharp/emacs-fsharp-mode/#fsharp-ac-debug. For ionide I think something similar is possible, but I am not sure how.

[2017-04-12 23:04] enricosada commented on #152
ref issue in library https://github.com/enricosada/dotnet-proj-info/issues/2

[2017-04-13 13:01] #152 closed, assigned to nobody

[2017-04-13 14:08] enricosada commented on #137
closing, now is supported after ionide changes are merged

[2017-04-13 14:08] #137 closed, assigned to nobody

[2017-04-14 06:12] #96 closed, assigned to nobody

[2017-04-14 12:45] rneatherway commented on #137
OK, I have given you both write access here, and the tests now pass again :-D, so we have a good starting point.

[2017-04-18 21:14] enricosada opened #161 "Improve parsing of fproj project (new sdk)"
Current implementation for new sdk (the .net core sdk), starts reading from an fsproj project file and from there traverse the project references to parse and discover more projects.

From each project, to get fsc args and project references, msbuild is called as process.

Some possibile improvements (from easier to harder):

- cache already parsed projects (if A ref B, and C ref B, than B should

[2017-04-24 21:48] enricosada opened #162 "Try infer current target framework, if multiple target frameworks (crossgen)"
If fsproj use

[code]

can build both target frameworks.

But because fsc args (used to initialize FCS) are framework specific, we need to choose one, if the FSAC client doesnt choose a preference.
Is alike of preference about `Debug` for `Configuration`

I think using the first `netstandard*` or `netcoreapp*` will be ok.

[2017-04-25 07:21] rneatherway commented on #162
How does VS handle this? In 'classic' fsproj this info was in the solution file.

[2017-04-25 18:36] enricosada commented on #162
@rneatherway it doesnt atm afaik, where is saved in VS?

I think each client (ionide/vim/emacs) should choose that info (alike Configuration) and save it, in their preferred way (editor temp file? dunno).

This is just to track a workaround to move forward if no preference is choosen (another thing to add in FSAC).
atm nothing works, but we should choose a sensible default (like we default to `Deb

[2017-04-27 17:11] rneatherway commented on #162
That's what I was asking you :-). AFAIK VS used to save this in the solution file.

[2017-04-27 17:21] enricosada commented on #162
no clue, probably is in the `.vs` or in a `.suo`. But wil old fsproj/csproj was based on a `Configuration`, so define -> enable. afaik.

Anyway i changed a bit my mind.
I think is better to be deterministic instead of clever, so i think is better to **use always the first framework listed**, so at least dev can choose there for now (and msbuild doesnt care about ordering)

[2017-04-27 17:25] rneatherway commented on #162
Yes, I think that's very sensible.

[2017-05-04 17:42] nicholas-peterson commented on #156
I pointed the SQLProvider at a database on my network, made sure it was working, then reopened emacs and retriggered completion on one of the values.
`1493918694.9747095: completion "c:/folder/subfolder/DB.fs" "            for d in ctx.Dbo." 27 33 400 filter=StartsWith
1493918695.4215484: Received 'info' message of length 2
1493918695.4220555: Received 'errors' message of length 2
1493918725.67397

[2017-05-04 18:01] rneatherway commented on #156
If you can share a small fsx then I will try to reproduce this locally, calling FSAC directly on the command line. That might start to help work out if it is the compiler services or the way we are using them.

[2017-06-09 14:29] enricosada opened #165 "Support new new sdk (RFC FS-1032)"
The `FSharp.NET.Sdk` is now deprecated in favor of `Microsoft.NET.Sdk`, ref https://github.com/fsharp/fslang-design/blob/master/RFCs/FS-1032-fsharp-in-dotnet-sdk.md

How to test it:

- download a dev build of [dotnet/cli in branch release/2.0.0](https://github.com/dotnet/cli/tree/release/2.0.0). tested with `2.0.0-preview2-006391`
- usual `dotnet new console -lang f#` etc..

There is little differ

[2017-06-10 02:14] #165 closed, assigned to enricosada

[2017-06-10 02:31] enricosada commented on #165
@Krzysztof-Cieslak @rneatherway @kjnilsson if possibile can you update editors to use this FSAC https://github.com/fsharp/FsAutoComplete/commit/6de0fdb638bdccfd079b0e29ea36cf1eaa85bc8e  (no rush :D), will be really good for testing .net core sdk 2.0 (and that mean next VS 2017 sdk too).

everything should work like with 1.0, both are supported (it's pratically the same :D)

/cc @dsyme @alfonsogarc

[2017-06-10 10:15] rneatherway commented on #165
Yes I'll definitely take a look when I'm back on Tuesday.

On 10 Jun 2017 4:31 a.m., "Enrico Sada" <notifications@github.com> wrote:

[2017-06-13 15:01] enricosada commented on #165
Added a 1.0 vs 2.0 summary in https://github.com/dotnet/netcorecli-fsc/wiki/How-to-migrate-1.0-projects-to-2.0#summary-of-changes-from-10-to-20

[2017-06-15 12:13] rneatherway commented on #56
Closed by #170

[2017-06-15 12:13] #56 closed, assigned to nobody

[2017-06-15 15:52] enricosada opened #171 "mixed lang f# and c# doesnt work (new sdk)"
with new sdk (both 1.0 and 2.0)

issue parsing of project files from deps it should not do csproj, just fsproj.
For csproj is enough to gather the output dll path as info, maybe

[2017-06-19 15:27] #162 closed, assigned to nobody

[2017-06-28 08:07] kjnilsson commented on #100
This issue is from my POV complete. Yes there is more work needed to cover the influx of changes in dotnet core support but right now it works. Re-open if you disagree.

[2017-06-28 08:07] #100 closed, assigned to nobody

[2017-06-29 09:05] Krzysztof-Cieslak opened #176 "MsBuild madness"
Looks like it's windows only issue, mono as always works better.

So at the moment, FSAC doesn't work if MsBuild 14 is not installed - what's kinda annoying for users . Main 2 problems are:
* if someone has just VS 2017 installed [that installs MsBuild 15]  they need to install MsBuild 14 additionally;
* MsBuild 15 is also latest version available using `chocho` so it forces users to provide speci

[2017-06-29 09:41] rneatherway commented on #176
If this is possible, I think this is the best way to go, focusing on one method.

You are right, it is the ProjectCracker. The dependency is a compile-time one (https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/FSharp.Compiler.Service.ProjectCrackerTool/FSharp.Compiler.Service.ProjectCrackerTool.fsproj#L55). We could update it to link against MSBuild 15 and then try to use 1

[2017-06-29 11:16] dsyme commented on #176
As context:
* Mono still ships with its MSBuild 14 implementation (xbuild) integrated. One distant day they will remove it, they already warn about it when you run xbuild from the command line in Mono 5.0. However I suspect that MSBuild 14 and xbuild won't actually go away from Mono for a long time.  This is one reason why MSBuild 14 is not such a bad dependency to choose - it gives a zero-install

[2017-06-29 15:06] enricosada opened #177 "Kill zombies subprocess, if fsaautocomplete.suave is killed"
Scenario:

project parsing phase (who run `dotnet.exe` atm) and kill fsac.suave

![image](https://user-images.githubusercontent.com/147243/27694670-0376cc7c-5ced-11e7-9caa-1b7289506033.png)

result is zombie processes

![image](https://user-images.githubusercontent.com/147243/27694687-14bd95a6-5ced-11e7-801c-496698e399a3.png)

not that bad, because these will finish sooner or later, but still

os:

[2017-06-29 22:54] enricosada opened #179 "ci test failure `DotNetSdk2.0Crossgen/Runner.fsx`"
the test `DotNetSdk2.0Crossgen/Runner.fsx` fails.
was working on previous `2.0.0-preview2`, and with `1.0` crossgen works.

[2017-06-30 07:55] #171 closed, assigned to nobody

[2017-07-04 16:33] enricosada opened #180 "lib targeting `netstandard2.0` parse ok but intellisense fails"
repro:

Using sdk 2.0.0-preview2

[code]

the `build` is ok (bugfix is already in), but FCS is not

Fixed in compiler with https://github.com/Microsoft/visualfsharp/pull/3215

need to refresh FCS (after that bugfix is merged)

/cc @ninofloris

[2017-07-04 23:42] enricosada opened #181 "add a `workspace-peek` command"
Scenario:

An editor open a directory (usually), and now need to know what's interesting inside, and that mean fsproj and sln files, to start.

This is a lot more important in new `dotnet/sdk`, because:

- restore. if not restored, a `dotnet restore` command should be run. ideally from a sln instead of multiple times. but if a root project exists, is ok too. But is not easy to know, but user does.

[2017-07-05 08:57] Krzysztof-Cieslak commented on #181
👍 for fast and inaccurate version, Ionide definitely needs it, right now initialization strategy is bit random, what was result of some limitations on Code side, and this would let us to make it nicer- especially that latest Code includes better `workspaceContains` activation event.

[2017-07-05 09:40] Krzysztof-Cieslak opened #182 "Persistent caching of project data"
One of the problem we have right now in Ionide is slow initialization process - what is caused by rather slow process of cracking projects. It's especially visible on the bigger solutions (20,30,40 or more projects).

I think one of the way to make this better and faster would be introducing persistent caching for the parsed project data - we could just save them to disk and use on next start if p

[2017-07-05 10:18] enricosada commented on #182
Multiple stuff, bug depends:

### caching

No, i think is wrong on vscode side.

the `project` is cached **after** parsing is completed. that works
what doesnt work (race condition), is multuiple `project` request, when the first is not yet cached (multiple parallel `project` can start the parsing, if the first is not yet done)

In FSAC side, is hard. should FSAC just error out the next requests a

[2017-07-05 10:21] nosami commented on #182
push is a thing with the stdio transport layer

[2017-07-05 10:24] enricosada commented on #182
@nosami good, no blocker there so. We need a way just in the http transport layer so.
cc @ademar @haf for ideas about how to implement a push notification in suave for FSAC.

[2017-07-05 10:28] nosami commented on #182
Even if Ionide wants to stay with HTTP for other things, it could still listen to stdio for certain events.

[2017-07-05 11:11] Krzysztof-Cieslak commented on #182
1. We do already "cache" the data I'm talking about - we do have application state that's used to store project data. I would just want to store and reuse this state if FSAC is closed and open later. The problem is that in most cases we just refresh the FSAC state in background when needed so user don't really notice it, the problem is initialization where users just needs to wait to get fully fun

[2017-07-05 21:46] rneatherway commented on #181
Seems like a very good idea to me.

[2017-07-06 16:29] dsyme commented on #180
@enricosada There's [a nasty integration to complete from fsharp --> FSharp.Compiler.Service](https://github.com/fsharp/FSharp.Compiler.Service/pull/787).  After that, this is easy

[2017-07-06 17:00] enricosada commented on #180
sigh. there is a scoreboard for `single repo` vs `separated`? dunno what options is winning atm 😭
thx a lot @dsyme for these continued alignment.

[2017-07-06 20:29] dsyme commented on #180
yeah I know.  I can really see the argument for maintaining independence though

[2017-07-07 08:11] enricosada commented on #180
yes, i try to reconsider side from time to time too, but atm i am strongly on `maintaining independence` side (but just because you lose lot of time doing alignment, i know is taxing)

[2017-07-07 10:51] enricosada opened #183 "Upgrade FCS"
after fix for https://github.com/fsharp/FsAutoComplete/issues/180 is released

[2017-07-07 14:51] dsyme commented on #180
I wish we could automate this more easily

[2017-07-13 23:24] Disco-Dave commented on #105
Hey I'm experiencing similar issues. I'm using mono version 5.0.0 and linux kernel 4.11.9-1. I experience this primarily with the fsharp/vim-fsharp plugin. Ionide seems to works fine.

[Here is a picture of htop showing fsautocomplete going crazy](https://imgur.com/HBigT8H)

Please let me know of any additional information I can provide to help :)

[2017-07-14 15:20] fsoikin opened #184 "Build fails due to missing VisualStudioVersion"
This is more of a question (so far) than an issue report: I know why the build fails, but I'm not sure whether it was made so intentionally.

* The `fsproj` file [depends on the `VisualStudioVersion` variable](https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete/FsAutoComplete.fsproj#L42) to import `Microsoft.FSharp.targets` from the right location, but that variable is not defi

[2017-07-17 14:20] rneatherway commented on #184
What environment are you trying to build in? Historically Mono has installed under that path (`.../v/...`) to accommodate the lack of `VisualStudioVersion`, while if you compile in VS on Windows then you get that variable defined.

[2017-07-17 15:21] fsoikin commented on #184
I compile from command line on Windows.

[2017-07-17 16:09] rneatherway commented on #184
Not in a VS command prompt I take it?

These project files are just very old, I think what VS2012 generated. Updating them to work in more situations would be great.

[2017-07-17 16:45] fsoikin commented on #184
No, not a "VS command prompt".
I am actually building Ionide, and Paket started building FSAC for me.
See the linked Paket case above.

[2017-07-20 18:55] enricosada opened #188 "watch for `project.assets.json` changes"
if `project.assets.json` is changed:

- invalidate project info.
- notify consumer that project info are updated.

[2017-07-20 18:57] Krzysztof-Cieslak commented on #188
Fixed as part of #186

[2017-07-20 19:04] enricosada commented on #188
@Krzysztof-Cieslak ah good, i missed that commit (busy at work this week)

[2017-07-20 19:05] enricosada commented on #188
reopening, until is merged

[2017-07-28 21:39] #66 closed, assigned to nobody

[2017-08-03 15:06] NinoFloris commented on #183
pinging you, could you upgrade fcs? most of aspnet/microsoft.extensions ecosystem is moving to 2.0 so we're a bit stuck

[2017-08-07 13:57] enricosada opened #192 "add a `workspace-load` command"
Atm FSAC works as project based, but that constrain a lot the initialization, and the logic must be inside clients (vim/emacs/vscode).
That logic can be complex, but usually scenario are just few ( project/script/sln/directory ).
Also the logic can include some workflow with interaction with user/config/default , to allow better UX

With #181 (`workspace-peek`) FSAC now has lot more info about the

[2017-08-07 14:01] enricosada opened #193 "add push event for http based"
The http layet atm doesnt support send messages from FSAC to client (push), it just response to single command (pull).

NOTE: The `stdio` based already support that, by design

Example scenario:

- send message from fsac to client
- background job
- lazy initialization of workspace
- fsac side events (fsac watch if project is changed, and tell client)

How to:

Afaik, in the `http` based can be do

[2017-08-07 14:03] enricosada commented on #182
opened https://github.com/fsharp/FsAutoComplete/issues/192 ( workspace initialization ) and https://github.com/fsharp/FsAutoComplete/issues/193 (push for http based)

[2017-08-07 14:31] enricosada commented on #193
/cc @ademar @haf for info about what are the option in suave

[2017-08-08 08:22] haf commented on #193
The IMO easiest option is to use EventSource, https://github.com/SuaveIO/suave/blob/master/examples/Example/Program.fs#L176-L183 but we also have WebSocket support https://github.com/SuaveIO/suave/blob/master/examples/WebSocket/Program.fs#L24 if you wish to go binary. Alternatively you can let the async socket monad just wait till it gets values that are to be sent to the client, similar to how Ev

[2017-08-16 16:25] #182 closed, assigned to nobody

[2017-08-18 10:27] jlewicki commented on #183
Another friendly ping.  Users (well me at least) wanting to try out .net core 2 with VS Code appear to be getting bit by this.

[2017-08-23 18:44] dsyme commented on #180
SHould be fixed in FCS 14.0.1

There may have been significant changes in the FCS API in 14.0.1 - please check and let me know if upgrading FsAutoCOmplete.exe goes ok https://github.com/fsharp/FSharp.Compiler.Service/issues/792

[2017-08-23 19:56] Krzysztof-Cieslak commented on #179
`DotNetCoreCrossgenWithNetFx` is also failing on latest builds, I wonder if it's same issue.

[2017-08-24 21:15] Krzysztof-Cieslak commented on #180
@dsyme, has anything important changed about `GetDeclarationListInfo` (maybe 1-based vs 0-based indexing ?) It's the only thing that completely fails FSAC test suite after upgrading to new FCS

[2017-08-25 11:23] dsyme commented on #183
@enricosada @rneatherway @Krzysztof-Cieslak @ncave FCS 14.0.2 is now available

[2017-08-25 11:28] dsyme commented on #180
@Krzysztof-Cieslak Not that I know of, but there have been quite a few changes.  We removed the ``Alternate`` from some names for example

What's the failure?  It's possible it's a fix not a failure.  Or it's possible it's a freshly introduced mistake

The Visual F# Tools do use this method [here](https://github.com/Microsoft/visualfsharp/blob/3bdbb8b209d7e5566d4165964b55fdd5911d94c6/vsintegration

[2017-08-25 11:29] dsyme commented on #180
@Krzysztof-Cieslak If you could submit a PR I could take a look at the failure logs

[2017-08-25 11:42] Krzysztof-Cieslak commented on #180
@dsyme, I've already found an issue - it's breaking change in tokenizer (`FSharpTokenColorKind` of `.` used to be `Operator` and it has changed ) which resulted in Lexer going crazy and passing wrong long ident table to the `GetDeclarationListInfo`.

[2017-08-25 11:43] Krzysztof-Cieslak commented on #180
The PR is here - https://github.com/fsharp/FsAutoComplete/pull/196, there are still some failing tests but those are rather minimal changes, everything seems to work OK

[2017-08-29 10:48] enricosada commented on #183
thx @dsyme , ongoing in https://github.com/fsharp/FsAutoComplete/pull/196

[2017-08-29 14:53] enricosada opened #198 "project cache test `ProjectCache` fails on appveyor"
the test `test/FsAutoComplete.IntegrationTests/ProjectCache/Runner.fsx` fails on appveyor

It's skipped atm

[2017-08-30 13:36] #184 closed, assigned to nobody

[2017-08-30 13:36] #179 closed, assigned to nobody

[2017-08-30 13:37] enricosada commented on #184
fixed normalizing fsproj to vs 2013 format

[2017-08-30 13:40] enricosada commented on #179
@Krzysztof-Cieslak the `DotNetCoreCrossgenWithNetFx` was because of a minor change between patch version of .net core sdk (was a legit bugfix)

Fixed also that (checked with VS 2017 behaviour using csproj)

Now both .net core sdk 1.0 and 2.0 are pinned, so test are less fragile

[2017-08-30 23:13] enricosada commented on #181
implemented with #191

[2017-08-30 23:13] #181 closed, assigned to nobody

[2017-09-03 06:43] nightroman opened #202 "Possibly incorrect `isOperator` in Lexer.fs (or the code that uses it in cases with DOT)"
Case:

[code]

Let's see how Lexer `getSymbol` works for the last line. It calls
`tokenizeLine` which gives 3 tokens. The second token representing `.` is:

        CharClass   Delimiter   Microsoft.FSharp.Compiler.SourceCodeServices.FSharpTokenCharKind
        ColorClass  Punctuation Microsoft.FSharp.Compiler.SourceCodeServices.FSharpTokenColorKind
        FSharpTokenTriggerClass MemberSelect

[2017-09-03 06:49] nightroman commented on #202
Got it.
I am using FCS 14.02. The issue looks fixed in this PR
https://github.com/fsharp/FsAutoComplete/pull/196/commits/bc8d719bf4dd62695c8fdceb8fc95e495e45e118

[2017-09-03 06:49] #202 closed, assigned to nobody

[2017-09-04 12:35] enricosada opened #203 "ProjectCracker expection should make the `project` command error"
an example is https://github.com/fsharp/FSharp.Compiler.Service/issues/795

[code]

A NRE should not return a `project` response like that. should error out.
Annoying also because the `Log` field is not always shown to user

[2017-09-04 17:11] janpop2017 opened #204 "Loading a simple fsx file: Unexpected internal error."
My SW is
Windows 10 Home,   version:  1702,   build:  15063.540  (64 bit)
GNU Emacs 25.2.1 (x86_64-w64-mingw32) of 2017-04-24
fsharp-mode :   20170617.1330

Unexpected internal error. Please report at https://github.com/fsharp/FsAutoComplete/issues, attaching the exception information:
System.IO.DirectoryNotFoundException: En del af stien ’C:\Program Files (x86)\Reference Assemblies\Microsoft\Fram

[2017-09-04 19:16] enricosada opened #205 "Linter crash FSAC"
Moved from https://github.com/ionide/ionide-vscode-fsharp/issues/519#issuecomment-327014927

From @zstone1 :

Still broken in an `.fsx` file. The following is fatal:
[code]
As before, the first line works fine, but by the time I finish writing the second line it crashes. It gives the same `{lint} ERROR`.

`mono --version` tells me 5.0.1.1, and `dotnet --version` tells me 1.0.4

[2017-09-04 19:19] enricosada commented on #205
/cc @duckmatt

[2017-09-04 19:33] enricosada commented on #204
I can repro sort of.

the `System.IO.Directory.EnumerateDirectories` throw if the directory doesnt exists.

[2017-09-04 19:35] Krzysztof-Cieslak commented on #204
I love partial methods throwing exceptions in .Net Framework :>

[2017-09-04 19:39] enricosada commented on #204
Yes, just returning `Seq.empty` was too imprecise... sigh

[2017-09-04 20:49] #204 closed, assigned to nobody

[2017-09-04 22:17] rneatherway commented on #204
OK, I can look at doing a new release of this into Emacs soon. Is the FCS 14 support stable enough right now @enricosada or should I wait a bit more?

[2017-09-04 22:34] Krzysztof-Cieslak commented on #204
I'd rather wait for FSharpLint update, bug that crashes whole FSAC is not really cool ;)

[2017-09-04 22:47] enricosada commented on #204
Yes, let's wait at least for final fix for https://github.com/fsharp/FsAutoComplete/pull/206

It need updated fsharplint, cannot catch that exception to suppress it

Maybe I can also improve the error of projectcraker

From mobile

--
Enrico Sada
@enricosada
________________________________
From: Robin Neatherway <notifications@github.com>
Sent: Tuesday, September 5, 2017 12:17:45 AM
To: fsharp/Fs

[2017-09-05 10:27] enricosada opened #209 "Unify suave and stdio console app"
Currently there is `fsautocomplete.exe` and `FSAutocomplete.Suave.exe`, but are pretty much the same.

Proposed is to unify `FSAutocomplete.Suave` inside `fsautocomplete.exe`, adding a `--transport http` to start fsac. default continue to be stdio

Differences atm are minimal, upgrade is easy (who use suave just change the name of exe, and pass the new argument)

Pro:
- maintenance
- will help soo

[2017-09-05 10:32] enricosada commented on #183
Closing, merged with #200

@dsyme the only issue so far afaik (excluded projcet cracker and msbuild 15), was with the linter but that's NOT becaue FCS ( fsharplint 0.7 used FCS 13, and FSAC used FCS 14 so api mismatch and crash #205  ).

[2017-09-05 10:32] #183 closed, assigned to nobody

[2017-09-05 10:33] enricosada commented on #180
Closing. fixed with #200

[2017-09-05 10:33] #180 closed, assigned to nobody

[2017-09-05 11:01] rneatherway commented on #209
I'd be happy with this change.

[2017-09-05 11:38] enricosada commented on #205
fixed by #206 , upgraded FSharpLint to 0.8 (thx @duckmatt !)

[2017-09-05 11:38] #205 closed, assigned to nobody

[2017-09-05 12:01] enricosada opened #210 "Integrate `goto #load` from ionide"
ref https://github.com/ionide/ionide-vscode-fsharp/pull/517

maybe best place is FCS? but the change is minimal to integrate in FSAC too

[2017-09-06 12:29] enricosada commented on #198
seems fails also on mono, but more sporadic.

from (build log](https://travis-ci.org/fsharp/FsAutoComplete/jobs/272435806#L2640-L2680)

[code]
is

[code]

[2017-09-06 13:12] enricosada opened #211 "sporadic mono crash on test/FsAutoComplete.IntegrationTests/NoFSharpCoreReference"
ref [travis log](https://travis-ci.org/fsharp/FsAutoComplete/jobs/272455852#L2639-L2814)

using #208 to trigger the failure, happen from time to time (obv restarting the job can fix it)

mono crash on test `test/FsAutoComplete.IntegrationTests/NoFSharpCoreReference`

[code]

os: Ubuntu 14.04.5 LTS
mono: 5.2.0.215 but seen that also on 5.0.x

[code]

/cc @nosami @dsyme

[2017-09-06 13:22] enricosada commented on #211
added bugzilla https://bugzilla.xamarin.com/show_bug.cgi?id=59255

/cc @cartermp @KevinRansom if maybe is something already seen in the wild

[2017-09-11 10:01] enricosada opened #213 "client should choose what dotnet and msbuild to use"
now for parsing of fsproj is used the `dotnet`, so resolve that in PATH or from global.json.

That mean the dotnet used, is somewhat fixed based on environment of client.

An example: opening vscode from a terminal, will use the `dotnet` from PATH, and maybe is not the right one for that repo

Also `msbuild` should be found in the usual install locations, and defaulted to that if not found in PATH

[2017-09-13 14:05] enricosada commented on #209
Closing, merged with https://github.com/fsharp/FsAutoComplete/commit/414332e20c540b71c6b32366916c87a65b040294

args:

[code]

old suave is `--mode http --port <PORT>`
the stdio is unchanged.

[2017-09-13 14:05] #209 closed, assigned to nobody

[2017-09-13 17:26] rneatherway opened #216 "Can't build on Linux"
[code]

Have you experienced this @enricosada ?

I am using

    Mono JIT compiler version 5.2.0.215 (tarball Mon Aug 14 15:46:23 UTC 2017)

[2017-09-13 17:44] enricosada commented on #216
Nope sry, that's new /cc @forki @matthid

The Travis passed

You can try run the packe-boostrapper ignoring cache

[2017-09-13 17:57] enricosada commented on #216
Maybe https://github.com/fsprojects/Paket/issues/2552?

[2017-09-13 18:03] matthid commented on #216
yes maybe corrupt cache

[2017-09-14 09:14] rneatherway commented on #216
Thanks, you are indeed correct. After deleting .local/share/nuget everything works fine!

[2017-09-14 09:15] #216 closed, assigned to nobody

[2017-09-21 18:40] enricosada opened #218 "project Output path is wrong for dotnet/sdk project"
the `Output` path of dotnet/sdk project is the `obj` assembly instead of the `bin` assembly

[2017-09-26 19:16] devcrafting opened #220 "Very slow and CPU/RAM usage intensive with big dotnetcore project"
I use Ionide (3.1) to load FAKE 5 new solution (with 32 smalls dotnet core projects, each with 2 or 3 frameworks). Ionide plugin seems to be blocked on "Loading all projects"...looking at Task Manager, I got a high CPU/RAM usage by fsautocomplete and some  dotnet command line (launched by fsautocomplete?).

I imagine that having so many projects does not help, and many target frameworks neither...

[2017-09-26 22:18] #203 closed, assigned to enricosada

[2017-09-29 15:42] ntwilson commented on #220
I think I'm experiencing the same problem (let me know if I should post this as a separate issue).  I have a large .NET Framework solution (targeting 4.5) with 9 F# projects (and various C# projects mixed in).  After development for maybe half an hour, the memory usage starts spiking.  I've seen FsAutoComplete using more than 4GB of RAM, and then start consuming my hard drive disk space.  I witnes

[2017-09-29 15:44] ntwilson commented on #220
I just noticed that if I just open the solution with Ionide, but don't do anything, it _is_ able to finish loading, and the memory usage plateaus at 1/2 GB.

[2017-10-03 10:15] enricosada opened #222 "workspacePeek crash"
moved from https://github.com/ionide/ionide-vscode-fsharp/issues/560 from @mraxani :

Default installation on a Ubuntu-based system.

**F# Language Service (server)** prints this:

[I] 2017-09-23T20:09:28.5012480Z: listener started in 67.424 ms with binding 127.0.0.1:8775 [Suave.Tcp.tcpIpServer]
Unhandled error - Value cannot be null.
Parameter name: path
   at System.IO.DirectoryInfo.CheckPath (S

[2017-10-04 11:11] enricosada commented on #220
Closing.

@devcrafting your issue is tracked by https://github.com/fsharp/FsAutoComplete/issues/161 where there are some hint on current perf issue and how to improve it

@ntwilson yes that's a perf issue with bigger solution, not related to initial issue, but i'll open an issue later. perf diagnose and enhancement PR always welcome.

[2017-10-04 11:11] #220 closed, assigned to nobody

[2017-10-04 11:16] enricosada commented on #106
Adding another double backtick issue

From @Thorium in https://github.com/fsharp/FsAutoComplete/issues/138

Double-ticked variable names are pretty useful when you want to model complex domain.

However, autocomplete don't work on double-ticked discriminated union options. This makes using them quite painful.

Example:
[code]

Tested on VS Code and Ionide.

[2017-10-04 11:16] enricosada commented on #138
Cloising as dupe of https://github.com/fsharp/FsAutoComplete/issues/138 or related to it

[2017-10-04 11:16] #138 closed, assigned to nobody

[2017-10-04 12:45] enricosada commented on #193
notes, from @Krzysztof-Cieslak

code: https://github.com/fsharp/FsAutoComplete/blob/aa505ab9bf0436021ce33d2b385276be91f8dda8/src/FsAutoComplete/FsAutoComplete.Suave.fs#L88

Example in ionide's side: https://github.com/ionide/ionide-vscode-fsharp/blob/b53b55d9e35777c97d158569bf7dd6be6f3b13bd/src/Core/LanguageService.fs#L363-L383

[2017-10-05 12:59] enricosada opened #225 "support cancel request on changes"
in VS reactor requests are cancelled aggressively as you type,
FSAC does not (editors should notify it), so you will get 40 seconds pauses to get tooltips and completion instead of 20 seconds ones

[2017-10-08 07:04] drvink opened #227 "fsi variable is unavailable when parsing script files"
With FSAC 0.34.0 and F# 4.1.18 on Linux:

[code]

Notice that it works if you explicitly reference `FSharp.Compiler.Interactive.Settings.dll`--but you should not have to do this. With the same version of FSAC running on the CLR on Windows, `FsiBug.fsx` parses fine, which is the correct/expected behavior.

Mono version info, just in case it's useful:

[code]

[2017-10-08 12:54] drvink commented on #227
Pinging @dsyme since this involves some hairy stuff that isn't limited to FSAC, and I'm not sure what the best course of action is.

I've tracked this down to (as usual) Mono vs. the CLR, combined with FCS's procedures for determining the "default F# binary path", which ultimately results in `FSharp.Compiler.Interactive.Settings.dll` not being found on Mono.

The problem code is [`FSharpEnvironmen

[2017-10-10 14:54] enricosada commented on #227
I am somewhat in favor of `1`: asking msbuild, a bit slower but reliable. and can be cached for whole session.
And pass it as additional ref for mono.

maybe because i prefer `--simpleresolution` instead of magic resolution from FCS.

I have a related issue trying to find the reference assemblies on .net core parsing an fsx, and i am really really tired of this.
So i am doing that (and can be reus

[2017-10-10 15:20] drvink commented on #227
Do you mean having FSAC ask msbuild, or having FCS ask? There's already plenty of magic resolution in FCS (as outlined/ranted), but doing it there has the benefit of fixing it for FCS clients--though the value may be dubious, as it just adds yet more magic resolution stuff. I defer to you/others here, since you have a better picture of how this plays out for consumers of FCS besides just FSAC.

[2017-10-10 16:04] enricosada commented on #227
Having FSAC ask.. too difficult change FCS for me atm.
the way inside FCS is just guess based on directories and filenames. or try to emulate msbuild resolution (faulty). that;'s fine. and doesnt depends on having msbuild installed.
but ihmo is a just  an approssimation and doesnt always work.

I'd like to use `msbuild` instead, but dont want to add to FCS until is sure it works ok. so for now is

[2017-10-10 16:30] drvink commented on #227
OK, that's what I thought. One problem with this, though, is that while we can expect that msbuild/xbuild exists *somewhere*, it won't necessarily be in the user's `$PATH`: consider, say, users of Emacs (there are probably better examples--Ionide?)--we're unlikely to find `msbuild.exe` unless the user runs Emacs from a developer command prompt or has otherwise set something up to set their `$PATH`

[2017-10-10 17:01] nosami commented on #227
FWIW, I just took a local copy of `FSharp.Compiler.Interactive.Service.dll` and referenced it for the Interactive panel in VS for Mac.

Might make sense to just create a NuGet package for this and reference it that way.

[2017-10-10 17:07] drvink commented on #227
That's an even better suggestion if it's tenable. It completely didn't occur to me that much of this stuff is shipped via NuGet nowadays. If someone can vouch that it isn't e.g. tied to specific F# versions (it's nice that FSAC has backwards compatibility), that sounds like the way to go--it could just be part of pushing FCS releases.

[2017-10-11 13:21] enricosada commented on #227
@nosami yes this is a good idea

As @drvink said, if just need to be aligned with FCS, we can ship it with FSAC bundle and pass as additional reference (`-r`) to `GetProjectOptionsFromScript` and call it a day.

I'll check how do this. i am anyway playing around `GetProjectOptionsFromScript` for #224

[2017-10-11 16:19] enricosada commented on #227
Happen also on windows, with fresh install because new VS 15.x doesnt put anymore that assembly in GAC -> same error.

ref https://github.com/ionide/ionide-vscode-fsharp/issues/590#issuecomment-335607170

[2017-10-11 17:18] drvink commented on #227
I figured it had the ability to break elsewhere (which was why I gave the rundown of how it attempts to search), and I'm not surprised to hear it is, since there are so many ways it can appear to work on one person's system but not on another. We should try to get an answer re: whether that assembly can ship with FCS; it definitely seems the easiest solution, and it's definitely bad for this to ap

[2017-10-12 09:44] rneatherway opened #231 ".NET Core based FSAC"
Reported in emacs fsharp-mode repo: https://github.com/fsharp/emacs-fsharp-mode/issues/150

I am quite out of date with this stuff so I am not sure if it should be possible to run this assembly using `dotnet`. Is that the case? If not, how should we approach bundling this if we can't assume Mono anymore?

[2017-10-12 10:40] Krzysztof-Cieslak commented on #231
#224 adds support for targeting .Net Core, as for now we still need mono.

And I'm not sure what's best way forward after #224 is merged. Since .Net Core version has limitations (no TPs) it can't be used in all cases instead of mono version. @enricosada's idea is to include both versions in editor plugin and start one depending on some heuristic and/or some configuration

[2017-10-12 11:06] enricosada commented on #231
No, it cannot used in all cases.
But there are lot of nice scenario where make sense.

- .net core only projects
- .net standard libraries only
- fable
- lightweight demos/quickstart tutorials

some big limitations of current #224 implementation are limitations of F# in general on .net core:

- TP doesnt work on .net core `fsc` (so neither FCS .net core)
- the fsx scripts target .net framework atm

[2017-10-14 23:09] georgewfraser commented on #156
Example:

[code]

[2017-10-18 12:42] Krzysztof-Cieslak commented on #128
I believe it should be fixed with new cancellation support I've added in #229

[2017-10-18 12:42] #128 closed, assigned to nobody

[2017-10-18 12:43] Krzysztof-Cieslak commented on #225
Fixed by #229

[2017-10-18 12:43] #225 closed, assigned to nobody

[2017-10-18 12:44] Krzysztof-Cieslak commented on #113
It was implemented some time ago.

[2017-10-18 12:44] #113 closed, assigned to nobody

[2017-10-18 12:45] #102 closed, assigned to nobody

[2017-10-18 12:45] Krzysztof-Cieslak commented on #102
Closing old discussion

[2017-10-18 12:48] Krzysztof-Cieslak commented on #106
Tooltips are working, autocomplete on double ticked types and modules is still not working.

[2017-10-18 12:51] Krzysztof-Cieslak commented on #120
Seems to be working in latest FSAC + Ionide

[2017-10-18 12:51] #120 closed, assigned to nobody

[2017-10-18 12:53] Krzysztof-Cieslak commented on #49
This is probably not valid anymore

[2017-10-18 12:53] #49 closed, assigned to nobody

[2017-10-18 13:10] vasily-kirichenko opened #234 "Use `Keywords.keywordsWithDescription` instead of `keywordDescriptions`"
https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/lexhelp.fs#L362

[2017-10-20 21:05] rookboom opened #235 "Crash when missing file reference in .fsproj"
The following project file will cause FsAutoComplete to crash:

[code]

The symptom in Visual Studio Code is the following message in the Output Window for the F# Language Service:
[code]
There is no warning about the real error (a missing file). It just crashes.

FsAutoComplete should fail gracefully in this case and at least log a meaningful error.

[testproject.zip](https://github.com/fsharp/Fs

[2017-10-20 21:25] Krzysztof-Cieslak commented on #235
Probably this line crashes:

https://github.com/fsharp/FsAutoComplete/blob/68a68b609a888a51bb921f570f55d97d3f655b60/src/FsAutoComplete.Core/Commands.fs#L36

[2017-10-22 11:13] enricosada commented on #235
Let me check, sendiing PR https://github.com/fsharp/FsAutoComplete/pull/236

[2017-10-22 17:22] #235 closed, assigned to enricosada

[2017-10-27 18:35] enricosada commented on #227
Anthoer possibility is to add the assembly from fsi location.

as ref https://github.com/fsharp/fsharpbinding/blob/master/FSharp.CompilerBinding/CompilerLocationUtils.fs#L189

[2017-10-27 18:55] enricosada commented on #176
where is msbuild?

some work from omnisharp team we can reuse
https://github.com/OmniSharp/omnisharp-roslyn/pull/988#issuecomment-339947876

[2017-10-27 18:58] enricosada commented on #176
As a note, `dotnet.projinfo` now parse old fsproj too:

- require just the `msbuild`/`xbuild` path.
- no libs loading/redirect, is just a command line invocation, like new sdk parsing.
- no need to setup env var, like `VisualStudioVersion`

that should fix the issue, using the msbuild choosen by user or latest installed.
if build with  `msbuild`, will work

[2017-10-27 20:05] Krzysztof-Cieslak commented on #176
Sounds good to me.

[2017-10-27 20:05] #176 closed, assigned to nobody

[2017-10-28 13:24] nosami commented on #227
This seems wrong to me :)

I think you would be better off using the symlink at `/Library/Frameworks/Mono.framework/Versions/Current` to point to the current version on OSX -
 `/Library/Frameworks/Mono.framework/Versions/Current/lib/mono/fsharp/FSharp.Compiler.Interactive.Settings.dll`.. or `/usr/lib/mono/fsharp/FSharp.Compiler.Interactive.Settings.dll` on linux.

[2017-10-28 13:36] drvink commented on #227
This breaks on all platforms. We should strictly avoid, as much as possible, doing anything that gets into visualfsharp-vs.-fsharp, CLR vs. Mono, or other platform-specific details--the reason we are dealing with this bug at all is because of the fragility and needless complexity of all this code we have for probing where stuff might live. Can someone determine whether it's practical to distribute

[2017-10-28 13:45] drvink commented on #227
Wow. I should just have looked myself. Here is everything comprising `FSharp.Compiler.Interactive.Settings.dll`--it appears to be trivial and could easily be built standalone:

https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/FSInteractiveSettings.txt
https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/FSharp.Compiler.Interactive.Settings/InternalsVisibleTo.fs
https://

[2017-10-29 19:44] #231 closed, assigned to enricosada

[2017-10-30 09:11] #188 closed, assigned to nobody

[2017-10-30 14:43] dsyme commented on #227
It seems reasonable for someone to create a nuget of FSharp.Compiler.Interactive.Service.dll and distribute it with FSAC,

Any application such as FSAC built using FSharp.Compiler.Service.dll that wants to typecheck scripts needs a copy of that DLL, you may as well just distribute it with the application.

[2017-11-01 19:39] #218 closed, assigned to nobody

[2017-11-09 17:46] piaste opened #243 "Exception on empty / trivial script file in `simplifiedNames`"
Open a new .fsx file and click inside (or type a few declarations), noticed this in the Ionide debug log:

[code]

[2017-11-10 11:11] vilinski commented on #243
+1

[2017-11-11 06:28] fergusmeiklejohn opened #244 "autocomplete sugges to add open statement of current module"
In VS Code autocomplete is adding open statements for the module I’m already in when I auto-complete on types I’ve created in that module, it’s also not autocompleting initially on the arguments I’ve passed to the function, instead offering much less likely auto-completes (with open) from unused System Modules

Attaching a screengrab which explains much quicker what I mean:
![screen shot 2017-11-1

[2017-11-11 07:10] vasily-kirichenko commented on #244
You missed `=` in the `score` definition, it should fix the missing parameters.

[2017-11-11 07:16] vasily-kirichenko commented on #244
About opening the module, I can reproduce it in VS

![image](https://user-images.githubusercontent.com/873919/32687244-53bb6b70-c6c9-11e7-9dbd-3391f1ce87e6.png)

I'll take a look at it.

[2017-11-11 09:42] vasily-kirichenko commented on #244
Fixed in https://github.com/Microsoft/visualfsharp/pull/3929

[2017-11-11 22:16] Krzysztof-Cieslak commented on #193
Implemented as part of https://github.com/fsharp/FsAutoComplete/pull/247

[2017-11-11 22:16] #193 closed, assigned to nobody

[2017-11-13 04:02] lust4life commented on #107
does https://github.com/fsharp/FSharp.Compiler.Service/issues/602 and https://github.com/fsharp/FSharp.Compiler.Service/issues/631 not been able to cover this situation ?

seems fcs no need depend on MsBuild 12?

[2017-11-14 17:52] enricosada commented on #243
i can repro

seems for a simple `prova.fsx`, with text

[code]

removing the last `d`, the `symbolUse.RangeAlternate` for both Start and End is `(1,0)` .

[2017-11-15 07:31] 2moveit opened #249 "32bit version of fsiautocomplete.exe"
Refering to this issue https://github.com/ionide/ionide-vscode-fsharp/issues/642# there is a issue to get intellisense working when you're using the 32bit version of the FSharp.Data TypeProvider. For details why please have a look at this issue.
To fix it it's required to run FsAutoComplete as 32 bit. There seems to be no good solution to run the AnyCPU version on a 64 bit OS as 32 bit. Maybe we c

[2017-11-15 10:15] enricosada commented on #249
ihmo we can just recompile `fsatucomplete.exe` as 32bit with another name, and put in same `bin/release` in the build script:

- `msbuild src/fsautocomplete/fsautocomplete.fsproj` ( [there](https://github.com/fsharp/FsAutoComplete/blob/c49fb87de26a723f9eb20c0c9ff562ab0a052b98/build.fsx#L50) ) passing args for:
  - use a different output directory (to not mess with previous exe)
  -  use 32bit
  -

[2017-11-15 15:18] enricosada opened #250 "add `--mode lsp` (language server protocol)"
add another mode `lsp`, to implement [Language Server Protocol](https://www.github.com/Microsoft/language-server-protocol)

while not useful to current editors with better support (like vim/emacs/ionide), will help others less maintained like

- [Atom Editor](https://atom.io/)
- [Sublime Text](https://www.sublimetext.com/)
- [Eclipse Che](https://github.com/eclipse/che/)

More info in https://lang

[2017-11-15 22:22] enricosada commented on #213
adding https://github.com/OmniSharp/omnisharp-roslyn/pull/974 as info

[2017-11-20 17:33] enricosada commented on #192
added `workspaceLoad` command with #238

[2017-11-20 17:34] enricosada commented on #193
Thx @haf was really easy with websocket support in Suave! and works in .net and .net core (both suave v1 and v2)

[2017-11-22 12:25] Titaye opened #254 "FSharpCompilerServiceChecker FileChecked event do not send a normalized file path"
When parsing my project, I'm seeing some exceptions (caught) at this place.
https://github.com/fsharp/FsAutoComplete/blob/7e1a7f5808d31288ef3e81491e6faa389ce5c5d7/src/FsAutoComplete.Core/Commands.fs#L49

My fsproj is using / as path separator and I'm on windows.  The event is raising file paths like :  `d:\t\git\vince-mob\src\vince.mob.api\vince.mob.api\Shared/chessie/Chessie.fs` whereas the file

[2017-11-22 17:58] enricosada commented on #254
awesome catch!

i really think we should add and use only api with someething like

[code]

to enforce the creation with `Path.GetFullPath` everywhere. happen a lot.

[2017-11-22 18:23] Titaye commented on #254
I could have submitted a PR for this case but I'm not sure who should be responsible for normalizing this path. Should we apply it when we need in FSAC or should it be FCS responsibility ?

[2017-11-22 19:08] enricosada commented on #254
we should normalize after the project is parsed.
atm we have two project parser (`projectcracker` and `dotnet-proj-info`), and we shouldnt trust anyone.

[2017-11-23 00:31] #254 closed, assigned to nobody

[2017-11-23 00:37] enricosada commented on #254
@Titaye the #256 should fix this issue, is already merged.
if you can test it and doesnt works, please reopen this one

[2017-11-23 09:09] Titaye commented on #254
👍 Tested rapidly, did not see the exception again. Thanks

[2017-11-23 11:45] enricosada opened #257 "websocket notification split the message"
Dont know if is an issue with websocket client or server side (in suave).

Know facts:

- happen both using `System.Net.WebSocket` and [js websockets/ws](https://github.com/websockets/ws) as client, so probably is server side.
- happen at random, not just for big message or for lot of small messages.

An example is https://ci.appveyor.com/project/rneatherway/fsautocomplete/build/1.0.808/job/u44oie

[2017-11-23 13:07] Titaye commented on #257
Your websocket client is not looping according to the EndOfMessage property. Maybe it will be better with something like this

https://gist.github.com/Titaye/58f835ffeece09d92e415ab75de9a96d

[2017-11-23 16:38] Krzysztof-Cieslak commented on #257
I think I want to move from websockets to normal HTTP calls (Ionide would host its own HTTP server), I think it would be more stable, less cumbersome, and less complex. Also, I'll need HTTP server in Ionide anyway for some other integrations I'm working on, so it's not a lot of additional work.

FSAC branch - https://github.com/fsharp/FsAutoComplete/compare/callWebhook
Ionide branch - https://gith

[2017-11-27 12:08] stweb opened #258 "Unhandled error - Value cannot be null."
[code]

[2017-11-29 08:57] enricosada commented on #258
@stweb can you please add more info?

is that using old fsproj or new fsproj (.net cor usually). is possibile to see the fsproj? (just that, not the source files, i'd like to repro locally the parsing error)
what mono version? `mono --version`

[2017-11-29 09:01] enricosada opened #259 "print git commit sha on started message"
print git commit sha on started message, so is easier to find the commit from logs

so from running

[code]

atm log is like

[code]

change to something like

[code]

[2017-11-29 11:26] enricosada commented on #257
thx @Titaye i'll try like that in test suite.

but is possibile to repro with others clients too (js `websocker/ws` for example), so probably is in suave.

@haf @ademar any clue?

[2017-11-29 13:22] ademar commented on #257
Without digging into it and going by memory; if I recall correctly the client may split the messages into several frames and it is up to the server programmer to put it back together.

You need to check the FIN flag to know if it is the last fragment.

https://github.com/SuaveIO/suave/blob/master/examples/WebSocket/Program.fs#L95

[2017-11-29 13:26] Krzysztof-Cieslak commented on #257
@ademar : we're setting FIN flag to true on every message we push - https://github.com/fsharp/FsAutoComplete/blob/master/src/FsAutoComplete/FsAutoComplete.Suave.fs#L86

[2017-11-29 13:27] enricosada commented on #257
maybe i need to create a minimal repro about it

@ademar we push from server -> client only, never from client -> server

[2017-11-29 13:27] ademar commented on #257
@Krzysztof-Cieslak Isn't it the one sent by the client and received by Suave the one giving you grief ?

[2017-11-29 13:28] enricosada commented on #257
@ademar no, our problem is server send -> client receive

[2017-11-29 13:29] ademar commented on #257
No proxies in the middle?

[2017-11-29 13:30] enricosada commented on #257
nope, use case is:

- FSAC server (suave with websocket) bound to localhost:8080
- ionide vscode extension as client (`https://github.com/websockets/ws` client)

but happen using also `System.NET.WebSocket` as client from time to time. is a bit random

[2017-11-29 13:31] ademar commented on #257
Like that HTTP debugger one often forget it is running and intercepting things on localhost .. that have bitten me in the past ..

Anyhow yeah I guess we need a small POC reproducing the issue

[2017-11-29 13:32] ademar commented on #257
I know for a fact that Suave wont split the messages tho.

[2017-11-29 13:33] enricosada commented on #257
i'll try do that. thx a lot @ademar 😄

[2017-11-29 18:32] stweb commented on #258
Hi Enrico,
Maybe this is related to sharing a source file between the client and server projects?
I could show you via Skype. I haven't yet restarted Code for the latest IonIde update...

CLient
[code]
Server
[code]

[2017-12-03 08:18] enricosada commented on #257
@Krzysztof-Cieslak @ademar i tried to create a minimal repro with node `websocket/ws`, but no luck yet.

as a note, with #261 now

- applyed @Titaye fix for tests, and seems to work ok. Thx a lot @Titaye  !
- there is only one place who does `ws.send`, so dunno this may help.

[2017-12-04 16:45] enricosada opened #262 "if projectcracker fails (SO, csproj, etc), should not crash the server"
ref https://github.com/ionide/ionide-vscode-fsharp/issues/634#issuecomment-343450177

[2017-12-16 22:59] Nospamas commented on #222
Hitting what I think is the same error but on MacOS. Workaround noted in #560 seems to work for me. Adding logs to this though they may be the same as above. I'm going to forego the vs code log as I don't believe (from notes) that it is causing the issue.

Fsharp language server log:

[2017-12-23 14:13] #106 closed, assigned to nobody

[2017-12-23 14:13] #244 closed, assigned to nobody

[2017-12-23 19:51] ctaggart opened #264 "tons of memory used after 3 clicks"
After 3 clicks or so, VSCode with Ionide is using 1.2 GB of memory with most of it used by FsAutoComplete. This is a pretty basic .NET Core Project that targets `net46`. Memory usage seems a bit too high. Anything I can do to help get this back down?

![image](https://user-images.githubusercontent.com/80104/34322256-2406b66a-e801-11e7-8c46-efc84efd053e.png)

bundle source linked pdb files for:

-

[2017-12-24 10:13] enricosada commented on #264
Hi @ctaggart can you please add info about:

- OS (and mono version if osx)
- fsac runtime type: if netcore or net (the `fsacRuntime` setting in ionide)

about `Memory usage seems a bit too high` atm is not optimized for low usage. adding some perf dump/hints may help.

[2017-12-24 15:35] ctaggart commented on #264
@enricosada I've very curious how you would go about troubleshooting this. I created the dump using Visual Studio 2017 by attaching to the process and then selecting Debug > Save Dump As.

https://1drv.ms/u/s!AgzKxNqZP8-4gZwrlWI7zid3N6KJMw

I'm running Windows 10.
[code]

I haven't changed the default Ionide configuration:
[code]
Should I try `netcore`?

Don't you need the pdb files to troubleshoo

[2017-12-25 20:23] enricosada commented on #264
mhh.. yes we miss pdb.
some more MB doesnt matter, if helps. dunno why ionide exclude that, i'll check

we can add portable pdb too afaik.
but if you can send a PR for source linked portable pdb files for FSAC, a lot better

atm probably we need to run FSAC built from source to get the dump, and mean is bad

[2017-12-25 20:28] enricosada commented on #264
Another stuff, is to start a discussion about how to improve perf.
we need to add metrics somehow, and make it easier to gather it

[2017-12-26 03:33] ctaggart commented on #264
The netcore libraries for Ionide include some of the pdb files. I'll try to increase the number and get them source linked. I'll also switch over to using the netcore version.

![image](https://user-images.githubusercontent.com/80104/34346209-2d6a872a-e9d4-11e7-887d-8a2b6c611480.png)

SourceLink 2 requires .NET Core project files, so my PR for this repo will only be for the netcore projects.

[2017-12-30 16:34] tboby commented on #264
![fsac memory](https://user-images.githubusercontent.com/447391/34455784-5846d82e-ed7e-11e7-9660-ca223418ecd1.png)

I've been having great problems with the memory usage of FSAC on my slow ubuntu laptop. I'm using VSCode and FSAC is using several times more memory than any other process on my machine.

I'd be happy to try to help gather usage data.

[2018-01-04 00:42] enricosada commented on #213
adding https://github.com/Microsoft/MSBuildLocator as info

[2018-01-04 02:20] enricosada commented on #213
adding https://github.com/Microsoft/vswhere as info

[2018-01-08 04:39] alanmbarr commented on #259
I'm interested in adding this log. Would it go [here](https://github.com/alanmbarr/FsAutoComplete/blob/master/src/FsAutoComplete/FsAutoComplete.Suave.fs#L224) ?  I'm thinking about using System.Diagnostics.Process to talk to git to get the last sha? Would you advise it going in this same block or register it somewhere else on start up. Should it check first if git exists or if it is in a git repo

[2018-01-08 04:43] baronfel commented on #259
I think it'd rather be written to an AssemblyInfo.fs file as part of the build as an attribute or something, and then at runtime the value could just be read from that attribute and read.   Check out the `AssemblyInfo` target in `build.fsx` for how we write the AssemblyInfo currently.

[2018-01-08 09:56] enricosada commented on #259
@alanmbarr as @baronfel said is the best solution afaik.

feel free to put the implementatin in [src/FsAutoComplete.Core/Commands.fs](https://github.com/alanmbarr/FsAutoComplete/blob/master/src/FsAutoComplete.Core/Commands.fs) so can be shared by both [stdio](https://github.com/alanmbarr/FsAutoComplete/blob/c5cde65a47879f92bf262bb1ea414df5edd809d4/src/FsAutoComplete/FsAutoComplete.Stdio.fs#L41) an

[2018-01-12 02:21] ctaggart commented on #264
I've got pull requests open for the projects, but meanwhile, I've started making builds using appveyor for the projects and posting to myget:

https://www.myget.org/feed/Packages/sourcelink

So far I have Newtonsoft.Json & FParsec.

[2018-01-16 17:50] enricosada commented on #259
Closing, fixed by https://github.com/fsharp/FsAutoComplete/pull/269.

Thank a lot @alanmbarr !!

[2018-01-16 18:00] #259 closed, assigned to nobody

[2018-02-01 00:21] Tombert opened #272 "Paket dependencies not loading"
Hello!
In both Emacs and Vim (on Windows), I am able to use all the FSAutocomplete goodness for stuff with the standard .NET library, and also other files in the project.  However, whenever I load any external dependencies (like Suave), I get the evil-red-underline and it tells me that it cannot find the module.

This file *does* work fine in Visual Studio, so maybe something is incorrectly config

[2018-02-05 15:06] rneatherway commented on #272
It might also be having trouble with the conditionals `<When Condition="$(TargetFrameworkIdentifier) == '.NETFramework' And $(TargetFrameworkVersion) == 'v4.5.2'">`. I am not quite sure how that area of the code behaves currently.

[2018-02-08 10:27] enricosada commented on #272
@rneatherway as a note, can emacs add a way to use the netcore version of fsac? that version use a new parser, and should handle all fsproj better (also old ones).

I need to add a flag/conf to enable new parser somehow also on mono version, and how to choose mono. planned for march

[2018-02-13 21:29] rneatherway commented on #272
Hi, yes I think that is a good idea, but I have decided to admit to myself that I won't have the time to work on these projects for the foreseeable future.

[2018-02-19 11:40] enricosada opened #274 "IntelliSense doesn't work for Office interop assemblies"
ref  https://github.com/ionide/ionide-vscode-fsharp/issues/714

Consider the following code script:

[code]

The project loading fails to resolve `Microsoft.Office.Interop.Outlook`

checked in vs2015 and load correctly.

It doesnt work with neither new project loader nor projectcracker

[2018-02-19 23:45] vbfox commented on #250
The LSP is a lie

![lsp1](https://user-images.githubusercontent.com/131878/36401360-51853d74-15d7-11e8-81b7-343326037e60.gif)

[2018-02-22 11:33] enricosada commented on #250
gogo @vbfox !

[2018-03-05 00:24] alanmbarr opened #277 "Tests breaking due to dependencies upgrade"
I'd like to fix this issue but need a little guidance. I was able to get the tests to run again when I changed references in [TestHelpers.fsx](https://github.com/fsharp/FsAutoComplete/blob/master/test/FsAutoComplete.IntegrationTests/TestHelpers.fsx) from net46 to net461 also optionally https://github.com/fsharp/FsAutoComplete/blob/master/build.fsx#L186 this could be changed too but is there a pref

[2018-03-07 23:06] Krzysztof-Cieslak commented on #277
Fixed by #278

[2018-03-07 23:06] #277 closed, assigned to nobody

[2018-03-07 23:07] #257 closed, assigned to nobody

[2018-03-07 23:08] Krzysztof-Cieslak opened #281 "Investigate breaking changes in latest FCS"
Test results diff: https://github.com/fsharp/FsAutoComplete/commit/9ad3fc12d9266d2bcbf9c99a15643e79db841206

[2018-03-08 19:37] enricosada opened #283 "completion with backticks doesnt work"
Completion with backticks doesnt send correct value as text to insert

ref https://github.com/ionide/ionide-vscode-fsharp/issues/726

[code]

With completion at `|` the result shold be

[code]

instead is

[code]

[2018-03-18 00:52] chinwobble commented on #264
What's the best way to measure performance and integrate into the CI process so that we can check for performance regressions?

Does a new project with benchmarkDotNet (or similar) need to be added with the build.fsx updated?

[2018-03-18 01:35] chinwobble opened #284 "Combine .NET Framework and .NET Core fsproj and sln files"
With VS 15.6, multi-targeting projects appear to be working properly in the IDE.

I suggest that we combine the project files if possible.

I ran into errors when trying to benchmark some tests on .NET Core where unrelated fsproj for .NET framework was throwing errors despite not even being used. After deleting the .NET framework fsproj, the tests ran properly.
`The value "" of the "Project" attri

[2018-04-02 15:13] ovatsus opened #286 "`build LocalRelease` fails when having VS 2017 15.6.4 / F# SDK 10.1 is installed"
MSBUILD : error MSB1040: ToolsVersion is not valid. The tools version "14.0" is unrecognized. Available tools versions are "15.0", "2.0", "3.5", "4.0".

[2018-04-09 21:00] #286 closed, assigned to nobody

[2018-04-12 07:46] swrhim commented on #283
Hi @enricosada I'm taking a look into this issue and I wanted to confirm something I found. It looks like by the time this code is called in the CompilerServiceInterface.fs under TryGetCompletions:
`let! results = checkResults.GetDeclarationListInfo(Some parseResults, pos.Line, lineStr, longName, getAllSymbols)`
longName has already parsed out the double backticks, so the CompilerService does not

[2018-05-11 08:10] kjnilsson opened #291 "New release 0.35?"
There has been many commits since the last release - is it worth scheduling another one?

[2018-05-18 20:07] baronfel opened #292 "StackOverflow when providing Namespace Suggestions"
I ran into an FSAC stackoverflow while editing today that seems to be related to the `GetNamespaceSuggestions` command.

It happens consistently on my repository, and the stack trace is truly huge. It's roughly 30k lines.
The interesting bit happens towards the very bottom:

[code]
So the GetNamespaceSuggestions command ends up calling ToList on a Seq and that Seq goes very, very, very deep. The m

[2018-05-22 18:36] baronfel commented on #292
I _think_ this is when using the new netcore runtime, coupled with the RC1 version of the dotnet SDK 2.1.  I stopped seeing this (was using netcore fake) as soon as I deleted those SDK versions. Perhaps a problem with the SDK?

[2018-05-22 18:38] Krzysztof-Cieslak commented on #292
TBF I've never seen this before. I'm usually using netcore runtime, but I don't install RCs

[2018-05-22 18:40] baronfel commented on #292
Me either :D I just did it to try out the FAKE global tool support.

[2018-05-22 18:49] Krzysztof-Cieslak commented on #292
Well... let's just close it and pretend it didn't happen ;)

[2018-05-30 12:38] ghost commented on #264
I am not sure how helpful this is, but I took a heap snapshot of fsautocomplete when opened on a basic enough fsproj, it seems that out of the 1.5gb, FsAutoComplete holds onto about 800mb, a very very naive guess shows the following:

[code]
Which seems like some pretty large numbers, however this code appears to come from the Lexer, so this makes sense. It will be interesting to see if https://gi

[2018-05-31 22:42] ghost commented on #264
It appears the latest version of ionide, which packs the latest version of FAC has improved the memory situation on my system. Can others try and report findings?

[2018-06-02 12:13] Krzysztof-Cieslak commented on #292
Happens for me after installing 2.1 RTM

[2018-07-04 14:19] Treferwynd opened #294 ""Parse aborted" while parsing .fsx file"
* OS: linux
* fsharp:  4.1
* FsAutoComplete: 0.34.0

I have trouble (i.e. doesn't work) with auto completion in emacs, and I think the problem is here:
FsAutoComplete can't parse files. E.g. `test.fsx` is a file containing only `let i = 1`
[code]

And it just hangs there.

I also tried to change `xbuild` to `msbuild` but I couldn't find how...

[2018-07-04 14:47] Krzysztof-Cieslak commented on #294
After `parse` request you need to send content of the file into standard input, ended with `<<EOF>>` tag as described in https://github.com/fsharp/FsAutoComplete#communication-protocol

(this is not solution to any emacs problem, just showing why your manual test is not working ;) )

[2018-07-04 15:08] Treferwynd commented on #294
Thanks for the swift reply!

Ops, I misunderstood what `--commands` told me, I assumed it just meant a new line at the end of the file!
Still it doesn't seem to work:

[code]

Edit: I also tried with the sample in the link you provided, and it doesn't work either

[2018-07-22 16:09] juergenhoetzel commented on #291
i second that, there is a branch `latest_fcs_may2018` `Ionide` seemst to use. `Emacs` still uses the latest official release `0.34` and thus has the same issues as mentioned here: [Error: parsing resolved p2p refs, expected properties not found](https://github.com/enricosada/dotnet-proj-info/issues/12#issuecomment-362683841).

[2018-07-25 12:27] tboby commented on #264
@abk-x no improvement for me on linux. My computer eventually freezes due to the steady increase in FSAC memory/cpu usage! I've resorted to having a timer that reminds me to kill the process every 20 minutes.

[2018-07-25 16:13] juergenhoetzel commented on #291
@Krzysztof-Cieslak  Would you mind elaborating on why `ionide` uses a custom branch of `FsAutoComplete`?

[2018-07-26 17:48] Krzysztof-Cieslak commented on #291
@juergenhoetzel, because this particular branch is using FCS version built from VF# source - FCS releases are fairly rare, and *I* feel comfortable about using manually built version of FCS in Ionide, and I don't want to enforce that view on any other potential users of FSAC.

[2018-07-26 17:58] goswinr commented on #291
@Krzysztof-Cieslak what does the FCS built form VF# offer or do different? I am asking because I am using the regular FSC for a project of a hostabel F# scripting editor.

[2018-07-26 18:05] Krzysztof-Cieslak commented on #291
@goswinr, lot of small, incremental performance fixes and bug fixes has been happening over last couple of months. It's hard to say from top of my head what are exact fixes, but I believe some decent performance fixes hasn't been released in NuGet package yet.

[2018-07-28 06:18] juergenhoetzel commented on #291
Thanks a lot for pointing this out :+1:

Because @rneatherway isn't active on this repository currently I would appreciate if a maintainer (@Krzysztof-Cieslak, @forki, @kjnilsson, @enricosada ) could make a new release, because `fsharp-mode` and all other editors still have use the outdated release based of the `master` branch.

[2018-07-30 10:14] inosik opened #300 "XML docs produced by C# compiler are interpreted as markdown code blocks"
To reproduce this, create a C# class library and reference it from an F# project, note the formatting of the XML docs:

[code]

The generated documentation file looks like this:

[code]

The leading whitespace in the XML document causes the text to be interpreted as a code block in VS Code:

![Screenshot - Summary rendered as code block](https://user-images.githubusercontent.com/11393003/43388575-

[2018-07-30 10:16] Krzysztof-Cieslak commented on #300
CC: @MangelMaxime

[2018-07-30 10:24] MangelMaxime commented on #300
This is strange because it should appear has:

<img width="499" alt="capture d ecran 2018-07-30 a 12 23 05" src="https://user-images.githubusercontent.com/4760796/43392232-55c019f0-93f3-11e8-91d3-3d4debbb965b.png">

![img_0376](https://user-images.githubusercontent.com/4760796/43392238-5f9f5bde-93f3-11e8-9c75-088f4a5f0f70.JPG)

I suppose the doc comment coming from C# libs don't follow the same pa

[2018-07-30 11:09] inosik commented on #300
Yes, the F# compiler formats the docs file a little bit differently, the XML isn't as "well formatted" as the C# version:

[code]

Output:

[code]

Yes, that's strange indeed.

[2018-07-30 11:15] inosik commented on #300
I don't see the header if the function is defined in another assembly or NuGet-package (read as: taken from the XML file):

![Screenshot - Missing "Description" header](https://user-images.githubusercontent.com/11393003/43394324-9dcf25a4-93fa-11e8-9c2a-53b7a08fb370.png)

[2018-07-30 12:05] MangelMaxime commented on #300
In the example your provide `Program.withReact` the documentation isn't using XML synthax`<summary></summary>` so this is normal.

See the source code: https://github.com/elmish/react/blob/v1.x/src/react.fs#L23

However, even if the API use `<summary></summary>` like in [`List.find`](https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/FSharp.Core/list.fsi#L209) I don't see it being ge

[2018-07-30 13:00] inosik commented on #300
That doesn't matter, the generated XML still has the `summary` tag:

[code]

But let's get back to the original issue again 😄

[2018-07-30 14:36] MangelMaxime commented on #300
For info, I already have a fix available for this issue. I am working on fixing edge cases because XML isn't whitespace sensitive where Markdown is.

[2018-08-02 07:40] inosik commented on #300
This is fixed in Ionide 3.25.1. Thanks @MangelMaxime ❤️

[2018-08-02 07:40] #300 closed, assigned to nobody

[2018-08-08 17:14] ghost commented on #227
Any updates on this issue? I'm really new to .net / f# , coming from js/python but I like f# and i'm trying to learn it in my spare time. I'm going over the stuff in fsharpforfunandprofit and one of the first examples involves running this code from an fsx script.

[code]
I'm using vcode with ionide on Ubuntu 18 and the error appearing in the editor is

Any details on how to fix this?
I added the

[2018-08-18 17:47] baronfel commented on #294
I couldn't repro this with the latest off the `fcs_20180726` branch.

[2018-08-18 18:14] #294 closed, assigned to nobody

[2018-08-22 18:34] baronfel opened #309 "Potential issue resolving FSharp.Core to use for Script Files"
Copy/pasting slack thread here:

[code]

so the end result seems to be that we found an old version of FSharp.Core. The 15.8 changes don't bundle a version of FSharp.Core anymore, so we should think about how to find that.

[2018-08-22 20:16] Krzysztof-Cieslak commented on #309
CC: @cartermp

[2018-08-22 21:04] baronfel commented on #309
I think in the worst case we could defer to the FSharp.Core.dll that's colocated with FSAC. Right now it's `None` if not present at the probing locations, but we know for a fact that one is present at that location.

[2018-08-22 21:20] baronfel commented on #309
here's what such a situation would look like:

mono:
[code]

netcore:
[code]

This would mean that a few spots that are `fsharpCoreOpt` in the codebase would change to always have an explicit FSharp.Core.dll reference.

[2018-08-22 21:22] baronfel commented on #309
of course, then we'd have to think about overrides, tying the version of FSharp.Core that FSAC itself is pinned to to this feature, etc.

[2018-08-22 21:26] cartermp commented on #309
We now use the NuGet package for our deployment, so there's no deployed FSharp.Core sitting in that SDK folder. I would recommend checking the NuGet cache, bundling FSharp.Core yourself, or (preferred) depend on the NuGet package and make it part of the deployment.

[2018-08-22 21:28] baronfel commented on #309
We're already doing the third option there, I just worry about back-compat for fsharp.core in this situation. I guess scripts have no expectation of longevity though? (At least without version pinning in hash directives)

[2018-08-22 21:29] cartermp commented on #309
The newer binary is 100% backwards-compatible, so unless someone managed to make their scripting environment depend on a specific binary, I wouldn't worry about anything. Doing that sort of breaks you into jail anyways.

[2018-08-24 20:43] Krzysztof-Cieslak commented on #309
Fixed by #310

[2018-08-24 20:43] #309 closed, assigned to nobody

[2018-09-13 16:39] ed-ilyin commented on #291
Can we expect new release soon? I have tried to compile, but it fails on Mac and Ubuntu

[2018-09-28 00:45] rojepp opened #314 "Build failure"
The build fails with a bunch of errors, that to me mostly look like FAKE 5 issues, but I haven't looked carefully yet. I'm hesitant to start fixing those errors with such a big PR #307 not being merged.

Maintainers, what is the state of this repo? ;-)

[2018-10-11 16:48] #281 closed, assigned to nobody

[2018-10-11 16:49] #177 closed, assigned to nobody

[2018-10-12 17:38] Krzysztof-Cieslak commented on #283
Fixed in https://github.com/fsharp/FsAutoComplete/commit/8b588283ee5a8638ec6c255cba13ecfd626691e3

[2018-10-12 17:38] #283 closed, assigned to nobody

[2018-10-24 13:10] #314 closed, assigned to nobody

[2018-12-05 22:29] vbfox opened #317 "A case of constant CPU usage"
So I started my investigation by noticing some nice RED power usage in Task Manager when I was doing something else than F#

![image](https://user-images.githubusercontent.com/131878/49545740-c2d57f80-f8de-11e8-8d1c-34b6534c3245.png)

Turns out it's an FSAC connected to Ionide in VSCode with my https://github.com/vbfox/MasterOfFoo project open... The CPU never goes down, always ~20%

Attaching a d

[2018-12-31 14:44] Krzysztof-Cieslak opened #321 "New maintainers needed"
Hi,

I think it's pretty obvious that FSAC needs some more maintainers/people directly involved in project. Due to multiple reasons some of the people that's been involved with the project for long time are not really contributing or helping any more (and I'm not trying to blame anyone here, life happens).
 I became main contributor over last few years due to my work on Ionide and all the features

[2018-12-31 15:52] enricosada commented on #321
Thanks for the ping @Krzysztof-Cieslak and your work here.

I expect to continue contribute to FSAC, but atm i am working on the project loading, so is related but work is not directly in this repo, until is ready.
Work is in https://github.com/enricosada/dotnet-proj-info/ because is independent, easier to test and can be shared to project who just need to initialize FCS (example fable)

That will

[2018-12-31 17:17] Andegawen commented on #321
Hi,
I still feel like beginner in F#, but if I can help I would be very happy.
I am trying to convince people in my current job to try F#, but it's hard :/

[2019-01-01 15:33] eriawan commented on #321
@Krzysztof-Cieslak
I would like to help you to be the maintainer of this cool FsAutoComplete repo, especially focus on the CI build on Windows, Linux, and Mac.

Please let me know if I'm accepted or not 🙂
Don't worry, I'll still offer my help as much as I can, because I use FsAutoComplete a lot and it's time for me to give back.

[2019-01-02 19:51] Krzysztof-Cieslak commented on #321
I'm not the one to accept anyone or not, I'm not the owner of this repository, I can't give anyone any access to it, even if I wanted. I'm just random contributor with write access to the repo, who pointed out elephant in the room.

Any decisions should be made by F# Software Foundation (Core Engineering group?) as they are the owner of `fsharp` organization... or someone else. /shrug

[2019-01-03 11:50] 7sharp9 commented on #321
All thats required @eriawan is making PR's and reviewing them :-)

[2019-01-03 15:33] andredublin commented on #321
Would be happy to help out 😃

[2019-01-04 01:30] prosconi opened #322 "Implement interface from Visual F# Power Tools"
It would be nice to have the *implement interface* feature like in Visual F# Power Tools:
https://fsprojects.github.io/VisualFSharpPowerTools/implementinterface.html

Relevant code:
https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharp.Editing/CodeGeneration/InterfaceStubGenerator.fs

Related issue in Ionide:
https://github.com/ionide/ionide-vscode-fsharp/issues/987

[2019-01-07 11:32] MangelMaxime commented on #322
I can take a look at it, as I ported the StubGeneration feature.

[2019-01-08 12:09] MangelMaxime commented on #322
Ok, I ported the code and it's compiling.

Now, I need to explore why it's always returning an empty array of members 😅

[2019-01-10 20:45] baronfel commented on #321
If anyone wants to attempt a simple task to learn the ropes, https://github.com/fsharp/FsAutoComplete/issues/249 would be pretty easy and I'd be willing to work with you on it to see it through.

[2019-01-10 20:46] baronfel commented on #36
Is the intent here to have a FsAutoComplete nuget package that just zips up all the outputs and makes them available via single-package download?

[2019-01-10 21:21] cartermp commented on #264
@ctaggart I recommend download PerfView: https://github.com/Microsoft/perfview/blob/master/documentation/Downloading.md

You can use it to run a collection after you've opened your project(s) in VSCode:

![image](https://user-images.githubusercontent.com/6309070/50997349-2bfd7380-14d9-11e9-83f7-0a49f8a37e9c.png)

After ~30 seconds or so of using Ionide such that it will start using lots of memory

[2019-01-10 21:23] baronfel commented on #264
We also need to look at doing another release of FSharp.Compiler.Service. The most recent is 4 months old per nuget, and I know the team has put in some good perf work since then.

[2019-01-10 21:34] cartermp commented on #264
Not sure which version Ionide uses, but IIRC @Krzysztof-Cieslak does build the package from the VisualFSharp repo, so it may not be horribly out of date

[2019-01-10 21:43] baronfel commented on #264
Ionide's using master of this repo, so the same 25.0.1 version that's ~4months old.
[code]

[2019-01-11 01:11] cartermp commented on #317
I tried reproducing this by leaving it open a bit and typing up some more stuff in various files, but can't reproduce this

[2019-01-11 01:54] cartermp opened #323 "Many GB per second are allocated after using FsAutoComplete solution for a while"
Actions:

* Build the project
* Open VSCode
* Open some files
* Write a few new functions that use FCS types

GC rollup:

![image](https://user-images.githubusercontent.com/6309070/51008372-54e52f00-1500-11e9-84ab-fa3cab351399.png)

53% of these allocations come from calling the SimplfyNameDiagnosticAnalyzer:

![image](https://user-images.githubusercontent.com/6309070/51008416-88c05480-1500-11e9-9

[2019-01-11 01:59] cartermp opened #324 "Suave.Json.toJson allocates ~22MB on the large object heap"
* Open FSAC solution
* Open some files
* Edit some functions that use FCS types

![image](https://user-images.githubusercontent.com/6309070/51008568-2d429680-1501-11e9-987a-3e38f34b8ee5.png)

Not an incredible amount, but over a long period of time this may pile on and lead to noticeable GC pauses (which will halt the FSAC process).

[2019-01-11 02:13] cartermp commented on #323
This is sort of expected, but `symbolUses` in the analyzer is ~7.4% of CPU time after being run 22 times while typing around in some files:
![image](https://user-images.githubusercontent.com/6309070/51009055-5e23cb00-1503-11e9-80e1-77e7622a59bb.png)

[2019-01-11 04:22] cartermp commented on #324
It may be better to hold off on anything related to this until at least after #320 is merged.

[2019-01-11 11:14] Krzysztof-Cieslak commented on #317
I've seen this happen but can't find reliable reproduction.

[2019-01-11 11:24] juselius commented on #317
I'm experiencing similar things, having serious performance issues with fsa.

I have a fairly complex project, consisting of 9 subprojects (using EF Core, WebSharper, some C#, yadda, yadda). I'm not able to open the whole solution at once, because fsa is then using 60-80% cpu constantly, and +4GB of memory after a while. If I work on  a project, by project basis I'm able to get work done, but I mu

[2019-01-11 15:41] cartermp commented on #317
@juselius If you'd like, you can email me (phcart at microsoft dot com) with additional repro info or a copy of the project. I'm under NDA when communicating via email. If I profile it and find something, is it okay to post back here, or create a separate issue?

[2019-01-11 16:20] rneatherway commented on #36
That might have been it, but honestly it is so long ago that I cannot remember why this would be useful.

[2019-01-11 20:07] juselius commented on #317
@cartermp I'll send you the repo in a few minutes. You can post here, no problem. There is nothing super secret about the project, it's just not open source.

[2019-01-11 21:48] cartermp commented on #317
Thanks @juselius , I could reproduce high memory usage and pretty high CPU as well after doing a Find all References and modifying a single function. This was ~3 minutes after opening the solution.

The biggest culprit is the use of FSharp.Data. It's responsible for 1.5GB of large object heap allocations, which is _enormous_:

![image](https://user-images.githubusercontent.com/6309070/51061024-9c2

[2019-01-11 21:59] cartermp commented on #317
After leaving the project open a bit longer and trying things again, I can confirm that memory and CPU usage is dominated by FSharp.Data here. Total CPU time is now 7% for the type provider instantiation path and the LOH allocations are now nearing 3GB (!!!!).

I'm pretty confident that issues here aren't going to be related to FSAC. We still need to investigate the type provider issue a bit more

[2019-01-12 08:50] juselius commented on #317
Glad you managed to pinpoint the problem. I've also had problems with SQLProvider, which I have deprecated in favor of EF Core.

I found a workaround for SQLProvider, which should work for FSharp.Data too: Refactor all TP dependent code into a small, independent project, build and pack as a nuget. Then use the a package reference instead of a project reference. The biggest problem is versioning. I

[2019-01-16 17:09] enricosada commented on #36
@baronfel ihmo the easier way to release FSAC will be:

- pack the fsac as .net global tool (so will bundle the .net core fsac) with `/p:PackAsTool=true`
- copy the published .NET FSAC inside the nupkg, in `tools/net461/any`, similar to `tools/netcoreapp2.0/any`
- publish that package to nuget org

that will allow to install fsac with `dotnet tool install`, or bundle in others editors extensions b

[2019-01-17 03:09] ghost opened #326 "ReferencedProjects empty OtherOptions"
Moving from https://github.com/ionide/ionide-vscode-fsharp/issues/924#issuecomment-454999848 to make it easier to troubleshoot:

Finally time to debug this a bit (holidays). I set up a debug version of FsAutoComplete and printed the project options in full for a working version of my code, and then a non working version, and diffed the output.

When the issue occurs, it appears that the [FSharpPro

[2019-01-19 19:07] juselius commented on #317
I removed every single type provider from the project, and use FSharp.Data.CsvFile.Load() for CVS parsing instead. Interestingly, FSAC still goes haywire with CPU consumption and huge 3+ GB memory usage.

[2019-01-20 16:54] enricosada commented on #326
if the `OtherOptions` of a `ReferenceProject` are empty, i think the project loading failed.

if we run FSAC in .NET, than .NET is installed, so is safe to use it.

Probably is better to use the real path found by FSAC euristic, not just `msbuild` (so using the one in PATH). ref https://github.com/fsharp/FsAutoComplete/pull/325#issuecomment-455185496

yes, seems the load of the project failed. so

[2019-01-21 15:35] MangelMaxime commented on #322
Quick update, I am making progress.

I am now trying to fix the insertion range and then will need to clean the implementation.

![2019-01-21 16 34 46](https://user-images.githubusercontent.com/4760796/51483938-91374b80-1d9a-11e9-8637-53d6749d5f28.gif)

[2019-01-21 21:42] baronfel commented on #284
This is done now! #325 unified the project and solution files.

[2019-01-21 21:43] baronfel commented on #291
@enricosada @Krzysztof-Cieslak what do you all think about cutting a release now?

[2019-01-21 22:45] #284 closed, assigned to nobody

[2019-01-22 14:08] enricosada commented on #291
i think we need to review the disabled tests first.
- some things doesnt work (linter with .NET FSAC)
- some good tests are skipped because test assets need to be upgraded (the test suites projects using msbuild 4)
- reenabling the FSAC http testing doesnt matter a lot atm, because is similar to stdio and ionide test it anyway. the two extensions (vim/emacs) use stdio btw.

[2019-01-22 14:10] baronfel commented on #291
That's sounds like a good list to tackle, I'll focus my efforts there.

[2019-01-22 14:20] Krzysztof-Cieslak commented on #291
And in longer term we will move to LSP

[2019-01-22 22:31] cartermp commented on #317
@juselius If you have another version you can share with me, I can look into it to see if there is another specific problem that hasn't bee filed already

[2019-01-23 10:41] juselius commented on #317
@cartermp I'll send you a link in a moment.

[2019-01-24 00:20] wanderley commented on #291
Does some one have a workaround to make `fsharp-mode` work in Windows?  I am facing the same error (Error: parsing resolved p2p refs, expected properties not found) in Windows within the release 0.34 and I hope it fixed in truck.

[2019-01-29 03:27] paytonrules opened #331 "Exception Using Master release (mono) with emacs-fsharp"
I'm trying to build FSAutoComplete from master and use it with `emacs-fsharp-mode`, and it currently appears to throw an exception on loading fsharp files. I've got the exception information below:

[code]

[2019-01-29 21:31] baronfel commented on #198
The diff on .net core on latest master is a bit different:
[code]

The problem now seems to be that there's no FSharp.Core.dll in the GAC on mono anymore, and the set of default resolution folders doesn't include FSharp.Core anymore.

[2019-01-30 14:56] baronfel commented on #291
I've started looking at reenabling some of the msbuild 4 tests and one thing I keep coming across is that FSharp.Core is no longer able to be resolved on more recent mono in these cases, since FSharp.Core is no longer in the GAC. should these project files be updated to use a package reference to FSharp.Core with a `Reference` element with hintpath, etc?

Similar question about `System.Runtime` he

[2019-01-31 17:31] Krzysztof-Cieslak opened #333 "Add command to resolve _ in generic type signature."
By @7sharp9 on Slack:
[code]

[2019-02-03 20:39] luis3m commented on #331
I got exactly the same error. Any update @paytonrules?

[2019-02-04 03:58] paytonrules commented on #331
Not so far, but I haven't tried to debug much, at least not at the code level.

[2019-02-05 23:40] cartermp commented on #317
@juselius at least with the latest link, I'm still seeing the majority of work coming from Provided Types in the following scenario:

* Restore and build the project
* Open in VSCode
* Open up a few files
* Wait for CPU and memory to spike up (currently 12% CPU and 5.5 GB memory)

It's dominated by LOH allocations (1.3 GB) which ends up in constant GC churn that pauses the process. Working set mem

[2019-02-06 13:11] juselius commented on #317
Thanks for the update @cartermp! I'm really looking forward to 4.6 and anonymous records!

I'm not explicitly using any provided types, but perhaps FSharp.Data.CsvFile uses them internally?

As for the IntelliSense problem, my colleague figured it out: The root of problem is in the Entity Framework project, which is a C# project with a number of F# dependencies.  The F# subprojects seem to make Io

[2019-02-07 10:53] enricosada opened #336 "linter test fails on .NET"
ref https://github.com/stephan-tolksdorf/fparsec/issues/34

[2019-02-08 09:33] Krzysztof-Cieslak commented on #326
@enricosada any idea what’s happening here? Is that a problem in dotnet-proj-info?

[2019-02-13 17:08] 7sharp9 commented on #324
I would love to know whats in here:
![screen shot 2019-02-13 at 12 25 25](https://user-images.githubusercontent.com/588746/52729861-edfcdf00-2fb1-11e9-83f4-e8efef7c6c4e.png)

[2019-02-13 17:18] cartermp commented on #324
#323 is likely much more of a contributor to the working set memory usage than this. But this is LOH allocations which means that over time it will cause the GC to pause all threads when it collects. That need not happen at high memory usage levels either.

[2019-02-13 19:31] 7sharp9 commented on #324
In my instance I saw a sawtooth graph of allocation with cpu spikes at GC I guess.  At this point I have tor restart as its no longer responsive.

[2019-02-13 19:41] cartermp commented on #324
Without profiling things it's unclear what the issue is. But I don't think this is the problem, otherwise it would have shown up in my own profiling.

[2019-02-13 23:35] 7sharp9 commented on #324
Yep of course, In this instance it was opening falanx and opening half a dozen files

[2019-02-14 02:17] baronfel opened #339 "Update MSBuild error normalization logic to account for reporting changes"
example saved report:
[code]

after running on mono:
[code]

differences I see:
* type names are fully-qualified
* memory location and line number are present now
* there's a space between the function/ctor and the parameter list

[2019-02-14 02:20] baronfel commented on #339
We're seeing this specifically on the `OldSdk/invalidprojectfile.json` test, example job run is [here](https://travis-ci.org/fsharp/FsAutoComplete/jobs/493015424)

[2019-02-14 02:21] enricosada commented on #339
integration test: `OldSdk/InvalidProjectFileRunner.fsx`

also the message is a bit different.

.net

[code]

vs mono

[code]

[2019-02-14 02:23] baronfel commented on #339
It might be less painful to have `.windows` or `.mono` versions of these files if the outputs differ so much.

[2019-02-18 12:36] #336 closed, assigned to enricosada

[2019-02-20 12:35] enricosada commented on #291
FSAC [v0.35.0](https://github.com/fsharp/FsAutoComplete/releases/tag/0.35.0) released.

Thanks a lot to @baronfel for the help with the maintenance work.

About the future, i'll publish releases more frequently.

Closing.

[2019-02-20 12:35] #291 closed, assigned to nobody

[2019-02-20 12:38] enricosada commented on #291
A note, i'll now use [github projects](https://github.com/fsharp/FsAutoComplete/projects) to track next releases.

I'll try to cut down small releases, and ASAP after a new FCS version is published.

ref https://github.com/fsharp/FsAutoComplete/issues/321#issuecomment-465560144

[2019-02-20 12:48] enricosada commented on #321
From now on, i'll take the role of primary maintainer from @rneatherway ( ref https://github.com/fsharp/FsAutoComplete/pull/344 ), to publish releases, issue triage and general maintenance.

Like before, i'll work also to improve the project system component (fsproj/msbuild/sln/fsx) and .net core support in general.

I'll do frequent releases and ASAP after a new FCS version is published.

I'll tr

[2019-02-20 12:48] #321 closed, assigned to nobody

[2019-02-21 09:24] enricosada commented on #331
hi @paytonrules @luis3m

what OS and mono version?

[2019-02-21 09:27] enricosada commented on #161
new developments of project system will be in https://github.com/enricosada/dotnet-proj-info/ and used here as lib.

Closing.

[2019-02-21 09:27] #161 closed, assigned to nobody

[2019-03-01 09:52] enricosada opened #348 "Type Provider issue when using netcore FSAC"
from  @isaacabraham in https://github.com/ionide/ionide-vscode-fsharp/issues/1026

Using the netcore version of FSAC doesn't appear to work with type providers. Using it with e.g. JSON TP gives this error:

![image](https://user-images.githubusercontent.com/1781813/52953415-b2825c00-3387-11e9-9eb0-693acb14614a.png)

I've tried adding a reference to this System.Private.CoreLib as a #r but no change

[2019-03-04 18:10] juergenhoetzel commented on #331
I can't confirm this issue. I just did a build using `make install ac_from_src=yes` ([https://github.com/fsharp/emacs-fsharp-mode/pull/192](https://github.com/fsharp/emacs-fsharp-mode/pull/192)).

* Arch Linux
* Mono 5.18.0